.coreConfigurator .configTabs {
	height: 330px;
	border: 1px solid #CCC;
	border-top: none;
}
.coreConfigurator .tabs {
	float: left;
	width: 15%;
	list-style: none;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 100%;
	border-right: 1px solid #CCC;
	background: #EEE;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.coreConfigurator .pages {
	float: left;
	width: 85%;
}
.coreConfigurator .pages .page {
	padding: 5px;
	overflow: hidden;
}
.coreConfigurator .tabs .navTab {
	list-style: none;
	vertical-align: middle;
	margin: 0px;
	height: 26px;
	padding: 3px 2px;
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-bottom: 1px solid #CCC;
}
.coreConfigurator .tabs .navTab:hover {
	color: #C00403;
}
.coreConfigurator .tabs .navTab.selected {
	color: #C00403;
	border-right: 3px solid #C00403;
}
.coreConfigurator .tabs .navTab span {
	display: block;
	line-height: 20px;
}
.coreConfigurator .switchRow {
	width: 25%;
	display: block;
	overflow: auto;
	padding: 5px 10px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.coreConfigurator .switchRow.ajax, .coreConfigurator .switchRow.logger {
	float: left;
}
.coreConfigurator .testerPanel .packageConfigurator {
	padding: 5px;
}
.coreConfigurator .testerPanel .packageConfigurator h4 {
	margin: 3px 5px;
}
.coreConfigurator .testerPanel .packageList {
	height: 200px;
}

.coreConfigurator .switchRow > span {
	float: left;
	min-width: 150px;
	padding-right: 10px;
}
.coreConfigurator .switchRow > .uiSwitchButton {
	float: right;
}
.coreConfigurator #logViewer {
	height: 280px;
	overflow: auto;
}

.coreConfigurator .resourceProfiler {
	padding: 10px;
}
.coreConfigurator .resourceProfiler .resourceListContainer {
	border: 1px solid rgba(166, 166, 166, 0.5);
	height: 290px;
	overflow: auto;
}
.coreConfigurator .resourceProfiler .resourceListContainer .cssResources {
	border-bottom: 1px solid rgba(166, 166, 166, 0.5);
}

.coreConfigurator .resourceProfiler .resourceListContainer .bootResource {
	list-style: none;
	padding: 3px;
	margin: 0px;
	line-height: 16px;
}
.coreConfigurator .resourceProfiler .resourceListContainer .bootResource:nth-child(even) {
	background-color: #EEE;
}
.coreConfigurator .resourceProfiler .bootResource .rsrcIco {
	width: 5%;
	display: inline-block;
	float: left;
	height: 16px;
}
.coreConfigurator .resourceProfiler .resourceListContainer .cssResources .bootResource .rsrcIco {
	background: url('/Library/Media/images/icons/16x16/moduleCSS.png') no-repeat center;
}
.coreConfigurator .resourceProfiler .resourceListContainer .jsResources .bootResource .rsrcIco {
	background: url('/Library/Media/images/icons/16x16/moduleJS.png') no-repeat center;
}
.coreConfigurator .resourceProfiler .bootResource .rsrcUrl {
	width: 75%;
	display: inline-block;
}
.coreConfigurator .resourceProfiler .bootResource .rsrcReload, .bootResource .rsrcRemove {
	width: 10%;
	color: blue;
	cursor: pointer;
	text-align: center;
	display: inline-block;
}