<div class="appGrid">
	<div class="appGrid-sidebar wdthSlide">
		<div class="inner">
			<div class="sidebar-section">
				<div class="header"> 
					<div class="inner">
						Browse By Category
		 			</div>
	 			</div>
				<div class="content">
					<div class="item selected">All</div>
					<div class="item">Buisness</div>
					<div class="item">Entertainment</div>
				</div>			
			</div>
			<div class="sidebar-section">
				<div class="header"> 
					<div class="inner">
						My AppCenter
		 			</div>
	 			</div>
				<div class="content">
					<div class="item selected">My Apps</div>
					<div class="item">Settings</div>
				</div>			
			</div>
		</div>
	</div>
	<div class="appHolderWrapper wdthSlide">
		<div class="toolbar">
			<div class="navigationContainer">
				<div class="searchContainer">
					<div class="explorerIcoContainer">
						<div class="explorerIco" />
					</div>
					<input type="text" class="searchInput" autofocus />
				</div>
				<div class="objectExplorerContainer">
					<div class="searchResults">
						<h3 class="results_title" data-literal='{"name":"lbl_results_title"}' />
						<div class="results" />
					</div>
				</div>
			</div>
		</div>
		<div class="appHolder"> 
			<div class="row">
			 	<div class="appTile">
					<div class="upper">
						<div class="appIco">
							<img src="https://lib.redback.io/r76d2b1673ef8bd5a0f41b2e71a67a1ea.red/fee4d52645cbf4a24692774fd1611ddf/resources/.assets/icon.png">
						</div>
						<div class="appTitle"> This is a Title </div>
					</div>
					<div class="middle">
						<div class="appDescription">
						Donec sit amet lorem mi. Aliquam erat volutpat. Nunc laoreet sapien sed molestie semper. Proin faucibus libero at lorem fringilla iaculis. Quisque varius hendrerit turpis, sit amet mollis lacus lobortis vel. Vivamus eget volutpat turpis, in pretium lorem. Integer tempus nec neque in congue.
						</div>
					</div>
					<div class="lower">
						<div class="inner">
							tag#1 tag#2
						</div>
					</div>
				</div>
			  <div class="appTile">hfghgfhfghfg</div>
			  <div class="appTile">fdgdhdg</div>
			  <div class="appTile">resgcvbc</div>
			</div>
			<div class="row">
			  <div class="appTile">dasdasdada</div>
			  <div class="appTile">hfghgfhfghfg</div>
			  <div class="appTile">fdgdhdg</div>
			  <div class="appTile">resgcvbc</div>
			</div>
			<div class="row">
			  <div class="appTile">dasdasdada</div>
			  <div class="appTile">hfghgfhfghfg</div>
			  <div class="appTile">fdgdhdg</div>
			  <div class="appTile">resgcvbc</div>
			</div>
		</div>
	</div>
</div>