.navbarContainer .navbar__hr {
	width: 100%;
	height: 0;
	background: #333333;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbarContainer .navbar {
	background-color: #333;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
	overflow: auto;
	color: #cfd8dc;
	font-family: 'Roboto Slab', serif;
}

.navbarContainer .navbar .middleContainer {
	padding: 0px 15px;
}

.navbarContainer .navbar .navbar-logo {
	float: left;
}

.navbarContainer .navbar .navbar-logo .navbar-brand {
	padding: 26px 15px;
	font-size: 18px;
	line-height: 18px;
	display: inline-block;
}

.navbarContainer .navbar a {
	color: #cfd8dc;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.navbarContainer .navbar a:hover {
	color: #ff5252;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.navbarContainer .navbar .navbar-menu {
	float: right;
	overflow: auto;
	padding: 15px 0px;
}

.navbarContainer .navbar .navbar-menu li {
	float: left;
	box-sizing: border-box;
	padding: 11px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.navbarContainer .navbar .navbar-menu li a {
	display: inline-block;
	font-size: 13px;
}

.navbarContainer .navbar .navbar-menu li.login {
	border: 2px solid #cfd8dc;
	padding: 9px 15px;
	font-size: 13px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	cursor: pointer;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.navbarContainer .navbar .navbar-menu li.login:hover {
	color: #ff5252;
	background: #cfd8dc;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}