<div class="navbar__hr" />
<div class="navbar" role="navigation">
	<div class="middleContainer">
		<div class="navbar-logo">
			<a class="navbar-brand" data-href='{"domain":"developers","page":"/"}' target="_self" data-literal='{"name":"title"}' />
		</div>
		<div class="navbar-menu">
			<ul class="nav navbar-nav navbar-right">
				<li><a data-href='{"domain":"developers","page":"/plans/"}' target="_self" data-literal='{"name":"hd_nav_pricing_plans"}' /></li>
				<li><a data-href='{"domain":"apps","page":"/"}' target="_self" data-literal='{"name":"hd_nav_appcenter"}' /></li>
				<li class="login" data-literal='{"name":"hd_nav_login"}' />
			</ul>
		</div> 
	</div> 
</div>