.navigationContent h1.title {
	margin: 0px;
	float: left;
}
.navigationContent .imgLogo {
	width: 40px;
	height: 40px;
	background: url('%{media}/logos/logo_100.png') no-repeat center;
	background-size: 40px;
	float: left;
	margin-right: 10px;
}
.navigationContent .navigation {
	float: right;
}
.navigationContent .navigation .navMenu {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	overflow: auto;
}
.navigationContent .navigation .navMenu li {
	margin: 0px;
	padding: 0px 10px;
	list-style-type: none;
	float: left;
	line-height: 40px;
	font-size: 13px;
	color: #545454;
	cursor: pointer;
}
.navigationContent .navigation .navMenu li a {
	color: #545454;
	display: block;
}
.navigationContent .navigation .navMenu li:hover,
.navigationContent .navigation .navMenu li a:hover,
.navigationContent .navigation .navMenu li a.selected {
	color: #C00403;
}
.navigationContent .navigation .navMenu li.login {
	line-height: 36px;
	border: 2px solid #CCC;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}