<div class="frontendPage">
	<section class="engines section">
		<div class="slideContainer">
			<div class="slides">
				<div class="slide biz active">
					<div class="middleContainer">
						<h1 class="title" data-literal='{"name":"lbl_slide_biz_title"}' />
						<h3 class="sub" data-literal='{"name":"lbl_slide_biz_sub"}' />
						<a data-href='{"domain":"boss", "page":"/"}' target="_blank" class="learn_more" data-literal='{"name":"lbl_learn_more"}' />
					</div>
				</div>
				<div class="slide web">
					<div class="middleContainer">
						<div class="fRight">
							<h1 class="title" data-literal='{"name":"lbl_slide_web_title"}' />
							<h3 class="sub" data-literal='{"name":"lbl_slide_web_sub"}' />
							<a data-href='{"domain":"web", "page":"/"}' target="_blank" class="learn_more" data-literal='{"name":"lbl_learn_more"}' />
						</div>
					</div>
				</div>
				<div class="slide apps">
					<div class="middleContainer">
						<div class="fRight">
							<h1 class="title" data-literal='{"name":"lbl_slide_apps_title"}' />
							<h3 class="sub" data-literal='{"name":"lbl_slide_apps_sub"}' />
							<a data-href='{"domain":"developer", "page":"/"}' target="_blank" class="learn_more" data-literal='{"name":"lbl_learn_more"}' />
						</div>
					</div>
				</div>
			</div>
			<div class="tileBar">
				<div class="start">
					<a data-href='{"domain":"boss", "page":"/"}' target="_blank" class="title">Start</a>
				</div>
				<ul class="tileList">
					<li class="tile active" for="biz">
						<div class="content" data-literal='{"name":"lbl_sltl_biz"}'  />
					</li>
					<li class="tile" for="web">
						<div class="content" data-literal='{"name":"lbl_sltl_web"}' />
					</li>
					<li class="tile" for="apps">
						<div class="content" data-literal='{"name":"lbl_sltl_apps"}' />
					</li>
				</ul>
			</div>
			<div class="navBar" />
		</div>
	</section>
	<section class="bigTiles section">
		<div class="bigTile apps">
			<a data-href='{"domain":"apps", "page":"/"}' target="_blank">
				<div class="ico"></div>
				<h2 class="title" data-literal='{"name":"lbl_tile_apps_title"}' />
				<h4 class="subtitle" data-literal='{"name":"lbl_tile_apps_desc"}' />
			</a>
		</div>
		<div class="bigTile web">
			<a data-href='{"domain":"web", "page":"/"}' target="_blank">
				<div class="ico"></div>
				<h2 class="title" data-literal='{"name":"lbl_tile_web_title"}' />
				<h4 class="subtitle" data-literal='{"name":"lbl_tile_web_desc"}' />
			</a>
		</div>
		<div class="bigTile devSupport">
			<a data-href='{"domain":"developer", "page":"/support/"}' target="_blank">
				<div class="ico"></div>
				<h2 class="title" data-literal='{"name":"lbl_tile_devsupport_title"}' />
				<h4 class="subtitle" data-literal='{"name":"lbl_tile_devsupport_desc"}' />
			</a>
		</div>
		<div class="bigTile international">
			<a data-href='{"page":"/international.php"}' target="_blank">
				<div class="ico"></div>
				<h2 class="title" data-literal='{"name":"lbl_tile_international_title"}' />
				<h4 class="subtitle" data-literal='{"name":"lbl_tile_international_desc"}' />
			</a>
		</div>
	</section>
</div>