<div id="platformStatus" class="public">
	<div class="statusBar infoBox">
		<div class="sectionHeader">
			<h4 data-literal='{"name":"lbl_statusHeader"}' />
		</div>
		<div class="content" />
	</div>
	<div class="releaseInfo">
		<div class="pubInfo infoBox">
			<div class="sectionHeader">
				<h4 data-literal='{"name":"lbl_publisherHeader"}' />
			</div>
			<div class="content" />
		</div>
	</div>
	<div class="issues infoBox">
		<div class="sectionHeader">
			<h4 data-literal='{"name":"lbl_issuesHeader"}' />
		</div>
		<div class="content">
			<p data-literal='{"name":"lbl_noIssues"}' />
		</div>
	</div>
</div>