.audienceSettings {
	padding: 5px;
}

.audienceSettings .srow {
	overflow: auto;
	padding: 5px;
	border-bottom: 1px solid #CCC;
}

.audienceSettings .srow .ico {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10px;
	background: url('%{media}/developer/docs/default_permission_icon.svg') no-repeat center;
	background-size: cover;
}

.audienceSettings .srow .switchContainer {
	float: right;
	margin: 10px;
}

.audienceSettings .srow .stitle {
	color: #5E6570;
	font-size: 12px;
	margin: 0px;
	margin-bottom: 5px;
}

.audienceSettings .srow .sdesc {
	color: #5E6570;
	margin: 0px;
}
.audienceSettings .privateSettings .searchContainer {
	margin-top: 20px;
}

.audienceSettings .privateSettings .searchContainer #btn_search {
	float: left;
	margin: 0px 5px;
}

.audienceSettings .privateSettings .searchContainer .tminp {
	float: left;
	width: 300px;
	padding: 4px 6px;
	margin-right: 5px;
	border-color: #999;
}

.audienceSettings .privateSettings .searchContainer .searchResultsContainer {
	clear: both;
	margin-top: 5px;
}