<div class="pageUC">
	<div class="middleContainer">
		<img src="%{media}/global/error_pages/access_denied.png" class="banner" />
		<h1 class="header" data-literal='{"name":"hd_pageAccessDenied"}' />
		<div class="context" data-literal='{"name":"lbl_context"}' />
		<div class="links">
			<div class="lnk" data-literal='{"name":"lbl_goBack"}' onclick="window.history.back()" />
			<a data-href='{"domain":"www","page":"/"}' target="_selt" class="lnk home" data-literal='{"name":"lbl_drovioHome"}'/>
		</div>
	</div>
</div>