.vcsOverviewContainer,
.vcsOverviewContainer .vcsOverview {
	height: 100%;
	width: 100%;
	overflow: auto;
}
.vcsOverview .box {
	float: left;
	margin: 20px;
	background: #FFF;
	border: 1px solid #CCC;
	min-width: 250px;
}
.vcsOverview .box > .ico {
	width: 72px;
	height: 72px;
	margin: 40px auto;
	background: url('%resources%/developer/projects/statusIcons.svg') no-repeat;
	background-size: 72px;
}
.vcsOverview .box.healthy > .ico {
	background-position: 0px 0px;
}
.vcsOverview .box.error > .ico {
	background-position: 0px -72px;
}
.vcsOverview .box.warning > .ico {
	background-position: 0px -216px;
	
}
.vcsOverview .box .sub {
	border-top: 1px solid #CCC;
	color: #000;
}
.vcsOverview .box .title {
	padding: 15px 20px;
	font-weight: normal;
	font-size: 14px;
	text-align: center;
	color: #555;
}
.vcsOverview .stats {
	margin: 20px;
}
.vcsOverview .stats .sr {
	overflow: auto;
	color: #FFF;
	padding: 10px;
	line-height: 20px;
	border-bottom: 1px solid #CCC;
	min-width: 300px;
}
.vcsOverview .stats .sr:last-child {
	border: none;
}
.vcsOverview .stats .sr .key {
	float: left;
	margin: 0px;
	font-weight: normal;
	color: #FFF;
	font-size: 13px;
}
.vcsOverview .stats .sr .value {
	float: right;
	font-weight: normal;
	margin: 0px;
	color: #FFF;
}