<div class="vcsOverview">
	<div class="box projectStatus">
		<div class="ico" />
		<div class="sub">
			<div class="title"Â data-literal='{"name":"hd_vcsOverview"}' />
		</div>
	</div>
	<div class="stats">
		<div class="sr authors">
			<h2 class="key" data-literal='{"name":"hd_vcsAuthors"}' />
			<h3 class="value" />
		</div>
		<div class="sr branches">
			<h2 class="key" data-literal='{"name":"hd_vcsBranches"}' />
			<h3 class="value" />
		</div>
		<div class="sr releases">
			<h2 class="key" data-literal='{"name":"hd_vcsReleases"}' />
			<h3 class="value" />
		</div>
		<div class="sr headBranch">
			<h2 class="key" data-literal='{"name":"hd_headBranch"}' />
			<h3 class="value" />
		</div>
		<div class="sr headVersion">
			<h2 class="key" data-literal='{"name":"hd_headVersion"}' />
			<h3 class="value" />
		</div>
	</div>
</div>