<div class="coreMetrics">
	<div class="box intro">
		<div class="ico" />
		<div class="sub">
			<div class="title" data-literal='{"name":"hd_coreMetrics"}' />
		</div>
	</div>
	<div class="metrics">
		<div class="sr libs">
			<h2 class="key" data-literal='{"name":"hd_metrics_libraries"}' />
			<h3 class="value" />
		</div>
		<div class="sr pkgs">
			<h2 class="key" data-literal='{"name":"hd_metrics_packages"}' />
			<h3 class="value" />
		</div>
		<div class="sr objs">
			<h2 class="key" data-literal='{"name":"hd_metrics_objects"}' />
			<h3 class="value" />
		</div>
		<div class="sr loc">
			<h2 class="key" data-literal='{"name":"hd_metrics_loc"}' />
			<h3 class="value" />
		</div>
		<div class="sr cloc">
			<h2 class="key" data-literal='{"name":"hd_metrics_cloc"}' />
			<h3 class="value" />
		</div>
		<div class="sr ploc">
			<h2 class="key" data-literal='{"name":"hd_metrics_ploc"}' />
			<h3 class="value" />
		</div>
	</div>
</div>