<div class="legalHome">
	<section class="header">
		<div class="middleContainer">
			<h1 class="wtitle" data-literal='{"name":"title"}' />
		</div>
		<div class="navBar" />
	</section>
	<section class="reference">
		<div class="middleContainer">
			<a class="privacy box" data-href='{"page":"/help/policies/privacy.php"}' target="_self">
				<h2 class="title" data-literal='{"name":"lbl_privacy_title"}' />
				<h3 class="sub" data-literal='{"name":"lbl_privacy_sub"}' />
			</a>
			<a class="terms box" data-href='{"page":"/help/policies/terms.php"}' target="_self">
				<h2 class="title" data-literal='{"name":"lbl_terms_title"}' />
				<h3 class="sub" data-literal='{"name":"lbl_terms_sub"}' />
			</a>
			<a class="usage box" data-href='{"page":"/help/policies/usage.php"}' target="_self">
				<h2 class="title" data-literal='{"name":"lbl_usage_title"}' />
				<h3 class="sub" data-literal='{"name":"lbl_usage_sub"}' />
			</a>
		</div>
	</section>
</div>