<div class="pageModuleExplorerContainer uiMainContent">
	<div class="headbar">
		<h3 data-literal='{"name":"hd_pageExplorer"}' />
	</div>
	<div class="pExplorerContainer">
		<div class="pExplorer">
			<div id="columnContainer" class="columnContainer" />
		</div>
		<div class="legend">
			<b data-literal='{"name":"lbl_moduleScope"}' />
			<div class="exColItem page open">Open Module</div>
			<div class="exColItem page public">Public Module</div>
			<div class="exColItem page protected">Protected Module</div>
			<div class="exColItem page empty" />
			<b data-literal='{"name":"lbl_moduleStatus"}' />
			<div class="exColItem page uc">Under Construction Module</div>
			<div class="exColItem page off">Off Module</div>
			<div class="exColItem page empty" />
			<b data-literal='{"name":"lbl_userGroup"}' />
			<div class="exColItem page groupOn">On User Group</div>
			<div class="exColItem page groupOff">Off User Group</div>
		</div>
	</div>
</div>