<div class="bar">
	<div class="middleContainer">
		<a data-href='{"page":"/"}' target="_self">
			<div class="imgLogo" />
			<h1 class="title">Redback</h1>
		</a>
		<div class="navigation">
			<ul class="navMenu">
				<li>
					<a data-href='{"domain":"developer","page":"/"}' data-literal='{"name":"lbl_menu_developers"}' target="_blank"/>
				</li>
				<li>
					<a data-href='{"domain":"web","page":"/"}' data-literal='{"name":"lbl_menu_web"}' target="_blank"/>
				</li>
				<li>
					<a data-href='{"domain":"boss","page":"/"}' data-literal='{"name":"lbl_menu_enterprise"}' target="_blank"/>
				</li>
				<li class="login" data-literal='{"name":"lbl_menu_login"}' />
			</ul>
		</div>
	</div>
</div>