<div class="developersPage">
	<div class="dev-sidebar" />
	<div class="dev-mainpage">
		<div class="navbar" />
		<div class="qlinks">
			<a href="https://github.com/Drovio" class="ql github">
				<div class="ql_icon" />
				<div class="ql_title">Drovio on Github</div>
			</a>
			<a data-href='{"domain":"developers","page":"/status/"}' class="ql pstatus">
				<div class="ql_icon" />
				<div class="ql_title">Drovio Platform is Healthy</div>
			</a>
		</div>
		<div class="docContainer" />
	</div>
</div>