<div class="bar">
	<div class="middleContainer">
		<div class="userArea" />
		<div class="searchContainer">
			<div class="searchInnerContainer">
				<div class="searchIcoContainer">
					<div class="searchIco" />
				</div>
				<input type="text" class="searchInput" placeholder="Search applications..." autofocus />
			</div>
		</div>
		<div class="navigation">
			<ul class="navMenu">
				<li>
					<a data-href='{"domain":"developer","page":"/"}' data-literal='{"name":"lbl_menu_developers"}' target="_blank"/>
				</li>
				<li class="login" data-literal='{"name":"lbl_menu_login"}' />
			</ul>
		</div>
	</div>
</div>