<div class="accountInfo">
	<div class="personImage" />
	<ul class="profileMenu">
		<div class="accounts">
			<h3 class="title" data-literal='{"name":"lbl_accounts"}' />
			<div class="list" />
			<li class="mseparator">
		</div>
		<div class="teams">
			<h3 class="title" data-literal='{"name":"lbl_teams"}' />
			<div class="list" />
			<li class="mseparator">
		</div>
		<div class="my">
			<h3 class="title" data-literal='{"name":"lbl_profile"}' />
			<li class="mitem">
				<a data-literal='{"name":"lbl_myProfile"}' target="_self" class="my_profile" />
			</li>
			<li class="mitem">
				<a data-literal='{"name":"lbl_settings"}' target="_self" class="settings" />
			</li>
			<li class="mitem logout" />
			<li class="mseparator">
			<li class="mitem">
				<a data-href='{"domain":"www","page":"/help/"}' data-literal='{"name":"lbl_helpCenter"}' target="_self" />
			</li>
			<li class="mitem">
				<a data-href='{"domain":"www","page":"/help/"}' data-literal='{"name":"lbl_reportProblem"}' target="_self" />
			</li>
		</div>
	</ul>
</div>