<div class="projectHome">
	<section class="prjHmHeader">
		<div class="projectStatusContainer">
			<div class="projectStatus">
				<div class="statusIcon" />
				<h4 class="statusTitle online" data-literal='{"name":"lbl_projectOnline"}' />
				<h4 class="statusTitle offline" data-literal='{"name":"lbl_projectOffline"}' />
			</div>
		</div>
		<div class="projectImage" />
		<div class="projectInfo">
			<h1 class="projectTitle" />
		</div>
	</section>
	<section class="prjHmBody">
		<div class="sidebar">
			<ul class="prjMenu">
				<li class="menuItem overview">
					<a target="_self" >
						<span class="ico" />
						<span class="reload" />
						<h3 class="title" data-literal='{"name":"lbl_projectOverviewTitle"}' />
					</a>
				</li>
				<li class="menuItem designer">
					<a target="_blank" >
						<span class="ico" />
						<h3 class="title" data-literal='{"name":"lbl_projectDesignerTitle"}' />
					</a>
				</li>
				<li class="menuItem repository">
					<a target="_self" >
						<span class="ico" />
						<span class="reload" />
						<h3 class="title" data-literal='{"name":"lbl_projectRepositoryTitle"}' />
					</a>
				</li>
				<li class="menuItem resources">
					<a target="_self" >
						<span class="ico" />
						<span class="reload" />
						<h3 class="title" data-literal='{"name":"lbl_projectResourcesTitle"}' />
					</a>
				</li>
				<li class="menuItem tester">
					<a target="_self" >
						<span class="ico" />
						<span class="reload" />
						<h3 class="title" data-literal='{"name":"lbl_projectTestingTitle"}' />
					</a>
				</li>
				<li class="menuItem issues">
					<a target="_self" >
						<span class="ico" />
						<span class="reload" />
						<h3 class="title" data-literal='{"name":"lbl_issuesTitle"}' />
					</a>
				</li>
				<li class="menuItem log">
					<a target="_self" >
						<span class="ico" />
						<span class="reload" />
						<h3 class="title" data-literal='{"name":"lbl_devLogTitle"}' />
					</a>
				</li>
				<li class="menuItem analysis">
					<a target="_self" >
						<span class="ico" />
						<span class="reload" />
						<h3 class="title" data-literal='{"name":"lbl_projectAnalysisTitle"}' />
					</a>
				</li>
				<li class="menuItem statistics">
					<a target="_self" >
						<span class="ico" />
						<span class="reload" />
						<h3 class="title" data-literal='{"name":"lbl_projectStatisticsTitle"}' />
					</a>
				</li>
				<li class="menuItem localization">
					<a target="_self" >
						<span class="ico" />
						<span class="reload" />
						<h3 class="title" data-literal='{"name":"lbl_projectLocalizationTitle"}' />
					</a>
				</li>
				<li class="menuItem security">
					<a target="_self" >
						<span class="ico" />
						<span class="reload" />
						<h3 class="title" data-literal='{"name":"lbl_projectSecurityTitle"}' />
					</a>
				</li>
				<li class="menuItem releases">
					<a target="_self" >
						<span class="ico" />
						<span class="reload" />
						<h3 class="title" data-literal='{"name":"lbl_releaseLogTitle"}' />
					</a>
				</li>
				<li class="menuItem members">
					<a target="_self" >
						<span class="ico" />
						<span class="reload" />
						<h3 class="title" data-literal='{"name":"lbl_membersTitle"}' />
					</a>
				</li>
				<li class="menuItem settings">
					<a target="_self" >
						<span class="ico" />
						<span class="reload" />
						<h3 class="title" data-literal='{"name":"lbl_settingsTitle"}' />
					</a>
				</li>
				<li class="menuItem market">
					<a target="_self" >
						<span class="ico" />
						<span class="reload" />
						<h3 class="title" data-literal='{"name":"lbl_marketTitle"}' />
					</a>
				</li>
			</ul>
		</div>
		<div id="prjContainer" class="prjContent" />
	</section>
</div>