<div class="bossTeamProfile">
	<div class="teamInfoContainer">
		<div class="teamInfo middleContainer">
			<div class="logoBox">
				<div class="logo" />
			</div>
			<h1 class="teamName" />
			<ul class="teamNavigation">
				<li class="navitem info selected" data-literal='{"name":"lbl_nav_publicInfo"}' />
				<li class="navitem projects" data-literal='{"name":"lbl_nav_projects"}' />
			</ul>
		</div>
	</div>
	<div id="teamDetailsContainer" class="teamDetailsContainer middleContainer" />
	<div class="navBar" />
</div>