<div class="bar">
	<div class="middleContainer">
		<a data-href='{"page":"/"}' target="_self">
			<div class="imgLogo" />
			<h1 class="title">Redback</h1>
		</a>
		<div class="navigation">
			<ul class="navMenu">
				<li>
					<a data-href='{"page":"/discover.php"}' data-literal='{"name":"lbl_menu_discover"}' target="_self"/>
				</li>
				<li>
					<a data-href='{"page":"/international.php"}' data-literal='{"name":"lbl_menu_international"}' target="_self"/>
				</li>
				<li>
					<a data-href='{"page":"/careers.php"}' data-literal='{"name":"lbl_menu_careers"}' target="_self"/>
				</li>
				<li class="login" data-literal='{"name":"lbl_menu_login"}' />
			</ul>
		</div>
		<div class="loginDialogContainer">
			<h2 data-literal='{"name":"lbl_loginDialog_title"}' />
			<div class="login_formContainer" />
			<div class="footer">
				<div class="menu">
					<h4 class="register">
						<a data-href='{"domain":"my","page":"/register/"}' data-literal='{"name":"lbl_loginDialog_register"}' target="_blank" />
					</h4>
					<span> &bull; </span>
					<h4 class="forgot">
						<a data-href='{"domain":"login","page":"/reset.php"}' data-literal='{"name":"lbl_loginDialog_forgot"}' target="_self" />
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>