.appListContainer .appList {
	display: flex;
	display: -webkit-flex;
	flex-direction: column; 
	-webkit-flex-direction: row;
	justify-content: center;
	-webkit-justify-content: center;
	min-height: 600px;
}

.appListContainer .middleContainer {
	min-width: 700px;
	max-width: 1200px;
	padding: 0px 50px;
	margin: 0 auto;
	overflow: auto;
}

.appListContainer .middleContainer {
	min-width: 700px;
	max-width: 1200px;
	padding: 0px 50px;
	margin: 0 auto;
	overflow: auto;
}

.appListContainer .row {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}

.appListContainer .row:last-child {
	margin-bottom: 0;
}

.appListContainer .appTile {
	width: 270px;
	margin: 10px;	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	cursor: pointer;
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	height: 130px;
	padding: 5px;
}

.appListContainer .appTile .bmain {
	height: 85px;
}

.appTile .bmain .appIcon {
	float: left;
	width: 80px;
	height: 80px;
}

.appTile .bmain .appIcon img {
	width: inherit;
	height: inherit;
}

.appTile .bmain .appInfo {
	width: 60%;
	height:100%;
	float: left;
	margin-right: 2%;
	padding-left: 5%;
}

.appTile .bmain .appInfo .appTitle {
	display: block;
	height: 20px;
	font-weight: normal;
	font-size: 14px;
	cursor: pointer;
 	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 10px;
	color: #555;
}

.appListContainer .appTile .appControls {
	border-top: 1px solid #CCC;
	margin: 10px 3px;
	padding: 5px;
	border-top: 1px solid #CCC;
}

.appListContainer .appTile a.playBtn {
	float: right;
}