.websitePageEditor .pagesExplorer .pgNavTool {
	display: inline-block;
	width: 16px;
	height: 16px;
	opacity: 0.7;
	background-image:url('%resources%/global/devIcons.svg');
	background-repeat:no-repeat;
	background-size: cover;
	cursor: pointer;
}
.websitePageEditor .pagesExplorer .pgNavTool:hover {
	opacity: 1.0;
}
.websitePageEditor .pagesExplorer .pgNavTool.refresh {
	background-position: 0px -48px;
}
.websitePageEditor .pagesExplorer .pgNavTool.create_new {
	background-position: 0px -64px;
}





.websitePageEditor .pagesExplorer .contentIcon {
	width:16px;
	height:16px;
	background-size: 16px;
	background-repeat: no-repeat;
	display:inline-block;
	margin-right:3px;
	vertical-align:-4px;
	background-image: url('%resources%/developer/icons/fileThumbs.svg');
}
.websitePageEditor .pagesExplorer .contentIcon.libIco {
	background-position:0px 0px;
}
.websitePageEditor .pagesExplorer .contentIcon.pkgIco {
	background-position:0px -32px;
}
.websitePageEditor .pagesExplorer .open > :not(ul):not(.subTreeView) .contentIcon.pkgIco {
	background-position:0px -16px;
}
.websitePageEditor .pagesExplorer .contentIcon.fldIco {
	background-position:0px -48px;
}
.websitePageEditor .pagesExplorer .contentIcon.flIco {
	background-position:0px -64px;
	background-size: cover;
}