<div class="blogHomePage">
	<div class="section section-home">
		<div class="text-center middleContainer">
			<div class="banner__logo" />
			<h2 class="banner__h2">Blog (beta)</h2>
			<p class="banner__intro">Company Updates & Technology Articles</p>
		</div>
	</div>
	<div class="section section-posts">
		<div class="middleContainer" />
	</div>
	<footer>
		<div class="footer_bottom middleContainer">
			<div class="footer__copyright">Copyright 2015 <a href="http://drov.io/">Drovio</a>. All Rights Reserved.</div>
			<div class="footer__social">
				<a href="https://www.facebook.com/DrovioSmart" target="_blank" class="ftr_social fb" />
				<a href="https://twitter.com/DrovioID" target="_blank" class="ftr_social twitter" />
				<a href="https://www.google.com/+DrovIo" target="_blank" class="ftr_social gplus" />
			</div>
		</div>
	</footer>
</div>