<div class="navSidebar">
	<div class="inner">
		<div class="navSection projectSettings">
			<div class="sectionHeader" data-literal='{"name":"lbl_projectSettings"}'>
			</div>
			<div class="sectionContent">
			</div>
		</div>
		<div class="navSection serversList">
			<div class="sectionHeader" data-literal='{"name":"lbl_serversSettings"}'>
			</div>
			<div class="sectionContent">
			</div>
		</div>
	</div>
</div> 
<div class="settingsEditorHolder">
	<div id="settingsEditorHolder" class="inner">
	</div>
</div>