.releaseLogPage,
.releaseLog {
	height: 100%;
	overflow: auto;
	position: relative;
}
.releaseLog {
	padding-top: 91px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.releaseLog .hd {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	border-bottom: 1px solid #CCC;
	line-height: 50px;
	overflow: auto;
	padding: 10px;
	font-size: 12px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.releaseLog .hd .header {
	float: left;
	padding: 10px;
	font-weight: bold;
	color: #555;
}

.releaseLog .hd .publisher {
	padding: 10px;
	float: left;
	margin-left: 10px;
	margin-right: 15px;
	border: 1px solid #777;
	color: #555;
	cursor: pointer;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	text-align: center;
	background: #FFF;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.releaseLog .hd .publisher:hover {
	background: #555;
	color: #FFF;
}
.releaseLog .list {
	clear: both;
	overflow: auto;
	height: 100%;
}
.releaseLog .list .releaseRow {
	padding: 0px 10px;
	overflow: auto;
	border-bottom: 1px solid #CCC;
}

.releaseLog .list .releaseRow:last-child {
	border-bottom: none;
}

.releaseLog .list .releaseRow .release_details {
	overflow: auto;
	padding: 10px 0px;
}

.releaseLog .list .releaseRow .ico {
	float: left;
	width: 50px;
	height: 50px;
	display: block;
	margin: 0px 15px;
	margin-right: 25px;
}

.releaseLog .list .releaseRow .ico img {
	width: inherit;
	height: inherit;
}
.releaseLog .list .releaseRow .project_info {
	float: left;
}

.releaseLog .list .releaseRow .project_info .title {
	font-weight: normal;
	font-size: 12px;
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;
	color: #555;
}

.releaseLog .list .releaseRow .project_info .info {
	color: #999;
	font-size: 10px;
	margin: 3px 0px;
}

.releaseLog .list .releaseRow .changelog {
	overflow: auto;
	white-space: pre-wrap;
	font-size: 11px;
	line-height: 18px;
	color: #777;
	padding: 0px 25px;
	padding-right: 70px;
}
.releaseLog .list .releaseRow .releaseStatus {
	float: right;
	overflow: auto;
}

.releaseLog .list .releaseRow .releaseStatus .status {
	overflow: auto;
	border-bottom: 1px solid #CCC;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.releaseLog .list .releaseRow .releaseStatus .st_ico {
	display: block;
	width: 24px;
	height: 24px;
	float: right;
	background: url('%{media}/global/ui/notification.svg') no-repeat center;
	background-size: cover;
	margin-left: 10px;
}

.releaseLog .list .releaseRow .releaseStatus.st1 .st_ico {
	background-position: 0px -48px;
}

.releaseLog .list .releaseRow .releaseStatus.st2 .st_ico {
	background-position: 0px 0px;
}

.releaseLog .list .releaseRow .releaseStatus.st3 .st_ico {
	background-position: 0px -24px;
}

.releaseLog .list .releaseRow .releaseStatus.st4 .st_ico {
	background-position: 0px -24px;
}

.releaseLog .list .releaseRow .releaseStatus .st_title {
	float: right;
	line-height: 24px;
}

.releaseLog .list .releaseRow .releaseStatus .dl_button, .releaseLog .list .releaseRow .releaseStatus .rv_button {
	float: right;
	clear: right;
	padding: 5px 0px;
	color: #777;
	cursor: pointer;
}

.releaseLog .list .releaseRow .releaseStatus .dl_button:hover {
	color: #555;
}

.releaseLog .list .releaseRow .releaseStatus .rv_button:hover, .releaseLog .list .releaseRow.review .releaseStatus .rv_button {
	color: #555;
}

.releaseLog .list .releaseRow .review_details {
	display: none;
	border-top: 1px solid #DDD;
	clear: both;
	overflow: auto;
}

.releaseLog .list .releaseRow.review .review_details {
	display: block;
}
.releaseLog .list .releaseRow .review_details:empty {
	display: none;
}

.releaseLog .list .releaseRow .review_details .review_title {
	font-size: 12px;
	color: #555;
}

.releaseLog .list .releaseRow .review_details .review_comments {
	color: #999;
	line-height: 16px;
}

.releaseLog .list .releaseRow .review_details .frow {
	overflow: auto;
	padding: 5px 10px;
}

.releaseLog .list .releaseRow .review_details .fbutton {
	float: right;
}

.releaseLog .list .releaseRow .review_details .flabel {
	float: right;
	margin: 7px 0px;
	margin-right: 10px;
	color: #555;
}

.releaseLog .list .releaseRow .review_details .rrForm {
	border-top: 1px solid #DDD;
}