.contentIcon {
	width:16px;
	height:16px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	display:inline-block;
	margin-right:3px;
	vertical-align:-4px;
}
.devManagementArea .contentIcon.mgIcon {
	background-image: url('%resources%/developer/icons/boxClose.png');
	background-position-y:1px;
}
.devManagementArea .open > :not(ul):not(.subTreeView) .contentIcon.mgIcon {
	background-image: url('%resources%/developer/icons/boxOpen.png');
	background-position-y:0;
}
.devManagementArea .contentIcon.mIcon {
	background-image: url('%resources%/developer/icons/module.png');
}
.devManagementArea .contentIcon.infoIcon {
	background-image: url('%resources%/developer/icons/infoIcon.png');
}
.devManagementArea .contentIcon.vIcon {
	background-image: url('%resources%/developer/icons/puzzleClose.png');
}
.devManagementArea .contentIcon.auxIcon {
	background-image: url('%resources%/developer/icons/auxModule.png');
}