<div class="publisherWizardContainer">
	<h3 class="title" data-literal='{"name":"lbl_publisher_promptTitle"}' />
	<h4 class="description" data-literal='{"name":"lbl_publishDescription"}' />
	<div class="legend">
		<div class="currentStatus st">
			<span class="statusIco" />
			<h4 class="title" data-literal='{"name":"lbl_projectStatus_current"}' />
		</div>
		<div class="nextStatus st">
			<span class="statusIco" />
			<h4 class="title" data-literal='{"name":"lbl_projectStatus_next"}' />
		</div>
	</div>
	<div class="statuses">
		<div class="uc step status1">
			<span class="ico">1</span>
			<h4 class="title" data-literal='{"name":"lbl_stepStatus1"}' />
		</div>
		<div class="ur step status2">
			<span class="ico">2</span>
			<h4 class="title" data-literal='{"name":"lbl_stepStatus2"}' />
		</div>
		<div class="pub step status3">
			<span class="ico">3</span>
			<h4 class="title" data-literal='{"name":"lbl_stepStatus3"}' />
		</div>
		<div class="urpub step status4">
			<span class="ico">4</span>
			<h4 class="title" data-literal='{"name":"lbl_stepStatus4"}' />
		</div>
	</div>
	<div class="authBox">
		<h4 class="title" data-literal='{"name":"lbl_authenticate"}' />
	</div>
</div>