<div id="OneColumnFullscreen" class="uiPageLayout">
	<div id="OneColumnFullscreen_mainContent" class="uiMainContent">
		<div id="DashBoardMainPage_toolbar" class="toolbar">
			<div class="teamInfo">
				<h2 class="team" />
			</div>
			<div class="newProject" data-literal='{"name":"lbl_newProject"}' />
		</div>
		<div class="projectContainer">
			<div class="sideBar">
				<ul class="selectionList">
					<li class="listContent team_projects" data-target="team" data-literal='{"name":"lbl_teamProjects"}'>
						<span class="count">0</span>
					</li>
					<li class="listContent my_projects selected" data-target="my" data-literal='{"name":"lbl_myProjects"}'>
						<span class="count">0</span>
					</li>
					<li class="divider" />
					<li class="listContent on_projects" data-target="online" data-literal='{"name":"lbl_onlineProjects"}'>
						<span class="count">0</span>
					</li>
					<li class="listContent off_projects" data-target="offline" data-literal='{"name":"lbl_offlineProjects"}'>
						<span class="count">0</span>
					</li>
				</ul>
			</div>
			<div class="contentMain">
				<ul class="projectList" />
			</div>
		</div>
	</div>
</div>