<div class="securitySettings">
	<h2 class="header" data-literal='{"name":"hd_securitySettings"}' />
	<div class="settings">
		<div class="srow info password">
			<div class="shd">
				<div class="title" data-literal='{"name":"hd_password"}' />
				<div class="edit" data-literal='{"name":"lbl_edit"}' />
			</div>
			<div class="sbody" />
		</div>
		<div class="srow sessions">
			<div class="shd">
				<div class="title" data-literal='{"name":"hd_accountSessions"}' />
				<div class="edit" data-literal='{"name":"lbl_edit"}' />
			</div>
			<div class="sbody" />
		</div>
	</div>
</div>