<div class="window-main-col clearfix">
	<div class="section headerBar">
		<div class="title"></div> 
		<div class="row subTitle">
			<div class="" data-literal='{"name":"lbl_createdBy"}'></div>
			<div class="createdBy"></div>
			<div class="" data-literal='{"name":"lbl_createdOn"}'></div>
			<div class="createdOn"></div>
		</div>
	</div>	
	<div class="section description">
		<div class="sectionTitle" data-literal='{"name":"lbl_description"}'></div>
		<div class="content"></div>
	</div>	
 	<div class="section solution">
		<div class="sectionTitle" data-literal='{"name":"lbl_solution"}'></div>
		<div class="content"></div>
	</div>	
	<div class="section comments">
		<div class="sectionTitle" data-literal='{"name":"lbl_comments"}'></div>
		<div class="content"></div>
	</div>
</div>
<div class="window-sidebar">
	<div class="window-module info">
		<div class="inner">
			<div class="header" data-literal='{"name":"lbl_bugInfo"}'></div>
			<div class="content">
				<div class="row status">
		 			<div class="rowKey" data-literal='{"name":"lbl_status"}'></div>
		 			<div class="rowValue"></div>
				</div>
				<div class="row priority">
		 			<div class="rowKey" data-literal='{"name":"lbl_priority"}'></div>
		 			<div class="rowValue"></div>
				</div>
				<div class="row severity">
		 			<div class="rowKey" data-literal='{"name":"lbl_severity"}'></div>
		 			<div class="rowValue"></div>
				</div>
				<div class="row updated">
		 			<div class="rowKey" data-literal='{"name":"lbl_updated"}'></div>
					<div class="rowValue"></div>
				</div>
			</div>
		</div>
        </div>
        <div class="window-module actions">
		<div class="inner">
			<div class="header" data-literal='{"name":"lbl_actionList"}'></div>
			<div class="content">
				<div class="solveBugBtnWrapper noDisplay">
					<div class="solveBugBtn" data-literal='{"name":"btn_solveBug"}'></div>
				</div>
			</div>
		</div>
	</div>
</div>