.vcs .navIco {
	background-image:url('/Library/Media/c/global/toolbarIcons.svg');
	background-position:0px -266px;
}
.literals .navIco {
	background-image:url('/Library/Media/c/global/toolbarIcons.svg');
	background-position:0px -266px;
}