<div class="developerFtrPage">
	<section class="header">
		<div class="middleContainer">
			<h1 class="wtitle" data-literal='{"name":"title"}' />
		</div>
		<div class="navBar" />
	</section>
	<section class="section snav">
		<div class="middleContainer">
			<div class="navitem spa active">
				<div class="ico" />
				<div class="title" data-literal='{"name":"lbl_banner_spage_title"}' />
			</div>
			<div class="navitem appcenter">
				<div class="ico" />
				<div class="title" data-literal='{"name":"lbl_banner_appcenter_title"}' />
			</div>
			<div class="navitem api">
				<div class="ico" />
				<div class="title" data-literal='{"name":"lbl_banner_api_title"}' />
			</div>
			<div class="navitem vcs">
				<div class="ico" />
				<div class="title" data-literal='{"name":"lbl_banner_vcs_title"}' />
			</div>
			<div class="navitem beta">
				<div class="ico" />
				<div class="title" data-literal='{"name":"lbl_banner_beta_title"}' />
			</div>
			<div class="navitem issues">
				<div class="ico" />
				<div class="title" data-literal='{"name":"lbl_banner_issues_title"}' />
			</div>
			<div class="navitem mvc">
				<div class="ico" />
				<div class="title" data-literal='{"name":"lbl_banner_mvc_title"}' />
			</div>
			<div class="navitem docs">
				<div class="ico" />
				<div class="title" data-literal='{"name":"lbl_banner_docs_title"}' />
			</div>
			<div class="navitem localization">
				<div class="ico" />
				<div class="title" data-literal='{"name":"lbl_banner_localization_title"}' />
			</div>
			<div class="navitem market">
				<div class="ico" />
				<div class="title" data-literal='{"name":"lbl_banner_market_title"}' />
			</div>
		</div>
	</section>
	<section class="slides">
		<section id="spa" class="slide section banner spa rgt active">
			<div class="middleContainer">
				<div class="imageContainer" />
				<div class="ban_desc">
					<h1 class="title" data-literal='{"name":"lbl_banner_spage_title"}' />
					<div class="desc" data-literal='{"name":"lbl_banner_spage_desc"}' />
					<a data-href='{"domain":"developer","page":"/features/spa.php"}' target="_self" class="more" data-literal='{"name":"lbl_learnMore"}' />
				</div>
			</div>
		</section>
		<section id="appcenter" class="slide section banner appcenter rgt">
			<div class="middleContainer">
				<div class="imageContainer" />
				<div class="ban_desc">
					<h1 class="title" data-literal='{"name":"lbl_banner_appcenter_title"}' />
					<div class="desc" data-literal='{"name":"lbl_banner_appcenter_desc"}' />
					<a data-href='{"domain":"apps","page":"/"}' target="_self" class="more" data-literal='{"name":"lbl_visit"}' />
				</div>
			</div>
		</section>
		<section id="api" class="slide section banner api lft">
			<div class="middleContainer">
				<div class="imageContainer" />
				<div class="ban_desc">
					<h1 class="title" data-literal='{"name":"lbl_banner_api_title"}' />
					<div class="desc" data-literal='{"name":"lbl_banner_api_desc"}' />
					<a data-href='{"domain":"developer","page":"/features/rap.php"}' target="_self" class="more" data-literal='{"name":"lbl_learnMore"}' />
				</div>
			</div>
		</section>
		<section id="vcs" class="slide section banner vcs rgt">
			<div class="middleContainer">
				<div class="imageContainer" />
				<div class="ban_desc">
					<h1 class="title" data-literal='{"name":"lbl_banner_vcs_title"}' />
					<div class="desc" data-literal='{"name":"lbl_banner_vcs_desc"}' />
					<a data-href='{"domain":"developer","page":"/features/vcs.php"}' target="_self" class="more" data-literal='{"name":"lbl_learnMore"}' />
				</div>
			</div>
		</section>
		<section id="beta" class="slide section banner beta rgt">
			<div class="middleContainer">
				<div class="imageContainer" />
				<div class="ban_desc">
					<h1 class="title" data-literal='{"name":"lbl_banner_beta_title"}' />
					<div class="desc" data-literal='{"name":"lbl_banner_beta_desc"}' />
				</div>
			</div>
		</section>
		<section id="issues" class="slide section banner issues lft">
			<div class="middleContainer">
				<div class="imageContainer" />
				<div class="ban_desc">
					<h1 class="title" data-literal='{"name":"lbl_banner_issues_title"}' />
					<div class="desc" data-literal='{"name":"lbl_banner_issues_desc"}' />
				</div>
			</div>
		</section>
		<section id="mvc" class="slide section banner mvc rgt">
			<div class="middleContainer">
				<div class="imageContainer" />
				<div class="ban_desc">
					<h1 class="title" data-literal='{"name":"lbl_banner_mvc_title"}' />
					<div class="desc" data-literal='{"name":"lbl_banner_mvc_desc"}' />
					<a data-href='{"domain":"developer","page":"/features/mvc.php"}' target="_self" class="more" data-literal='{"name":"lbl_learnMore"}' />
				</div>
			</div>
		</section>
		<section id="docs" class="slide section banner docs lft">
			<div class="middleContainer">
				<div class="imageContainer" />
				<div class="ban_desc">
					<h1 class="title" data-literal='{"name":"lbl_banner_docs_title"}' />
					<div class="desc" data-literal='{"name":"lbl_banner_docs_desc"}' />
					<a data-href='{"domain":"developer","page":"/docs/"}' target="_self" class="more" data-literal='{"name":"lbl_visit"}' />
				</div>
			</div>
		</section>
		<section id="localization" class="slide section banner localization lft">
			<div class="middleContainer">
				<div class="imageContainer" />
				<div class="ban_desc">
					<h1 class="title" data-literal='{"name":"lbl_banner_localization_title"}' />
					<div class="desc" data-literal='{"name":"lbl_banner_localization_desc"}' />
					<a data-href='{"domain":"developer","page":"/features/localization.php"}' target="_self" class="more" data-literal='{"name":"lbl_learnMore"}' />
				</div>
			</div>
		</section>
		<section id="market" class="slide section banner market rgt">
			<div class="middleContainer">
				<div class="imageContainer" />
				<div class="ban_desc">
					<h1 class="title" data-literal='{"name":"lbl_banner_market_title"}' />
					<div class="desc" data-literal='{"name":"lbl_banner_market_desc"}' />
				</div>
			</div>
		</section>
	</section>
	
<!--	
	<section class="section banner mvc rgt">
		<div class="mvc">
			<div class="middleContainer">
				<h1 class="title" data-literal='{"name":"lbl_mvcTitle"}' />
				<div class="ban_desc">
					<div class="imageContainer" />
					<div class="desc" data-literal='{"name":"lbl_mvcDesc"}' />
				</div>
			</div>
		</div>
	</section>
	<section class="section banner red lft">
		<div class="mvc">
			<div class="middleContainer">
				<h1 class="title" data-literal='{"name":"lbl_redTitle"}' />
				<div class="ban_desc">
					<div class="imageContainer" />
					<div class="desc" data-literal='{"name":"lbl_redDesc"}' />
				</div>
			</div>
		</div>
	</section>
-->
	<section id="framework" class="section banner ftr">
		<div class="ft">
			<div class="middleContainer">
				<h1 class="title" data-literal='{"name":"lbl_featuresTitle"}' />
				<div class="features">
					<div class="fgrid">
						<div class="fItem values">
							<div class="ico"></div>
							<div class="context">
								<h2 class="title" data-literal='{"name":"lbl_features_values_title"}' />
								<p class="sub" data-literal='{"name":"lbl_features_values_desc"}' />
							</div>
						</div>
						<div class="fItem space">
							<div class="ico"></div>
							<div class="context">
								<h2 class="title" data-literal='{"name":"lbl_features_space_title"}' />
								<p class="sub" data-literal='{"name":"lbl_features_space_desc"}' />
							</div>
						</div>
						<div class="fItem web">
							<div class="ico"></div>
							<div class="context">
								<h2 class="title" data-literal='{"name":"lbl_features_web_title"}' />
								<p class="sub" data-literal='{"name":"lbl_features_web_desc"}' />
							</div>
						</div>
						<div class="fItem apps">
							<div class="ico"></div>
							<div class="context">
								<h2 class="title" data-literal='{"name":"lbl_features_apps_title"}' />
								<p class="sub" data-literal='{"name":"lbl_features_apps_desc"}' />
							</div>
						</div>
						<div class="fItem projdev">
							<div class="ico"></div>
							<div class="context">
								<h2 class="title" data-literal='{"name":"lbl_features_projdev_title"}' />
								<p class="sub" data-literal='{"name":"lbl_features_projdev_desc"}' />
							</div>
						</div>
						<div class="fItem projft">
							<div class="ico"></div>
							<div class="context">
								<h2 class="title" data-literal='{"name":"lbl_features_projft_title"}' />
								<p class="sub" data-literal='{"name":"lbl_features_projft_desc"}' />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>