<div class="docViewer">
	<div class="navBar" />
	<div class="middleContainer">
		<div class="sidebar">
			<a class="myDashboard" data-literal='{"name":"lbl_myDashboard"}' data-href='{"domain":"developers","page":"/dashboard/"}' target="_self" />
			<ul id="sideMenu" class="sideMenu">
				<div class="doc_group open">
					<li class="navHeader" data-literal='{"name":"hd_appDevelopment"}'>
						<span class="ico" />
					</li>
					<div class="glist">
						<li class="navItem apps">
							<a target="_self" data-literal='{"name":"lbl_apps_gettingStarted"}' />
						</li>
						<li class="navItem files">
							<a target="_self" data-literal='{"name":"lbl_apps_storage"}' />
						</li>
						<li class="navItem manifest">
							<a target="_self" data-literal='{"name":"lbl_apps_permissions"}' />
						</li>
						<li class="navItem premium">
							<a target="_self" data-literal='{"name":"lbl_apps_premium"}' />
						</li>
						<li class="navItem app_center">
							<a target="_self" data-literal='{"name":"lbl_apps_appcenter"}' />
						</li>
					</div>
				</div>
				<div class="doc_group">
					<li class="navHeader" data-literal='{"name":"hd_enpDevelopment"}'>
						<span class="ico" />
					</li>
					<div class="glist">
						<li class="navItem relations_sdk">
							<a target="_self" data-literal='{"name":"lbl_enp_relations_sdk"}' />
						</li>
						<li class="navItem retail_sdk">
							<a target="_self" data-literal='{"name":"lbl_enp_retail_sdk"}' />
						</li>
						<li class="navItem app_store">
							<a target="_self" data-literal='{"name":"lbl_enp_market"}' />
						</li>
					</div>
				</div>
				<div class="doc_group">
					<li class="navHeader" data-literal='{"name":"hd_webDevelopment"}'>
						<span class="ico" />
					</li>
					<div class="glist">
						<li class="navItem website">
							<a target="_self" data-literal='{"name":"lbl_web_gettingStarted"}' />
						</li>
					</div>
				</div>
				<div class="doc_group">
					<li class="navHeader" data-literal='{"name":"hd_projects"}'>
						<span class="ico" />
					</li>
					<div class="glist">
						<li class="navItem projects">
							<a target="_self" data-literal='{"name":"lbl_devProjects"}' />
						</li>
						<li class="navItem hints">
							<a target="_self" data-literal='{"name":"lbl_devProjectHints"}' />
						</li>
						<li class="navItem version">
							<a target="_self" data-literal='{"name":"lbl_versionControl"}' />
						</li>
					</div>
				</div>
				<div class="doc_group">
					<li class="navHeader" data-literal='{"name":"hd_platformAPIs"}'>
						<span class="ico" />
					</li>
					<div class="glist">
						<li class="navItem platform_api">
							<a target="_self" data-literal='{"name":"lbl_platformAPI"}' />
						</li>
						<li class="navItem profile_api">
							<a target="_self" data-literal='{"name":"lbl_profileAPI"}' />
						</li>
						<li class="navItem comm_api">
							<a target="_self" data-literal='{"name":"lbl_communicationsAPI"}' />
						</li>
						<li class="navItem geoloc_api">
							<a target="_self" data-literal='{"name":"lbl_geolocAPI"}' />
						</li>
						
						<li class="navSeparator" />
						
						<li class="navItem html_ui_api">
							<a target="_self" data-literal='{"name":"lbl_htmlAPI"}' />
						</li>
						<li class="navItem content_ui_api">
							<a target="_self" data-literal='{"name":"lbl_contentAPI"}' />
						</li>
						<li class="navItem forms_ui_api">
							<a target="_self" data-literal='{"name":"lbl_formsAPI"}' />
						</li>
						<li class="navItem presentation_ui_api">
							<a target="_self" data-literal='{"name":"lbl_presentationAPI"}' />
						</li>
						<li class="navItem navigation_ui_api">
							<a target="_self" data-literal='{"name":"lbl_navigationAPI"}' />
						</li>
						<li class="navItem dev_ui_api">
							<a target="_self" data-literal='{"name":"lbl_devUIAPI"}' />
						</li>
						
						<li class="navSeparator" />
						
						<li class="navItem literals_api">
							<a target="_self" data-literal='{"name":"lbl_literalsAPI"}' />
						</li>
						<li class="navItem bugs_api">
							<a target="_self" data-literal='{"name":"lbl_bugTrackerAPI"}' />
						</li>
						<li class="navItem analytics_api">
							<a target="_self" data-literal='{"name":"lbl_analyticsAPI"}' />
						</li>
						
						<li class="navSeparator" />
						
						<li class="navItem web_docs">
							<a target="_self" data-literal='{"name":"lbl_webDocsAPI"}' />
						</li>
						
						<li class="navSeparator advanced" />
						
						<li class="navItem advanced projects_api">
							<a target="_self" data-literal='{"name":"lbl_projectsAPI"}' />
						</li>
						<li class="navItem advanced version_api">
							<a target="_self" data-literal='{"name":"lbl_versionAPI"}' />
						</li>
						<li class="navItem advanced security_api">
							<a target="_self" data-literal='{"name":"lbl_securityAPI"}' />
						</li>
					</div>
				</div>
				<div class="doc_group">
					<li class="navHeader" data-literal='{"name":"hd_publicAPI"}'>
						<span class="ico" />
					</li>
					<div class="glist">
						<li class="navItem api_architecture">
							<a target="_self" data-literal='{"name":"lbl_api_architecture"}' />
						</li>
						<li class="navItem api_login">
							<a target="_self" data-literal='{"name":"lbl_api_login"}' />
						</li>
						<li class="navItem api_apps">
							<a target="_self" data-literal='{"name":"lbl_api_apps"}' />
						</li>
					</div>
				</div>
				<div class="doc_group">
					<li class="navHeader" data-literal='{"name":"lbl_hdPlatform"}'>
						<span class="ico" />
					</li>
					<div class="glist">
						<li class="navItem intro">
							<a target="_self" data-literal='{"name":"lbl_devIntro"}' />
						</li>
						<li class="navItem basics">
							<a target="_self" data-literal='{"name":"lbl_devBasics"}' />
						</li>
						<li class="navItem essentials">
							<a target="_self" data-literal='{"name":"lbl_devEssentials"}' />
						</li>
						<li class="navItem mvc">
							<a target="_self" data-literal='{"name":"lbl_devMVC"}' />
						</li>
						<li class="navItem platform">
							<a target="_self" data-literal='{"name":"lbl_devPlatform"}' />
						</li>
						<li class="navItem architecture">
							<a target="_self" data-literal='{"name":"lbl_platformArchitecture"}' />
						</li>
					</div>
				</div>
				<div class="doc_group">
					<li class="navHeader" data-literal='{"name":"lbl_hdCommunity"}'>
						<span class="ico" />
					</li>
					<div class="glist">
						<li class="navItem community">
							<a target="_self" data-literal='{"name":"lbl_devCommunity"}' />
						</li>
						<li class="navItem shared_projects">
							<a target="_self" data-literal='{"name":"lbl_sharedProjects"}' />
						</li>
						<li class="navItem open_projects">
							<a target="_self" data-literal='{"name":"lbl_openProjects"}' />
						</li>
						<li class="navItem translators">
							<a target="_self" data-literal='{"name":"lbl_comTranslators"}' />
						</li>
					</div>
				</div>
				<div class="doc_group advanced">
					<li class="navHeader advanced" data-literal='{"name":"lbl_hdAdvanced"}'>
						<span class="ico" />
					</li>
					<div class="glist">
						<li class="navItem advanced advanced_intro">
							<a target="_self" data-literal='{"name":"lbl_advancedIntro"}' />
						</li>
						<li class="navItem advanced advanced_structure">
							<a target="_self" data-literal='{"name":"lbl_advancedStructure"}' />
						</li>
						<li class="navItem advanced advanced_modules">
							<a target="_self" data-literal='{"name":"lbl_advancedModules"}' />
						</li>
						<li class="navItem advanced advanced_security">
							<a target="_self" data-literal='{"name":"lbl_advancedSecurity"}' />
						</li>
					</div>
				</div>
			</ul>
		</div>
		<div class="contentHolder" />
	</div>
</div>