.projectHome .prjHmHeader {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	overflow: auto;
	background: #EFEFEF;
	border-bottom: 1px solid #DDD;
	padding: 5px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.projectHome .prjHmHeader .projectImage {
	float: left;
	width: 32px;
	height: 32px;
	border: 1px solid #EEE;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 9px 0px;
	margin-right: 20px;
	background: url('%resources%/developer/projects/defaultProjectIco.png') no-repeat;
	background-size: cover;
	opacity: 0.8;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.projectHome .prjHmHeader .projectInfo {
	float: left;
}
.projectHome .prjHmHeader .projectTitle {
	color: #C00403;
	margin: 0px;
	line-height: 50px;
	font-size: 16px;
}
.projectHome .prjHmHeader .projectName {
	font-size: 14px;
	margin-left: 10px;
	color: #000;
}
.projectHome .prjHmHeader .projectStatus {
	float: right;
	padding: 10px;
	margin: 5px 0px;
	color: #999;
	border: 1px solid transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.projectHome .prjHmHeader .projectStatus:hover {
	border: 1px solid #999;
	cursor: pointer;
	background-color: #EFEFEF;
}
.projectHome .prjHmHeader .projectStatus .statusIcon {
	float: left;
	width: 19px;
	height: 19px;
	background: url('/Library/Media/c/UI/notifications/notification_icons.svg') no-repeat center;
	background-size: 19px;
	margin-right: 10px;
}
.projectHome .prjHmHeader .projectStatus.st1 .statusIcon {
	background-position: 0px -57px;
}
.projectHome .prjHmHeader .projectStatus.st2 .statusIcon {
	background-position: 0px -38px;
}
.projectHome .prjHmHeader .projectStatus.st3 .statusIcon,
.projectHome .prjHmHeader .projectStatus.st4 .statusIcon {
	background-position: 0px 0px;
}
.projectHome .prjHmHeader .projectStatus.st5 .statusIcon {
	background-position: 0px -19px;
}
.projectHome .prjHmHeader .projectStatus .statusTitle {
	line-height: 19px;
	float: left;
	margin: 0px;
}
.projectHome .prjHmHeader .projectStatus.st1 .statusTitle {
	color: #e8732a;
}
.projectHome .prjHmHeader .projectStatus.st2 .statusTitle {
	color: #0f4976;
}
.projectHome .prjHmHeader .projectStatus.st3 .statusTitle,
.projectHome .prjHmHeader .projectStatus.st4 .statusTitle {
	color: #3EAC47;
}
.projectHome .prjHmHeader .projectStatus.st5 .statusTitle {
	color: #76121b;
}
.projectHome .prjHmBody {
	position: absolute;
	top: 62px;
	left: 0px;
	width: 100%;
	bottom: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.projectHome .prjHmBody .sidebar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 100%;
	border-right: 1px solid #DDD;
	overflow: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.projectHome .prjHmBody .sidebar .prjMenu {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.projectHome .prjHmBody .sidebar .prjMenu .menuItem {
	border-right: 3px solid transparent;
	border-bottom: 1px solid #DDD;
}
.projectHome .prjHmBody .sidebar .prjMenu .menuItem:hover {
	border-right: 3px solid #BBB;
}
.projectHome .prjHmBody .sidebar .prjMenu .menuItem.selected {
	border-right: 3px solid #C00403;
}
.projectHome .prjHmBody .sidebar .prjMenu .menuItem,
.projectHome .prjHmBody .sidebar .prjMenu .menuItem a {
	overflow: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
}
.projectHome .prjHmBody .sidebar .prjMenu .menuItem .ico {
	float: left;
	width: 24px;
	height: 24px;
	margin: 5px 10px;
	background: url('%resources%/developer/projects/sectionSprite.png') no-repeat;
	background-position: 0px -150px;
	background-size: cover;
	opacity: 0.5;
}
.projectHome .prjHmBody .sidebar .prjMenu .menuItem:hover .ico,
.projectHome .prjHmBody .sidebar .prjMenu .menuItem.selected .ico {
	opacity: 1;
}
.projectHome .prjHmBody .sidebar .prjMenu .menuItem.designer .ico {
	background-position: 0px 0px;
}
.projectHome .prjHmBody .sidebar .prjMenu .menuItem.resources .ico {
	background-position: 0px -24px;
}
.projectHome .prjHmBody .sidebar .prjMenu .menuItem.repository .ico {
	background-position: 0px -48px;
}
.projectHome .prjHmBody .sidebar .prjMenu .menuItem.analysis .ico {
	background-position: 0px -72px;
}
.projectHome .prjHmBody .sidebar .prjMenu .menuItem.security .ico {
	background-position: 0px -96px;
}
.projectHome .prjHmBody .sidebar .prjMenu .menuItem.tester .ico {
	background-position: 0px -120px;
}
.projectHome .prjHmBody .sidebar .prjMenu .menuItem .title {
	margin: 0px;
	padding: 5px;
	line-height: 24px;
	font-weight: normal;
	font-size: 12px;
	color: #777;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.projectHome .prjHmBody .sidebar .prjMenu .menuItem:hover .title,
.projectHome .prjHmBody .sidebar .prjMenu .menuItem.selected .title {
	color: #000;
}
.projectHome .prjHmBody .prjContent {
	position: absolute;
	top: 0px;
	left: 200px;
	right: 0px;
	height: 100%;
	overflow: auto;
}