.devManagementArea .contentIcon {
	width:16px;
	height:16px;
	background-size: 16px;
	background-repeat: no-repeat;
	display:inline-block;
	margin-right:3px;
	vertical-align:-4px;
	background-image: url('%{media}/developer/icons/fileThumbs.svg');
}
.devManagementArea .contentIcon.libIco {
	background-position:0px 0px;
}
.devManagementArea .contentIcon.pkgIco {
	background-position:0px -32px;
}
.devManagementArea .open > :not(ul):not(.subTreeView) .contentIcon.pkgIco {
	background-position:0px -16px;
}
.devManagementArea .contentIcon.fldIco {
	background-position:0px -48px;
}
.devManagementArea .contentIcon.flIco {
	background-position:0px -64px;
}
.devManagementArea .contentIcon.infoIcon {
	background-image: url('%{media}/global/info.svg');
	background-size: cover;
}
#moduleExplorerTree {
	height: 100%;
	overflow: auto;
}
.moduleExplorer .mNavTool.refresh {
	display: inline-block;
	width: 16px;
	height: 16px;
	opacity: 0.7;
	cursor: pointer;
	background-image:url('%{media}/global/devIcons.svg');
	background-repeat:no-repeat;
	background-size: cover;
	background-position: 0px -48px;
}
.moduleExplorer .mNavTool.refresh:hover {
	opacity: 1.0;
}