<div class="helpCenter">
	<section class="header">
		<div class="middleContainer">
			<div class="content">
				<h1 class="title" data-literal='{"name":"title"}' />
				<h2 class="subtitle" data-literal='{"name":"lbl_subtitle"}'  />
				<p class="description" data-literal='{"name":"lbl_desc"}' />
			</div>
		</div>
		<div class="navBar" />
	</section>
	<section class="trending">
		<div class="middleContainer">
			<div class="categories">
				<h2 class="title" data-literal='{"name":"lbl_trendingCategories"}' />
				<a target="_self" class="trendCategory starting" data-href='{"page":"/help/article.php?cat=starting"}' >
					<div class="trendImage" />
					<h4 class="trendTitle" data-literal='{"name":"lbl_gettingStarted"}' />
				</a>
				<a target="_self" class="trendCategory security" data-href='{"page":"/help/article.php?cat=security"}' >
					<div class="trendImage" />
					<h4 class="trendTitle" data-literal='{"name":"lbl_security"}' />
				</a>
				<a target="_self" class="trendCategory social" data-href='{"page":"/help/article.php?cat=social"}' >
					<div class="trendImage" />
					<h4 class="trendTitle" data-literal='{"name":"lbl_social"}' />
				</a>
				<a target="_self" class="trendCategory international" data-href='{"page":"/help/article.php?cat=international"}' >
					<div class="trendImage" />
					<h4 class="trendTitle" data-literal='{"name":"lbl_international"}' />
				</a>
				<a target="_self" class="trendCategory new" data-href='{"page":"/help/article.php?cat=new"}' >
					<div class="trendImage" />
					<h4 class="trendTitle" data-literal='{"name":"lbl_whatNew"}' />
				</a>
				<a target="_self" class="trendCategory business" data-href='{"page":"/help/article.php?cat=business"}' >
					<div class="trendImage" />
					<h4 class="trendTitle" data-literal='{"name":"lbl_business"}' />
				</a>
				<a target="_self" class="trendCategory apps" data-href='{"page":"/help/article.php?cat=apps"}' >
					<div class="trendImage" />
					<h4 class="trendTitle" data-literal='{"name":"lbl_appBuild"}' />
				</a>
				<a target="_self" class="trendCategory issues" data-href='{"page":"/help/article.php?cat=issues"}' >
					<div class="trendImage" />
					<h4 class="trendTitle" data-literal='{"name":"lbl_bugReport"}' />
				</a>
			</div>
			<div class="links">
				<a data-href='{"page":"/help/legal/"}' target="_self" data-literal='{"name":"lbl_legalNoticies"}' />
				&bull;
				<a data-href='{"page":"/help/contact.php"}' target="_self" data-literal='{"name":"lbl_contact"}' />
			</div>
		</div>
	</section>
</div>