<div id="relationsContainer" class="myRelations middleContainer">
	<ul class="navigation">
		<li class="navItem myTeams selected" data-literal='{"name":"lbl_nav_teams"}' />
		<li class="navItem myRelations" data-literal='{"name":"lbl_nav_relations"}' />
		<li class="navItem myCollaborations" data-literal='{"name":"lbl_nav_collaborations"}' />
		<li class="navItem myInvitations" />
	</ul>
	<div class="relationSections">
		<div id="myTeams" />
		<div id="myRelations">
			<h2 class="hd" data-literal='{"name":"hd_relations_disabled"}' />
		</div>
		<div id="myCollaborations">
			<h2 class="hd" data-literal='{"name":"hd_no_collaborations"}' />
		</div>
		<div id="myInvitations" />
	</div>
</div>