<div class="navBar">
	<div class="inner">
		<div class="navTile modules" data-literal='{"name":"lbl_moduleManagement"}'></div>
		<div class="navTile privileges" data-literal='{"name":"lbl_userPrivileges"}'></div>
		<div class="navTile groups" data-literal='{"name":"lbl_userGroups"}'></div>
	</div>
</div>
<div id="securitySections" class="mainContentHolder securitySections">
	<div id="moduleManagement" class="moduleManagement"></div>
	<div id="userPrivileges" class="userPrivileges"></div>
	<div id="userGroups" class="userGroups"></div>
</div>