.queryViewer {
	height: 100%;
	overflow: auto;
}

.queryViewer .contentIcon {
	width:16px;
	height:16px;
	background-size: 16px;
	background-repeat: no-repeat;
	display:inline-block;
	margin-right:3px;
	vertical-align:-4px;
	background-image: url('%resources%/developer/icons/fileThumbs.svg');
}
.queryViewer .contentIcon.fldIco {
	background-position:0px -48px;
}
.queryViewer .contentIcon.flIco {
	background-position:0px -64px;
}

#dbQueriesTree {
	height: 100%;
	overflow: auto;
}

.queryViewer .qNavTool {
	display: inline-block;
	width: 16px;
	height: 16px;
	opacity: 0.7;
	cursor: pointer;
	background-image:url('%{media}/global/devIcons.svg');
	background-repeat:no-repeat;
	background-size: cover;
}
.queryViewer .qNavTool:hover {
	opacity: 1.0;
}
.queryViewer .qNavTool.refresh {
	background-position: 0px -48px;
}
.queryViewer .qNavTool.create_new {
	background-position: 0px -64px;
}