<div class="hints">
	<div class="header">
		<div class="bico" />
		<h2 class="title" data-literal='{"name":"lbl_hintsHeader"}' />
	</div>
	<ul class="hlist">
		<li class="hnt" data-literal='{"name":"lbl_hint_url"}' />
		<li class="hnt" data-literal='{"name":"lbl_hint_vcs"}' />
		<li class="hnt" data-literal='{"name":"lbl_hint_tester"}' />
		<li class="hnt" data-literal='{"name":"lbl_hint_cpanel"}' />
		<li class="hnt" data-literal='{"name":"lbl_hint_headers"}' />
		<li class="hnt" data-literal='{"name":"lbl_hint_safe"}' />
	</ul>
	<div class="footer">
		<span class="btn dismiss" data-literal='{"name":"lbl_dismiss"}' />
		<a data-href='{"domain":"developer","page":"/docs/index.php?name=hints"}' target="_blank" class="btn doc" data-literal='{"name":"lbl_viewDoc"}' />
		
	</div>
</div>