<div class="docViewer">
	<div class="navBar" />
	<div class="middleContainer">
		<div class="sidebar">
			<a class="myDashboard" data-literal='{"name":"lbl_myDashboard"}' data-href='{"domain":"developers","page":"/dashboard/"}' target="_self" />
			<ul id="sideMenu" class="sideMenu">
				<li class="navHeader" data-literal='{"name":"lbl_hdDevelopment"}' />
				<li class="navItem intro">
					<a target="_self" data-literal='{"name":"lbl_devIntro"}' />
				</li>
				<li class="navItem basics">
					<a target="_self" data-literal='{"name":"lbl_devBasics"}' />
				</li>
				<li class="navItem essentials">
					<a target="_self" data-literal='{"name":"lbl_devEssentials"}' />
				</li>
				<li class="navItem mvc">
					<a target="_self" data-literal='{"name":"lbl_devMVC"}' />
				</li>
				<li class="navItem platform">
					<a target="_self" data-literal='{"name":"lbl_devPlatform"}' />
				</li>
				<li class="navItem projects">
					<a target="_self" data-literal='{"name":"lbl_devProjects"}' />
				</li>
				<li class="navItem hints">
					<a target="_self" data-literal='{"name":"lbl_devProjectHints"}' />
				</li>
				<li class="navItem version">
					<a target="_self" data-literal='{"name":"lbl_versionControl"}' />
				</li>
				
				<li class="navHeader" data-literal='{"name":"lbl_hdGuides"}' />
				<li class="navItem apps">
					<a target="_self" data-literal='{"name":"lbl_appsGuide"}' />
				</li>
				<li class="navItem website">
					<a target="_self" data-literal='{"name":"lbl_webGuide"}' />
				</li>
				<li class="navItem template">
					<a target="_self" data-literal='{"name":"lbl_webTemplateGuide"}' />
				</li>
				<li class="navItem extension">
					<a target="_self" data-literal='{"name":"lbl_webExtensionGuide"}' />
				</li>
				<li class="navItem market">
					<a target="_self" data-literal='{"name":"lbl_marketplace"}' />
				</li>
				
				<li class="navHeader advanced" data-literal='{"name":"lbl_hdAdvanced"}' />
				<li class="navItem advanced advanced_intro">
					<a target="_self" data-literal='{"name":"lbl_advancedIntro"}' />
				</li>
				<li class="navItem advanced advanced_structure">
					<a target="_self" data-literal='{"name":"lbl_advancedStructure"}' />
				</li>
				<li class="navItem advanced advanced_modules">
					<a target="_self" data-literal='{"name":"lbl_advancedModules"}' />
				</li>
				<li class="navItem advanced advanced_security">
					<a target="_self" data-literal='{"name":"lbl_advancedSecurity"}' />
				</li>
				
				<li class="navHeader" data-literal='{"name":"lbl_hdPlatform"}' />
				<li class="navItem architecture">
					<a target="_self" data-literal='{"name":"lbl_platformArchitecture"}' />
				</li>
				
				<li class="navHeader" data-literal='{"name":"lbl_hdCommunity"}' />
				<li class="navItem community">
					<a target="_self" data-literal='{"name":"lbl_devCommunity"}' />
				</li>
				<li class="navItem shared_projects">
					<a target="_self" data-literal='{"name":"lbl_sharedProjects"}' />
				</li>
				<li class="navItem open_projects">
					<a target="_self" data-literal='{"name":"lbl_openProjects"}' />
				</li>
				<li class="navItem translators">
					<a target="_self" data-literal='{"name":"lbl_comTranslators"}' />
				</li>
			</ul>
		</div>
		<div class="docHolder" />
	</div>
</div>