.classChangelog {
	.vInfo {
		float: right;
	}
	.br {
		line-height: 20px;
		color: #777;
		overflow: auto;
		margin: 5px 0px;
	}
	.br span {
		margin: 0px 3px;
		float: right;
	}
	.bxtl {
		text-align: left;
		width: 200px;
		display: block;
		float: right;
	}
}