<div id="OneColumnCentered_mainContent" class="uiMainContent">
	<section class="header">
		<div class="projectImage" />
		<div class="projectActions">
			<div class="editInfoBtn action" />
			<div class="projectDesigner action" />
			<div class="projectRepository action" />
			<div class="projectPublisher action" />
		</div>
		<div class="projectInfo">
			<h1 class="projectTitle" />
			<span class="projectName" />
			<h4 class="projectDescription" />
		</div>
	</section>
	<section class="projectIssues infoBox">
		<h3 class="title" />
		<div class="issuesList infoList" />
	</section>
	<section class="projectMembers infoBox">
		<span class="addMember" />
		<h3 class="title" />
		<div class="memberList infoList" />
	</section>
</div>