<div class="developerNavContent">
	<ul class="navMenu">
		<li class="navMenuItem devHome">
			<a data-href='{"domain":"developer","page":"/"}' target="_self" data-literal='{"name":"tlb_developerHome"}' />
		</li>
		<li class="navMenuItem devProfile">
			<a data-href='{"domain":"developer","page":"/profile/"}' target="_self" data-literal='{"name":"tlb_developerProfile"}' />
		</li>
		<li class="navMenuItem devDocs">
			<a data-href='{"domain":"developer","page":"/docs/"}' target="_self" data-literal='{"name":"tlb_developerDocs"}' />
		</li>
		<li class="navMenuItem sdkHome">
			<a data-href='{"domain":"developer","page":"/docs/sdk/"}' target="_self" data-literal='{"name":"tlb_developerSDKManual"}' />
		</li>
		<li class="navMenuItem devSupport">
			<a data-href='{"domain":"developer","page":"/support/"}' target="_self" data-literal='{"name":"tlb_developerSupport"}' />
		</li>
	</ul>
</div>