<div id="modulesConfigTabs" class="configTabs">
	<ul class="tabs">
		<li class="navTab tester selected" data-literal='{"name":"lbl_navHeader_allModules"}' />
		<li class="navTab debugger" data-literal='{"name":"lbl_navHeader_debugger"}' />
		<li class="navTab profiler" data-literal='{"name":"lbl_navHeader_profiler"}' />
		<li class="navTab support" data-literal='{"name":"lbl_navHeader_support"}' />
	</ul>
	<div class="pages">
		<div id="modulesTesterConfig" class="page testerPanel">
			<div class="topContainer">
				<div class="switchRow mtester">
					<span data-literal='{"name":"lbl_allModuleTester"}' />
				</div>
				<div class="switchRow mrsrc">
					<span data-literal='{"name":"lbl_moduleResourceTester"}' />
				</div>
				<div class="switchRow mstester">
					<span data-literal='{"name":"lbl_moduleSecurityTester"}' />
				</div>
			</div>
			<div class="moduleConfigurator" />
		</div>
		<div id="coreDebuggerConfig" class="page debuggerPanel">
			<div class="topContainer">
				<div class="switchRow logger">
					<span data-literal='{"name":"lbl_logger"}' />
				</div>
				<div class="switchRow debugger">
					<span data-literal='{"name":"lbl_debugger"}' />
				</div>
			</div>
			<div class="pagesLoggerContainer" />
		</div>
		<div id="modulesResourceProfiler" class="page profilerPanel resourceProfiler">
			<h4 class="title" data-literal='{"name":"lbl_resourceProfilerTitle"}' />
			<div class="resourceListContainer">
				<div class="cssResources" />
				<div class="jsResources" />
			</div>
		</div>
		<div id="modulesPublishSupport" class="page supportPanel">
			<h3 class="title" data-literal='{"name":"lbl_supportModulesTitle"}' />
		</div>
	</div>
</div>