<div class="coreAnalysis">
	<div class="navbar">
		<ul class="menu">
			<li class="mitem mi_metrics selected" data-literal='{"name":"lbl_menuMetrics"}' />
			<li class="mitem mi_graph" data-literal='{"name":"lbl_menuGraphs"}' />
			<li class="mitem mi_ui" data-literal='{"name":"lbl_menuUiPreview"}' />
		</ul>
	</div>
	<div id="anpool" class="mainContent">
		<div id="a_metrics" class="a_metrics page" />
		<div id="a_graph" class="a_graph page" />
		<div id="a_ui" class="a_ui page" />
	</div>
</div>