<div id="appConfigTabs" class="configTabs">
	<ul class="tabs">
		<li class="navTab tester selected" data-literal='{"name":"lbl_navHeader_tester"}' />
		<li class="navTab debugger" data-literal='{"name":"lbl_navHeader_debugger"}' />
		<li class="navTab profiler" data-literal='{"name":"lbl_navHeader_profiler"}' />
	</ul>
	<div class="pages">
		<div id="appTesterConfig" class="page testerPanel">
			<div class="topContainer">
				<div class="switchRow views">
					<span data-literal='{"name":"lbl_viewsTester"}' />
				</div>
			</div>
			<div class="viewConfigurator configList">
				<h4 class="title" data-literal='{"name":"lbl_appViews"}' />
			</div>
			<div class="packageConfigurator configList">
				<h4 class="title" data-literal='{"name":"lbl_srcPackages"}' />
			</div>
		</div>
		<div id="appDebuggerConfig" class="page debuggerPanel">
			<div class="topContainer">
				<div class="switchRow debugger">
					<span data-literal='{"name":"lbl_debugger"}' />
				</div>
			</div>
			<div class="loggerDataContainer" />
		</div>
		<div id="appResourceProfiler" class="page profilerPanel resourceProfiler">
			<h4 class="title" data-literal='{"name":"lbl_resourceProfilerTitle"}' />
			<div class="resourceListContainer">
				<div class="cssResources" />
				<div class="jsResources" />
			</div>
		</div>
	</div>
</div>