.consoleContent h3.header {
	margin: 0px;
	margin-bottom: 5px;
	color: #999;
}
.consoleContent .console {
	position: relative;
}
.consoleContent .console .headers {
	position: absolute;
	top: 29px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	overflow: auto;
	z-index: 2;
}
.consoleContent .content {
	border: 1px solid rgba(166, 166, 166, 1);
	height: 200px;
	overflow: auto;
	margin-bottom: 15px;
}
.consoleContent .output {
	position: relative;
}
.consoleContent .output .result {
	white-space: pre-wrap;
	padding: 5px;
	margin: 0px;
}
.consoleContent .output .header {
	position: absolute;
	top: 10px;
	right: 15px;
	text-align: right;
	opacity: 0.5;
	cursor: default;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.consoleContent .consoleTool {
	display: inline-block;
	width: 16px;
	height: 16px;
	opacity: 0.7;
	cursor: pointer;
}
.consoleContent .consoleTool:hover {
	opacity: 1.0;
}
.consoleContent button.consoleTool {
	border : none;
	background-color: transparent;
}
.consoleContent .consoleTool.run {
	background-image: url('%resources%/developer/projects/projectShortcuts.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px 0px;
}
.consoleContent .consoleTool.settings {
	background-image:url('/Library/Media/c/global/devIcons.svg');
	background-repeat:no-repeat;
	background-size: cover;
	background-position: 0px -16px;
}
.consoleContent #cns_headers {
	height: 100%;
}