<div class="projectContainer webDashboard sidebarContainer openSidebar">
	<div class="navBar">
		<div class="bar">
			<div class="sideNav teamInfo">
				<div class="icon" />
				<h2 class="title team" />
			</div>
			<div class="searchContainer">
				<div class="searchInnerContainer">
					<div class="searchIcoContainer">
						<div class="searchIco" />
					</div>
					<input type="text" class="searchInput" placeholder="Search projects..." autofocus />
				</div>
			</div>
			<div class="tools" />
		</div>
	</div>
	<div class="sidebar">
		<ul class="selectionList">
			<li class="listContent team_projects" data-target="team" data-literal='{"name":"lbl_teamProjects"}'>
				<span class="count">0</span>
			</li>
			<li class="listContent my_projects selected" data-target="my" data-literal='{"name":"lbl_myProjects"}'>
				<span class="count">0</span>
			</li>
			<li class="listContent shared_projects" data-target="shared" data-literal='{"name":"lbl_sharedProjects"}'>
				<span class="count">0</span>
			</li>
			<li class="divider" />
			<li class="listContent webProjects" data-target="websites" data-literal='{"name":"lbl_websiteProjects"}'>
				<span class="count">0</span>
			</li>
			<li class="listContent webTemplates" data-target="templates" data-literal='{"name":"lbl_webTemplates"}'>
				<span class="count">0</span>
			</li>
			<li class="listContent webExtensions" data-target="extensions" data-literal='{"name":"lbl_webExtensions"}'>
				<span class="count">0</span>
			</li>
		</ul>
	</div>
	<div class="mainContainer contentMain">
		<ul class="projectList" />
	</div>
	<div class="teamChooser">
		<div class="teams">
			<h2 class="htitle" data-literal='{"name":"lbl_teamChooser"}' />
			<h3 class="htitle noteam" data-literal='{"name":"lbl_noTeams"}' />
		</div>
		<div class="create_new">
			<a data-href='{"domain":"my","page":"/relations/"}' target="_blank">
				<h2 class="htitle" data-literal='{"name":"lbl_createTeam"}' />
			</a>
		</div>
	</div>
</div>