<div class="docMenu">
	<div class="menuContainer open">
		<div class="sd-title" data-literal='{"name":"hd_menu_sdk"}' />
		<ul class="menu sdk">
			<li class="menu-item sdk_dom_html">
				<a target="_self" data-literal='{"name":"lbl_menu_sdk_dom"}' />
			</li>
			<li class="menu-item sdk_forms">
				<a target="_self" data-literal='{"name":"lbl_menu_sdk_forms"}' />
			</li>
			<li class="menu-item sdk_content">
				<a target="_self" data-literal='{"name":"lbl_menu_sdk_content"}' />
			</li>
			<li class="menu-item sdk_presentation">
				<a target="_self" data-literal='{"name":"lbl_menu_sdk_presentation"}' />
			</li>
			<li class="menu-item sdk_navigation">
				<a target="_self" data-literal='{"name":"lbl_menu_sdk_navigation"}' />
			</li>
			<li class="menu-item sdk_developer">
				<a target="_self" data-literal='{"name":"lbl_menu_sdk_developer"}' />
			</li>
			<li class="menu-item sdk_platform">
				<a target="_self" data-literal='{"name":"lbl_menu_sdk_platform"}' />
			</li>
			<li class="menu-item sdk_profile">
				<a target="_self" data-literal='{"name":"lbl_menu_sdk_profile"}' />
			</li>
			<li class="menu-item sdk_comm">
				<a target="_self" data-literal='{"name":"lbl_menu_sdk_communications"}' />
			</li>
			<li class="menu-item sdk_geoloc">
				<a target="_self" data-literal='{"name":"lbl_menu_sdk_geoloc"}' />
			</li>
			<li class="menu-item sdk_literals">
				<a target="_self" data-literal='{"name":"lbl_menu_sdk_literals"}' />
			</li>
			<li class="menu-item sdk_wdocs">
				<a target="_self" data-literal='{"name":"lbl_menu_sdk_wdocs"}' />
			</li>
			<li class="menu-item sdk_issues">
				<a target="_self" data-literal='{"name":"lbl_menu_sdk_issues"}' />
			</li>
			<li class="menu-item sdk_analytics">
				<a target="_self" data-literal='{"name":"lbl_menu_sdk_analytics"}' />
			</li>

		</ul>
	</div>
	<div class="menuContainer open">
		<div class="sd-title" data-literal='{"name":"hd_menu_tutorials"}' />
		<ul class="menu tutorials">
			<li class="menu-item tutorial_helloworld">
				<a target="_self" data-literal='{"name":"lbl_menu_tutorial_helloworld"}' />
			</li>
		</ul>
	</div>
	<div class="menuContainer open">
		<div class="sd-title" data-literal='{"name":"hd_menu_apps"}' />
		<ul class="menu apps">
			<li class="menu-item apps_gettingstarted">
				<a target="_self" data-literal='{"name":"lbl_menu_apps_gettingstarted"}' />
			</li>
			<li class="menu-item apps_storage">
				<a target="_self" data-literal='{"name":"lbl_menu_apps_storage"}' />
			</li>
			<li class="menu-item apps_permissions">
				<a target="_self" data-literal='{"name":"lbl_menu_apps_permissions"}' />
			</li>
			<li class="menu-item apps_premium">
				<a target="_self" data-literal='{"name":"lbl_menu_apps_premium"}' />
			</li>
			<li class="menu-item apps_appcenter">
				<a target="_self" data-literal='{"name":"lbl_menu_apps_appcenter"}' />
			</li>
		</ul>
	</div>
	<div class="menuContainer open">
		<div class="sd-title" data-literal='{"name":"hd_menu_projects"}' />
		<ul class="menu projects">
			<li class="menu-item projects_intro">
				<a target="_self" data-literal='{"name":"lbl_menu_projects_intro"}' />
			</li>
			<li class="menu-item projects_hints">
				<a target="_self" data-literal='{"name":"lbl_menu_projects_hints"}' />
			</li>
			<li class="menu-item projects_vcs">
				<a target="_self" data-literal='{"name":"lbl_menu_projects_vcs"}' />
			</li>
		</ul>
	</div>
	<div class="menuContainer open">
		<div class="sd-title" data-literal='{"name":"hd_menu_api"}' />
		<ul class="menu api">
			<li class="menu-item api_protocol">
				<a target="_self" data-literal='{"name":"lbl_menu_api_protocol"}' />
			</li>
			<li class="menu-item api_account">
				<a target="_self" data-literal='{"name":"lbl_menu_api_account"}' />
			</li>
			<li class="menu-item api_application">
				<a target="_self" data-literal='{"name":"lbl_menu_api_application"}' />
			</li>
		</ul>
	</div>
	<div class="menuContainer open">
		<div class="sd-title" data-literal='{"name":"hd_menu_platform"}' />
		<ul class="menu platform">
			<li class="menu-item platform_basics">
				<a target="_self" data-literal='{"name":"lbl_menu_platform_basics"}' />
			</li>
			<li class="menu-item platform_essentials">
				<a target="_self" data-literal='{"name":"lbl_menu_platform_essentials"}' />
			</li>
			<li class="menu-item platform_mvc">
				<a target="_self" data-literal='{"name":"lbl_menu_platform_mvc"}' />
			</li>
			<li class="menu-item platform_programming">
				<a target="_self" data-literal='{"name":"lbl_menu_platform_programming"}' />
			</li>
			<li class="menu-item platform_architecture">
				<a target="_self" data-literal='{"name":"lbl_menu_platform_architecture"}' />
			</li>
		</ul>
	</div>
	<div class="menuContainer open">
		<div class="sd-title" data-literal='{"name":"hd_menu_community"}' />
		<ul class="menu community">
			<li class="menu-item community_intro">
				<a target="_self" data-literal='{"name":"lbl_menu_community_intro"}' />
			</li>
			<li class="menu-item community_translations">
				<a target="_self" data-literal='{"name":"lbl_menu_community_translations"}' />
			</li>
		</ul>
	</div>
</div>