.pageManager .contentIcon {
	width:16px;
	height:16px;
	background-size: 16px;
	background-repeat: no-repeat;
	display:inline-block;
	margin-right:3px;
	vertical-align:-4px;
	background-image: url('%resources%/developer/icons/fileThumbs.svg');
}
.pageManager .contentIcon.fldIco {
	background-position:0px -48px;
}
.pageManager .contentIcon.flIco {
	background-position:0px -64px;
}