.wrapper {
	width:500px;
	height:500px;
	position:relative;
	/*border:1px solid rgb(166, 166, 166);*/
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	overflow:auto;
	border:1px solid rgb(166, 166, 166);
}
.search {
	width:350px;
	border:1px solid rgb(166, 166, 166);
}
.wrapper .check {
	margin:0;
	margin-right:3px;
	vertical-align:text-top;
}

#fex2_libraryMedia {
	width:500px;
	height:400px;
}