<div class="navbar">
	<div class="middleContainer">
		<a data-href='{"domain":"developers","page":"/"}' target="_self" class="logo" />
		<div class="navigation">
			<ul class="navMenu">
				<li>
					<a data-href='{"domain":"developers","page":"/plans/"}' data-literal='{"name":"lbl_menu_pricing_plans"}' target="_self"/>
				</li>
				<li>
					<a data-href='{"domain":"apps","page":"/"}' data-literal='{"name":"lbl_menu_appcenter"}' target="_self"/>
				</li>
				<li class="dark dashboard">
					<a data-href='{"domain":"developers","page":"/dashboard/"}' data-literal='{"name":"lbl_menu_dashboard"}' target="_self"/>
				</li>
				<li class="dark login" data-literal='{"name":"lbl_menu_login"}' />
			</ul>
		</div>
	</div>
</div>