<div id="OneColumnFullscreen" class="uiPageLayout bizDashboard">
	<div id="OneColumnFullscreen_mainContent" class="uiMainContent">
		<div class="apps_pool" />
		<div class="apps_grid">
			<div class="thm th06">
				<div class="bg" />
				<div class="clr" />
			</div>
			<div class="slideContainer loading">
				<div class="slides">
					<div class="noApps">
						<h1 data-literal='{"name":"lbl_noApps"}' />
					</div>
				</div>
				<div class="navBar">
					<ul class="navBalls" />
				</div>
			</div>
		</div>
		<div class="dashInfo">
			<h1 class="title" />
		</div>
		<div class="dashSettings">
			<div class="settings ico" />
			<a class="market ico" target="_blank" data-href='{"domain":"boss","page":"/market/"}' />
			<div class="settings_popup noDisplay">
				<h3 class="sthd" data-literal='{"name":"lbl_dashSettings"}' />
				<div class="themes stlist">
					<h4 class="sthd" data-literal='{"name":"lbl_chooseImage"}' />
				</div>
				<div class="colors stlist">
					<h4 class="sthd" data-literal='{"name":"lbl_chooseColor"}' />
				</div>
			</div>
		</div>
		<div class="footerMenu">
			<span class="faded">Redback&trade; Business OSS &copy; 2014</span>
			<span> • </span>
			<a data-href='{"page":"/help/legal/terms.php"}' data-literal='{"name":"lbl_footer_terms"}' target="_blank" />
			<span> • </span>
			<a data-href='{"page":"/help/privacy/"}' data-literal='{"name":"lbl_footer_privacy"}' target="_blank" />
			<span> • </span>
			<a data-href='{"page":"/help/boss/"}' data-literal='{"name":"lbl_footer_help"}' target="_blank" />
		</div>
	</div>
</div>