<div class="registerPage">
	<div class="whiteBox">
		<div class="header">
			<div class="lside">
				<div class="logo" />
				<h2 class="text">Redback</h2>
			</div>
			<div class="small" data-literal='{"name":"lbl_registerTitle"}' />
		</div>
		<div class="main">
			<div class="leftSide side">
				<h3 class="title" data-literal='{"name":"lbl_regTitle"}'/>
				<h4 class="sub" data-literal='{"name":"lbl_regSub"}'/>
				<div class="services">
					<div class="logo global" />
					<div class="logo biz" />
					<div class="logo web" />
					<div class="logo apps" />
				</div>
			</div>
			<div class="side formContainer">
			</div>
		</div>
		<div class="footer">
			<h4 class="terms" data-literal='{"name":"lbl_legal"}' />
			<div class="menu">
				<a data-href='{"page":"/help/legal/terms.php"}' data-literal='{"name":"lbl_termsTitle"}' target="_blank" />
				<span> &bull; </span>
				<a data-href='{"page":"/help/privacy/"}' data-literal='{"name":"lbl_privacyTitle"}' target="_blank" />
				<span> &bull; </span>
				<a data-href='{"page":"/help/privacy/index.php#cookies"}' data-literal='{"name":"lbl_cookiesTitle"}' target="_blank" />
			</div>
		</div>
	</div>
	<div class="pgFooter">
		<div class="left">
			<span>Redback&trade; &copy; </span>
		</div>
		<div class="right">
			<a data-href='{"page":"/help/"}' data-literal='{"scope":"global::notifications::center","name":"helpCenter"}' target="_blank" />
			<span> &bull; </span>
			<a data-href='{"domain":"my","page":"/settings/"}' class="locale" target="_blank" />
		</div>
	</div>
</div>