<div class="helpDocViewer">
	<section class="header">
		<div class="middleContainer">
			<h1 class="wtitle" data-literal='{"name":"title"}' />
		</div>
		<div class="navBar" />
	</section>
	<section class="viewerContainer">
		<div class="middleContainer">
			<div class="sidebar">
				<ul id="sideMenu" class="sideMenu">
					<li class="navItem start">
						<a target="_self" data-literal='{"name":"lbl_getStarted"}' />
					</li>
					<li class="navItem account">
						<a target="_self" data-literal='{"name":"lbl_accountSecurity"}' />
					</li>
					<li class="navItem privacy">
						<a target="_self" data-literal='{"name":"lbl_privacy"}' />
					</li>
					<li class="navItem business">
						<a target="_self" data-literal='{"name":"lbl_businessOS"}' />
					</li>
					<li class="navItem dev">
						<a target="_self" data-literal='{"name":"lbl_devFramework"}' />
					</li>
					<li class="navItem reporting">
						<a target="_self" data-literal='{"name":"lbl_reporting"}' />
					</li>
					<li class="navItem what_new">
						<a target="_self" data-literal='{"name":"lbl_whatsNew"}' />
					</li>
					<li class="navItem social">
						<a target="_self" data-literal='{"name":"lbl_socialRedback"}' />
					</li>
					<li class="navItem international">
						<a target="_self" data-literal='{"name":"lbl_internationalRedback"}' />
					</li>
				</ul>
			</div>
			<div class="docHolder" />
		</div>
	</div>
</div>