<div class="documentationViewer">
	<div class="basicInfoContainer">
		<div class="classDeclContainer middleContainer">
			<div class="signature">
				<div class="logo" />
				<div class="classInfo">
					<h1 class="className" />
					<pre class="inheritance" />
				</div>
			</div>
			<div class="section classDesc">
				<div class="classTitle" />
				<p class="classDescription" />
				<div class="classDeclaration">
					<div class="classImplements" />
				</div>
			</div>
			<ul class="docNavigation">
				<li class="navitem synopsis selected" data-literal='{"name":"lbl_man_classSynopsis"}' />
				<li class="navitem manual" data-literal='{"name":"lbl_man_classManual"}' />
				<li class="navitem model" data-literal='{"name":"lbl_man_classModel"}' />
				<li class="navitem changelog" data-literal='{"name":"lbl_man_changelog"}' />
				<li class="navitem similar" data-literal='{"name":"lbl_man_similarObjects"}' />
			</ul>
		</div>
	</div>
	<div id="bodyDetailsContainer" class="bodyDetailsContainer middleContainer">
		<div id="docSynopsis" class="section">
			<div class="body">
				<div class="constantsContainer">
					<div class="subHeader" data-literal='{"name":"lbl_constantsHeader"}' />
					<div class="sectionBody"/>
				</div>
				<div class="propertiesContainer">
					<div class="subHeader" data-literal='{"name":"lbl_propertiesHeader"}' />
					<div class="sectionBody" />
				</div>
				<div class="methodsContainer">
					<div class="subHeader" data-literal='{"name":"lbl_methodsHeader"}' />
					<div class="sectionBody" />
				</div>
			</div>
		</div>
		<div id="docManual" class="section">
			<h2 class="hd" data-literal='{"name":"lbl_noManual"}' />
		</div>
		<div id="objModel" class="section">
			<h2 class="hd" data-literal='{"name":"lbl_noModel"}' />
		</div>
		<div id="changelog" class="section">
			<div class="vInfo">
				<div class="br version" />
				<div class="br created" />
				<div class="br updated" />
			</div>
			<h2 class="hd" data-literal='{"name":"lbl_noChanges"}' />
		</div>
		<div id="packageObjects" class="section">
			<h2 class="hd" data-literal='{"name":"lbl_similarObjects"}' />
		</div>
	</div>
</div>