<div class="projectLocalization">
	<div class="middleContainer">
		<div class="header" data-literal='{"name":"hd_projectLocalization"}' />
		<ul class="menu">
			<li class="menu_item overview selected" data-literal='{"name":"lbl_navitem_overview"}' />
			<li class="menu_item editor" data-literal='{"name":"lbl_navitem_editor"}' />
			<li class="menu_item translations" data-literal='{"name":"lbl_navitem_translations"}' />
			<li class="menu_item review" data-literal='{"name":"lbl_navitem_review"}' />
		</ul>
		<div id="lcContainer" class="whiteBox" />
	</div>
</div>