<div class="drovioSub">
	<div class="home section">
		<a class="drovio navitem" data-href='{"domain":"www","page":"/"}' target="_self">
			<div class="ico" />
			<div class="title">DrovIO</div>
		</a>
		<a class="developers navitem" data-href='{"domain":"developers","page":"/"}' target="_self">
			<div class="ico" />
			<div class="title">Developers</div>
		</a>
	</div>
	<div class="teams section">
		<div class="hd" data-literal='{"name":"lbl_noTeams"}' />
	</div>
	<div class="new_team section">
		<div class="new navitem">
			<div class="ico" />
			<div class="title" data-literal='{"name":"lbl_createNewTeam"}' />
		</div>
	</div>
</div>