<div class="keyViewer">
	<h4 data-literal='{"name":"hd_accessKeys_desc"}' class="contentHeader" />
	<div class="keylist projectKeys" />
	<div class="docs_reference">
		<h4 data-literal='{"name":"hd_accessKeys_docs"}' class="contentHeader" />
		<div class="button_container">
			<a data-href='{"domain":"developers","page":"/docs/api_architecture/"}' target="_blank" data-literal='{"name":"lbl_api_architecture"}' class="wbutton" />
			<a data-href='{"domain":"developers","page":"/docs/api_apps/"}' target="_blank" data-literal='{"name":"lbl_api_apps"}' class="wbutton" />
		</div>
	</div>
</div>