.projectOverview {
	overflow: auto;
}

.projectOverview .middleContainer {
	margin: 10px 20px;
	overflow: auto;
}

.projectOverview .wbutton {
	float: right;
	margin: 10px;
	width: 150px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #3CB0F7;
	border: 1px solid #3CB0F7;
	color: #FFF;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
	padding: 5px 10px;
	line-height: 18px;
	text-align: center;
	font-size: 12px;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.projectOverview .wbutton.delete {
	background: #ed5e54;
	border: 1px solid #ed5e54;
}

.projectOverview .wbutton:hover {
	background: transparent;
	color: #3CB0F7;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.projectOverview .wbutton.delete:hover {
	color: #ed5e54;
}

.projectOverview .header {
	font-size: 16px;
	color: #5E6570;
	margin: 10px;
	line-height: 30px;
}

.projectOverview .whiteBox {
	clear: both;
	padding: 10px;
	overflow: auto;
	background: #FFF;
	border: 1px solid #CCC;
	position: absolute;
	top: 60px;
	bottom: 20px;
	left: 20px;
	right: 20px;
}
.projectOverview .box {
	float: left;
	margin: 20px;
	background: #FFF;
	border: 1px solid #CCC;
	min-width: 220px;
}

.projectOverview .box > .ico {
	width: 72px;
	height: 72px;
	margin: 40px auto;
	background: url('%resources%/developer/projects/statusIcons.svg') no-repeat;
	background-size: 72px;
}

.projectOverview .box.healthy > .ico {
	background-position: 0px 0px;
}

.projectOverview .box.error > .ico {
	background-position: 0px -72px;
}

.projectOverview .box.warning > .ico {
	background-position: 0px -216px;
}

.projectOverview .box .sub {
	border-top: 1px solid #CCC;
	color: #000;
}

.projectOverview .box .title {
	padding: 15px 20px;
	font-weight: normal;
	font-size: 14px;
	text-align: center;
	color: #555;
}
.projectOverview .stats {
	float: left;
	margin: 20px;
}

.projectOverview .stats .sr {
	overflow: auto;
	color: #555;
	padding: 10px;
	line-height: 20px;
	border-bottom: 1px solid #CCC;
	min-width: 300px;
}

.projectOverview .stats .sr:last-child {
	border: none;
}

.projectOverview .stats .sr .key {
	float: left;
	margin: 0px;
	font-weight: normal;
	color: #777;
	font-size: 13px;
}

.projectOverview .stats .sr .value {
	float: right;
	font-weight: normal;
	margin: 0px;
}