.appAnalysisPage,
.appAnalysis {
	height: 100%;
	overflow: auto;
	position: relative;
}

.appAnalysis .headBar {
	background: #FFF;
}

.appAnalysis .headBar .navBar {
	overflow: auto;
	height: 36px;
	border-bottom: 1px solid #CCC;
}

.appAnalysis .headBar .navBar .navTitle {
	width: 20%;
	float: left;
	display: inline-block;
	text-align: center;
	padding: 10px;
	line-height: 16px;
	height: 36px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	cursor: pointer;
	color: #555;
	border-bottom: 3px solid rgba(192, 4, 3, 0);
	background: #EEE;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.appAnalysis .headBar .navBar .navTitle.selected,
.headBar .navBar .navTitle:hover {
	color: rgb(192, 4, 3);
	background-color: #FFF;
}

.appAnalysis .anPanes {
	position: absolute;
	top: 37px;
	bottom: 0px;
	width: 100%;
	clear: both;
	overflow: auto;
}

.appAnalysis .anPanes .hd {
	font-size: 14px;
	font-weight: normal;
	color: #555;
	border-bottom: 1px solid #CCC;
	padding: 0px 5px;
}