<div class="newProjectWizard">
	<h2 class="title" />
	<div class="slides">
		<div class="projectCategories slide1 slide">
			<div class="pSelector">
				<label class="app pt">Application</label>
				<label class="wt pt">Website Template</label>
				<label class="we pt">Website Extension</label>
				<label class="ws pt w">Website</label>
			</div>
			<h4 class="descHeader" />
			<div class="selectorControls">
				<p class="descP" />
			</div>
		</div>
		<div class="projectInfo slide2 slide noDisplay">
			<div class="page projectDetails project" />
			<div class="page projectDetails website">
				<a target="_self" class="wBuilderLink">
					<div class="wBuilderImage" />
					<h3 class="wBuilderText" />
				</a>
			</div>
			<div class="infoControls" />
		</div>
	</div>
</div>