.redbackCareers .welcome h1{
	font-size: 36px;
	text-align: center;
	color: #C00403
}
.redbackCareers .welcome h2 {
	font-size: 20px;
	text-align: center;
}
.redbackCareers .csect {
	margin-top: 50px;
}
.redbackCareers .csect h3 {
	font-size: 16px;
	color: #858585;
}
.redbackCareers .csect p {
	font-size: 12px;
	line-height: 20px;
	text-indent: 15px;
}
#applyBtn {
	margin-left: 205px;
}