<div class="developerSupport">
	<section class="header">
		<div class="middleContainer">
			<h1 class="wtitle" data-literal='{"name":"title"}' />
		</div>
		<div class="navBar" />
	</section>
	<section class="banner">
		<div class="middleContainer">
			<a data-href='{"domain":"developer","page":"/api/"}' target="_self" class="navbox" data-literal='{"name":"lbl_devApi"}' />
			<a data-href='{"domain":"developer","page":"/status/"}' target="_self" class="navbox" data-literal='{"name":"lbl_platformStatus"}' />
		</div>
	</section>
</div>