<div class="devEnroll">
	<section class="head">
		<div class="middleContainer">
			<div class="content">
				<h1 class="title" data-literal='{"name":"lbl_pageTitle"}' />
				<h3 class="subtitle" data-literal='{"name":"lbl_pageDesc"}' />
			</div>
		</div>
		<div class="navBar" />
	</section>
	<section class="agreeForm">
		<div class="middleContainer">
			<div class="formContainer" />
			<a data-href='{"domain":"developer","page":"/docs/terms/"}' target="_self" data-literal='{"name":"lbl_devTerms"}' />
		</div>
	</section>
</div>