.loginPage {
	height: 100%;
	width: 100%;
	background: #F1F1F1;
	overflow: auto;
}

.loginPage .logo {
	display: block;
	width: 250px;
	height: 150px;
	margin: 0px auto;
	background: url('%{cdn}/media/logos/logo.png') no-repeat center;
	background-size: contain;
	opacity: 0.8;
	transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
}

.loginPage .logo:hover {
	opacity: 1;
	transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
}

.loginPage .whiteBox {
	width: 450px;
	overflow: auto;
	margin: 0 auto;
	background: #FFF;
	border: 1px solid #BBB;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0 0px 5px #CCC;
	-webkit-box-shadow: 0 0px 5px #CCC;
	-moz-box-shadow: 0 0px 5px #CCC;
}

.loginPage .pgFooter {
	width: 450px;
	margin: 0 auto;
	margin-top: 10px;
	line-height: 30px;
	padding: 0px 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #555459;
	overflow: auto;
}

.loginPage .pgFooter .left {
	float: left;
	font-weight: bold;
}

.loginPage .pgFooter .right {
	float: right;
}

.loginPage .pgFooter a {
	color: #55459;
}