/*
.wrapper {
	display:block;
	width:1000px;
	margin:auto;
	position:relative;
	margin-bottom:0px;
	overflow:auto;
}
.sidebar {
	width:200px;
	background-color:inherit;
	float:left;
}
.mainContent {
	width:800px;
	padding:10px;
	min-height:200px;
	border-left:1px solid rgba(166, 166, 166, 0.5);
	border-right:1px solid rgba(166, 166, 166, 0.5);
	border-bottom:1px solid rgba(166, 166, 166, 0.5);
	overflow:auto;
	float:right;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
*/
.devPrivilegesFormContents {
	height: 400px;
	overflow: auto;
}

/* For old style form headers backwords compability */

.lhd {
	margin:0px;
	padding:0px;
	border-bottom:1px solid rgba(166, 166, 166, 0.5);
	margin-bottom:10px;
	margin-top:15px;
	text-indent:5px;
	font-weight:bold;
}
.hd2 {
	font-size:13px;
	color:rgb(100, 100, 100);
}