<div class="loginPage">
	<div class="whiteBox">
		<div class="header">
			<div class="lside">
				<div class="logo" />
				<h2 class="text">Redback</h2>
			</div>
			<div class="small" data-literal='{"name":"title"}' />
		</div>
		<div class="main">
			<div class="leftSide side">
				<h3 class="title" data-literal='{"name":"lbl_rememberYou"}'/>
				<h4 class="sub" data-literal='{"name":"lbl_rememberSub"}'/>
				<div class="rcont">
					<div id="rsession" class="rocnt selected">
						<div class="ricnt" />
					</div>
					<div id="rtrust" class="rocnt">
						<div class="ricnt" />
					</div>
				</div>
				<div class="rnotes">
					<span class="nt rsession selected" data-literal='{"name":"lbl_sessionNotes"}'/>
					<span class="nt rtrust" data-literal='{"name":"lbl_trustNotes"}'/>
				</div>
			</div>
			<div class="side formInputContainer">
			</div>
		</div>
		<div class="footer">
			<h3 class="assistance" data-literal='{"name":"lbl_assistance"}' />
			<div class="menu">
				<h4 class="register">
					<a data-href='{"domain":"my","page":"/register/"}' data-literal='{"name":"lbl_not_a_member"}' target="_self" />
				</h4>
				<span> &bull; </span>
				<h4 class="forgot">
					<a data-href='{"domain":"login","page":"/reset.php"}' data-literal='{"name":"lbl_forgot_pw"}' target="_self" />
				</h4>
			</div>
		</div>
	</div>
	<div class="pgFooter">
		<div class="left">
			<span>Redback&trade; &copy; </span>
		</div>
		<div class="right">
			<a data-href='{"page":"/help/"}' data-literal='{"scope":"global::notifications::center","name":"helpCenter"}' target="_blank" />
			<span> &bull; </span>
			<a data-href='{"domain":"my","page":"/settings/"}' class="locale" target="_blank" />
		</div>
	</div>
</div>