<div id="OneColumnCentered" class="uiPageLayout">
	<div id="OneColumnCentered_mainContent" class="uiMainContent">
		<div class="service_box">
			<div class="header" data-literal='{"name":"lbl_bossPage"}' />
			<ul class="slist">
				<li class="srv_link">
					<a target="_blank" data-href='{"domain":"boss","page":"/"}' data-literal='{"name":"lbl_bossHome"}' />
				</li>
				<li class="srv_link">
					<a target="_blank" data-href='{"domain":"boss","page":"/dashboard.php"}' data-literal='{"name":"lbl_bossDashboard"}' />
				</li>
				<li class="srv_link">
					<a target="_blank" data-href='{"domain":"boss","page":"/market/"}' data-literal='{"name":"lbl_bossMarket"}' />
				</li>
			</ul>
		</div>
		<div class="service_box">
			<div class="header" data-literal='{"name":"lbl_webPage"}' />
			<ul class="slist">
				<li class="srv_link">
					<a target="_blank" data-href='{"domain":"web","page":"/"}' data-literal='{"name":"lbl_webHome"}' />
				</li>
				<li class="srv_link">
					<a target="_blank" data-href='{"domain":"web","page":"/websites/"}' data-literal='{"name":"lbl_webDashboard"}' />
				</li>
				<li class="srv_link">
					<a target="_blank" data-href='{"domain":"web","page":"/market/"}' data-literal='{"name":"lbl_webMarket"}' />
				</li>
			</ul>
		</div>
		<div class="service_box">
			<div class="header" data-literal='{"name":"lbl_devPage"}' />
			<ul class="slist">
				<li class="srv_link">
					<a target="_blank" data-href='{"domain":"developer","page":"/"}' data-literal='{"name":"lbl_devHome"}' />
				</li>
				<li class="srv_link">
					<a target="_blank" data-href='{"domain":"developer","page":"/dashboard.php"}' data-literal='{"name":"lbl_devDashboard"}' />
				</li>
				<li class="srv_link">
					<a target="_blank" data-href='{"domain":"developer","page":"/support/"}' data-literal='{"name":"lbl_devSupport"}' />
				</li>
				<li class="srv_link">
					<a target="_blank" data-href='{"domain":"developer","page":"/docs/"}' data-literal='{"name":"lbl_devDocs"}' />
				</li>
			</ul>
		</div>
	</div>
</div>