<div class="publisherWrapper">
	<div class="sequenceHolder">
		<div id="startScreen" class="startScreen screen">
			<div class="section guides">
				<span data-literal='{"name":"msg_guides"}'></span>
			</div>
			<div class="section formHolder">
				
			</div>
		</div>
	</div>
	<div class="progressHolder">
		<div class="step" data-sid="commit"></div>
	 	<div class="step" data-sid="release"></div>
		<div class="step" data-sid="upload"></div>
		<div class="step" data-sid="finish"></div>
	</div>
</div>