<div class="openPage">
	<section class="main section">
		<div class="middleContainer">
			<h1 class="title" data-literal='{"name":"lbl_main_title"}' />
			<h3 class="sub" data-literal='{"name":"lbl_main_sub"}' />
			<div class="tiles">
				<a class="atile data" data-href='{"domain":"open","page":"/data/"}'>
					<div class="ico" />
					<div class="title" data-literal='{"name":"hd_tile_openData"}' />
				</a>
				<a class="atile contributors" data-href='{"domain":"open","page":"/developers/"}'>
					<div class="ico" />
					<div class="title" data-literal='{"name":"hd_tile_contributors"}' />
				</a>
				<a class="atile projects" data-href='{"domain":"open","page":"/projects/"}'>
					<div class="ico" />
					<div class="title" data-literal='{"name":"hd_tile_projects"}' />
				</a>
			</div>
		</div>
		<div class="navBar" />
	</section>
</div>