.noTeamPopup .noTeam {
	background: #FFF;
	border: 1px solid #999;
	width: 800px;
}
.noTeamPopup .noTeam .header {
	padding: 20px;
	font-size: 16px;
	color: #FFF;
	line-height: 40px;
	background: #1F5C8F;
	overflow: auto;
}

.noTeamPopup .noTeam .header .bico {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 25px;
	background: url('%{media}/developer/projects/bulb.svg') no-repeat center;
	background-size: cover;
}

.noTeamPopup .noTeam .header .title {
	line-height: 40px;
	font-size: 1.2em;
	color: #FFF;
}

.noTeamPopup .noTeam .htitle {
	text-align: center;
	font-size: 1.1em;
	margin: 10px 0px;
	color: #555;
}

.noTeamPopup .noTeam .create_new {
	margin: 0px 15px;
	padding: 10px;
}
.noTeamPopup .noTeam .create_new .tinput {
	width: 280px;
	padding: 5px 10px;
	font-size: 12px;
	color: #555;
	float: left;
	border-color: #999;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	line-height: 16px;
}

.noTeamPopup .noTeam .create_new .tinput.tname {
	margin-right: 15px;
}

.noTeamPopup .noTeam .create_new .tbutton {
	float: right;
	width: 100px;
	padding: 5px 10px;
	margin: 0px;
	font-size: 12px;
	line-height: 16px;
}
.noTeamPopup .noTeam .teams {
	overflow: auto;
	border-top: 1px solid #DDD;
}

.noTeamPopup .noTeam .teams .tlist {
	overflow: auto;
	max-height: 300px;
}

.noTeamPopup .noTeam .teams .ttile {
	float: left;
	width: 170px;
	margin: 15px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	cursor: pointer;
	padding: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.noTeamPopup .noTeam .teams .ttile:hover {
	border-color: rgb(31, 93, 144);
	background: rgba(31, 93, 144, 0.1);
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.noTeamPopup .noTeam .teams .ttile .ico {
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 10px;
}

.noTeamPopup .noTeam .teams .ttile .ico img {
	height: inherit;
	width: inherit;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.noTeamPopup .noTeam .teams .ttile .ico:empty {
	opacity: 0.6;
	background: url('%{media}/developer/projects/defaultProjectIco.png') no-repeat center;
	background-size: cover;
}

.noTeamPopup .noTeam .teams .ttile .tn {
	font-size: 13px;
	color: #555;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 32px;
}

.noTeamPopup .noTeam .teams .ttile:hover .tn {
	color: rgb(31, 93, 144);
}

.noTeamPopup .noTeam .footer {
	border-top: 1px solid #CCC;
	padding: 5px;
	color: #555;
	overflow: auto;
}

.noTeamPopup .noTeam .footer .btn {
	background: linear-gradient(#FEFEFE, #f0f0f0);
	border: 1px solid #58585B;
	border-color: #cdced0 #c5c6c8 #b6b7b9;
	color: #555;
	padding: 3px 10px;
	line-height: 16px;
	cursor: pointer;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 0px 5px;
}

.noTeamPopup .noTeam .footer .btn.dismiss {
	float: right;
}

.noTeamPopup .noTeam .footer .btn.doc {
	float: right;
	background: linear-gradient(#BBE2B1, #B1DAA1);
	border: 1px solid #43B549;
}