<div class="accountInfo">
	<div class="profileSide">
		<div class="profileImage"></div>
		<div class="shortcuts">
			<a target="_self" class="scitem profile"></a>
			<a target="_self" class="scitem settings"></a>
			<div class="scitem logout"></div>
		</div>
	</div>
	<ul class="profileMenu">
		<div class="accounts">
			<h3 class="title" data-literal="{&quot;name&quot;:&quot;lbl_accounts&quot;}"></h3>
			<div class="list"></div>
			<li class="mseparator">
		</li></div>
		<div class="teams">
			<h3 class="title" data-literal="{&quot;name&quot;:&quot;lbl_dev_teams&quot;}"></h3>
			<div class="list"></div>
			<li class="mseparator">
		</li></div>
		<div class="help">
			<li class="mitem">
				<a data-href="{&quot;domain&quot;:&quot;www&quot;,&quot;page&quot;:&quot;/help/&quot;}" data-literal="{&quot;name&quot;:&quot;lbl_helpCenter&quot;}" target="_self"></a>
			</li>
			<li class="mitem">
				<a data-href="{&quot;domain&quot;:&quot;www&quot;,&quot;page&quot;:&quot;/help/&quot;}" data-literal="{&quot;name&quot;:&quot;lbl_reportProblem&quot;}" target="_self"></a>
			</li>
		</div>
	</ul>
</div>