<div class="middleContainer">
	<div class="toggle_sidebar menu" />
	<ul class="navMenu">
		<li>
			<a data-href='{"domain":"www","page":"/"}' data-literal='{"name":"lbl_navbar_menu_home"}' target="_self"/>
		</li>
		<li>
			<a data-href='{"domain":"developers","page":"/"}' data-literal='{"name":"lbl_navbar_menu_developers"}' target="_self"/>
		</li>
		<li>
			<a data-href='{"domain":"developers","page":"/plans/"}' data-literal='{"name":"lbl_navbar_menu_pricing"}' target="_self"/>
		</li>
		<li>
			<a data-href='{"domain":"apps","page":"/"}' data-literal='{"name":"lbl_navbar_menu_appcenter"}' target="_self"/>
		</li>
		<li>
			<a data-href='{"domain":"developers","page":"/roadmap/"}' data-literal='{"name":"lbl_navbar_menu_roadmap"}' target="_self"/>
		</li>
		<li>
			<a data-href='{"domain":"developers","page":"/status/"}' data-literal='{"name":"lbl_navbar_menu_status"}' target="_self"/>
		</li>
		<li class="dark dashboard">
			<a data-href='{"domain":"developers","page":"/dashboard/"}' data-literal='{"name":"lbl_navbar_menu_dashboard"}' target="_self"/>
		</li>
		<li class="dark login" data-literal='{"name":"lbl_navbar_menu_login"}' />
	</ul>
</div>