<div class="mySettings">
	<div class="pageSidebar">
		<div class="side_header pset" data-literal='{"name":"hd_personalSettings"}' />
		<ul class="side_menu pset">
			<li class="menu_item pgeneral" data-literal='{"name":"lbl_generalSettings"}' />
		</ul>
		<div class="side_header aset" data-literal='{"name":"hd_accountSettings"}' />
		<ul class="side_menu aset">
			<li class="menu_item ageneral" data-literal='{"name":"lbl_generalSettings"}' />
			<li class="menu_item security" data-literal='{"name":"lbl_securitySettings"}' />
			<li class="menu_item managed" data-literal='{"name":"lbl_managedAccounts"}' />
		</ul>
		<div class="side_header" data-literal='{"name":"hd_developerSettings"}' />
		<ul class="side_menu">
			<li class="menu_item keys" data-literal='{"name":"lbl_apiKeys"}' />
		</ul>
	</div>
	<div class="settingsContainer" />
</div>