<div class="registerPage">
	<a data-href='{"domain":"www","page":"/"}' target="_self" class="logo" />
	<div class="whiteBox" />
	<div class="pgFooter">
		<div class="left">
			<span>DrovIO&trade; &copy; </span>
		</div>
		<div class="right">
			<a data-href='{"page":"/help/"}' data-literal='{"scope":"global.notifications.center","name":"helpCenter"}' target="_self" />
			<span> &bull; </span>
			<a data-href='{"domain":"www","page":"/profile/"}' class="locale" target="_self" />
		</div>
	</div>
</div>