<div class="statusListContainer">
	<ul class="statusList">
		<div class="mainList">
			<li class="statusItem st1">
				<span class="ico" />
				<span class="title" data-literal='{"name":"lbl_projectStatus1"}' />
			</li>
			<li class="statusItem st2">
				<span class="ico" />
				<span class="title" data-literal='{"name":"lbl_projectStatus2"}' />
			</li>
			<li class="statusItem st3 st4">
				<span class="ico" />
				<span class="title" data-literal='{"name":"lbl_projectStatus3"}' />
			</li>
			<li class="statusItem st5">
				<span class="ico" />
				<span class="title" data-literal='{"name":"lbl_projectStatus5"}' />
			</li>
		</div>
		<li class="statusItem update">
			<span class="ico" />
			<span class="title" data-literal='{"name":"lbl_publishProject"}' />
		</li>
	</ul>
</div>