<div id="OneColumnFullscreen" class="uiPageLayout">
	<div id="OneColumnFullscreen_mainContent" class="uiMainContent">
		<div class="adminHome">
			<div class="sidebar">
				<ul class="sideMenu">
					<li class="menuItem overview">
						<a target="_self" >
							<span class="ico" />
							<h3 class="title" data-literal='{"name":"lbl_sideNav_overview"}' />
						</a>
					</li>
					<li class="menuItem pages">
						<a target="_self" >
							<span class="ico" />
							<h3 class="title" data-literal='{"name":"lbl_sideNav_pages"}' />
						</a>
					</li>
					<li class="menuItem geo">
						<a target="_self" >
							<span class="ico" />
							<h3 class="title" data-literal='{"name":"lbl_sideNav_geo"}' />
						</a>
					</li>
					<li class="menuItem schemas">
						<a target="_self" >
							<span class="ico" />
							<h3 class="title" data-literal='{"name":"lbl_sideNav_schemas"}' />
						</a>
					</li>
					<li class="menuItem security">
						<a target="_self" >
							<span class="ico" />
							<h3 class="title" data-literal='{"name":"lbl_sideNav_security"}' />
						</a>
					</li>
					<li class="menuItem publisher">
						<a target="_self" >
							<span class="ico" />
							<h3 class="title" data-literal='{"name":"lbl_sideNav_publisher"}' />
						</a>
					</li>
					<li class="menuItem market">
						<a target="_self" >
							<span class="ico" />
							<h3 class="title" data-literal='{"name":"lbl_sideNav_market"}' />
						</a>
					</li>
				</ul>
			</div>
			<div class="adminContent" />
		</div>
	</div>
</div>