.projectTesterPreviewPage {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#projectTesterPreview {
	background: #FFF url('http://repo.redback.gr/pa71a0e258a3396e27c8a3e2ac937eed8.project/Resources/global/splash.png') no-repeat center;
	background-size: 250px;
}