<div class="bossLogin">
	<div class="whiteBox">
		<div class="logoContainer">
			<div class="team_logo">
				<div class="logo" />
				<h1 class="title" />
			</div>
			<div class="platform_logo" />
		</div>
		<div class="description">
			<h1 class="team_title" />
			<p data-literal='{"name":"lbl_teamLogin"}' />
		</div>
		<div class="connect">
			<div class="wbutton login">Log In</div>
			<a data-href='{"domain":"www","page":"/"}' target="_self" class="wbutton home">Back to Drovio</a>
		</div>
	</div>
	<div class="footer">
		<p data-literal='{"name":"lbl_footer_disclaimer"}' />
		<p data-literal='{"name":"lbl_footer_homepage"}' />
	</div>
</div>