.docTutorials {
	& {
		height: 100%;
		width: 100%;
		position: relative;
		overflow: auto;
		background: #F1F1F1;
	}
	.navBar {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		line-height: 40px;
		padding: 10px 0px;
		z-index: 3;
	}
	.middleContainer {
		min-width: 700px;
		max-width: 1200px;
		padding: 0px 50px;
		margin: 0 auto;
		overflow: auto;
	}
	.main {
		overflow: auto;
	}
	
	.main > .middleContainer {
		padding-top: 65px;
	}
	.phd {
		color: #5E6570;
		text-align: center;
		margin: 15px 0px;
	}
	h1.phd {
		font-size: 26px;
		line-height: 24px;
	}
	h2.phd {
		font-size: 13px;
		line-height: 18px;
	}
	.tutorialContainer {
		& {
			overflow: auto;
			margin: 20px 0px;
		}
	}
}