.teamCreatorDialog {
	& {
		width: 400px;
		padding: 20px;
		background: #FFF;
		border: 1px solid #555459;
	}
	.header {
		font-size: 16px;
		color: #5E6570;
		margin: 10px;
		line-height: 30px;
	}
	.close_button {
		width: 24px;
		height: 24px;
		margin: 3px 0px;
		float: right;
		cursor: pointer;
		background: url('%{media}/global/closeX.svg') no-repeat center;
		background-size: cover;
		background-position: 0px -24px;
		opacity: 0.5;
		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
	}
	.close_button:hover {
		opacity: 1;
		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
	}
	.formContainer {
		margin-top: 30px;
	}
	.formContainer .tmcnt {
		overflow: auto;
		padding: 5px;
	}
	.tminp {
		float: left;
		width: 70%;
		padding: 10px 20px;
		font-size: 12px;
		line-height: 16px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	}
	.tminp.small {
		width: 40%;
	}
	.tmlbl {
		float: left;
		line-height: 16px;
		font-size: 12px;
		color: #777;
		padding: 10px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		text-transform: none;
	}
	.tmbtn {
		width: 100%;
		clear: both;
		margin: 10px auto;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		background: #5E6570;
		border: 1px solid #5E6570;
		color: #FFF;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		cursor: pointer;
		padding: 5px 10px;
		line-height: 18px;
		text-align: center;
		font-size: 12px;
		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
	}
	.tmbtn:hover {
		background: #3CB0F7;
		border: 1px solid #3CB0F7;
		color: #FFF;
		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
	}
	.tmbtn.small {
		width: auto;
		float: right;
		clear: none;
		margin: 4px 0px;
		padding: 6px 20px;
		line-height: 16px;
	}
	.rContainer {
		clear: both;
		margin-top: 10px;
		border-top: 1px solid #CCC;
		padding-top: 20px;
	}
	.rContainer .lb {
		text-align: center;
		color: #3CB0F7;
		cursor: pointer;
		font-size: 12px;
	}
	.rfContainer {
		margin-top: 0px;
		height: 0px;
		overflow: hidden;
		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
	}
	.rContainer.open .rfContainer {
		margin-top: 20px;
		padding: 5px;
		height: 38px;
		overflow: auto;
		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
	}
}