<div class="developerFtrPage">
	<section class="header">
		<div class="middleContainer">
			<h1 class="wtitle" data-literal='{"name":"title"}' />
		</div>
		<div class="navBar" />
	</section>
	<section class="section banner spa rgt">
		<div class="middleContainer">
			<div class="imageContainer" />
			<div class="ban_desc">
				<h1 class="title" data-literal='{"name":"lbl_banner_spage_title"}' />
				<div class="desc" data-literal='{"name":"lbl_banner_spage_desc"}' />
			</div>
		</div>
	</section>
	<section class="section banner appcenter rgt">
		<div class="middleContainer">
			<div class="imageContainer" />
			<div class="ban_desc">
				<h1 class="title" data-literal='{"name":"lbl_banner_appcenter_title"}' />
				<div class="desc" data-literal='{"name":"lbl_banner_appcenter_desc"}' />
			</div>
		</div>
	</section>
	<section class="section banner api lft">
		<div class="middleContainer">
			<div class="imageContainer" />
			<div class="ban_desc">
				<h1 class="title" data-literal='{"name":"lbl_banner_api_title"}' />
				<div class="desc" data-literal='{"name":"lbl_banner_api_desc"}' />
			</div>
		</div>
	</section>
	<section class="section banner vcs rgt">
		<div class="middleContainer">
			<div class="imageContainer" />
			<div class="ban_desc">
				<h1 class="title" data-literal='{"name":"lbl_banner_vcs_title"}' />
				<div class="desc" data-literal='{"name":"lbl_banner_vcs_desc"}' />
			</div>
		</div>
	</section>
	<section class="section banner beta rgt">
		<div class="middleContainer">
			<div class="imageContainer" />
			<div class="ban_desc">
				<h1 class="title" data-literal='{"name":"lbl_banner_beta_title"}' />
				<div class="desc" data-literal='{"name":"lbl_banner_beta_desc"}' />
			</div>
		</div>
	</section>
	<section class="section banner issues lft">
		<div class="middleContainer">
			<div class="imageContainer" />
			<div class="ban_desc">
				<h1 class="title" data-literal='{"name":"lbl_banner_issues_title"}' />
				<div class="desc" data-literal='{"name":"lbl_banner_issues_desc"}' />
			</div>
		</div>
	</section>
	<section class="section banner mvc rgt">
		<div class="middleContainer">
			<div class="imageContainer" />
			<div class="ban_desc">
				<h1 class="title" data-literal='{"name":"lbl_banner_mvc_title"}' />
				<div class="desc" data-literal='{"name":"lbl_banner_mvc_desc"}' />
			</div>
		</div>
	</section>
	<section class="section banner docs lft">
		<div class="middleContainer">
			<div class="imageContainer" />
			<div class="ban_desc">
				<h1 class="title" data-literal='{"name":"lbl_banner_docs_title"}' />
				<div class="desc" data-literal='{"name":"lbl_banner_docs_desc"}' />
			</div>
		</div>
	</section>
	<section class="section banner localization lft">
		<div class="middleContainer">
			<div class="imageContainer" />
			<div class="ban_desc">
				<h1 class="title" data-literal='{"name":"lbl_banner_localization_title"}' />
				<div class="desc" data-literal='{"name":"lbl_banner_localization_desc"}' />
			</div>
		</div>
	</section>
	<section class="section banner market rgt">
		<div class="middleContainer">
			<div class="imageContainer" />
			<div class="ban_desc">
				<h1 class="title" data-literal='{"name":"lbl_banner_market_title"}' />
				<div class="desc" data-literal='{"name":"lbl_banner_market_desc"}' />
			</div>
		</div>
	</section>
	
<!--	
	<section class="section banner mvc rgt">
		<div class="mvc">
			<div class="middleContainer">
				<h1 class="title" data-literal='{"name":"lbl_mvcTitle"}' />
				<div class="ban_desc">
					<div class="imageContainer" />
					<div class="desc" data-literal='{"name":"lbl_mvcDesc"}' />
				</div>
			</div>
		</div>
	</section>
	<section class="section banner red lft">
		<div class="mvc">
			<div class="middleContainer">
				<h1 class="title" data-literal='{"name":"lbl_redTitle"}' />
				<div class="ban_desc">
					<div class="imageContainer" />
					<div class="desc" data-literal='{"name":"lbl_redDesc"}' />
				</div>
			</div>
		</div>
	</section>
-->
	<section class="section banner ftr">
		<div class="ft">
			<div class="middleContainer">
				<h1 class="title" data-literal='{"name":"lbl_featuresTitle"}' />
				<div class="features">
					<div class="fgrid">
						<div class="fItem values">
							<div class="ico"></div>
							<div class="context">
								<h2 class="title" data-literal='{"name":"lbl_features_values_title"}' />
								<p class="sub" data-literal='{"name":"lbl_features_values_desc"}' />
							</div>
						</div>
						<div class="fItem space">
							<div class="ico"></div>
							<div class="context">
								<h2 class="title" data-literal='{"name":"lbl_features_space_title"}' />
								<p class="sub" data-literal='{"name":"lbl_features_space_desc"}' />
							</div>
						</div>
						<div class="fItem web">
							<div class="ico"></div>
							<div class="context">
								<h2 class="title" data-literal='{"name":"lbl_features_web_title"}' />
								<p class="sub" data-literal='{"name":"lbl_features_web_desc"}' />
							</div>
						</div>
						<div class="fItem apps">
							<div class="ico"></div>
							<div class="context">
								<h2 class="title" data-literal='{"name":"lbl_features_apps_title"}' />
								<p class="sub" data-literal='{"name":"lbl_features_apps_desc"}' />
							</div>
						</div>
						<div class="fItem projdev">
							<div class="ico"></div>
							<div class="context">
								<h2 class="title" data-literal='{"name":"lbl_features_projdev_title"}' />
								<p class="sub" data-literal='{"name":"lbl_features_projdev_desc"}' />
							</div>
						</div>
						<div class="fItem projft">
							<div class="ico"></div>
							<div class="context">
								<h2 class="title" data-literal='{"name":"lbl_features_projft_title"}' />
								<p class="sub" data-literal='{"name":"lbl_features_projft_desc"}' />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>