<section class="footLinks section">
	<div class="middleContainer">
		<div class="socialBar">
			<div class="socialButtons">
				<a href="https://www.facebook.com/RedbackServices" target="_blank" class="socialBtn socialFb"></a>
				<a href="https://plus.google.com/105789862409123100571" target="_blank" class="socialBtn socialGp"></a>
				<a href="https://twitter.com/RedbackSrv" target="_blank" class="socialBtn socialTt"></a>
			</div>
			<h3 class="socialText" data-literal='{"name":"lbl_socialText"}' />
		</div>
		<div class="rb">
			<div class="logo" />
			<h2 class="text">Redback</h2>
			<div class="copyright">Redback Services &copy; 2014</div>
		</div>
		<div class="linkCol engine">
			<h3 class="colHeader" data-literal='{"name":"lbl_fl_engine_header"}' />
			<div class="colList">
				<h4 class="listItem">
					<a data-href='{"domain":"developer","page":"/enroll.php"}' data-literal='{"name":"lbl_fl_engine_beta"}' target="_blank"/>
				</h4>
			</div>
		</div>
		<div class="linkCol sdk">
			<h3 class="colHeader">Red SDK</h3>
			<div class="colList">
				<h4 class="listItem">
					<a data-href='{"domain":"developer","page":"/docs/"}' data-literal='{"name":"lbl_fl_ref_docs"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"domain":"developer","page":"/tools/"}' data-literal='{"name":"lbl_fl_ref_tools"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"domain":"developer","page":"/api/"}' data-literal='{"name":"lbl_fl_ref_api"}' target="_blank"/>
				</h4>
			</div>
		</div>
		<div class="linkCol support">
			<h3 class="colHeader" data-literal='{"name":"lbl_fl_support_header"}' />
			<div class="colList">
				<h4 class="listItem">
					<a data-href='{"domain":"developer","page":"/support/"}' data-literal='{"name":"lbl_fl_support_support"}' target="_blank"/>
				</h4>
			</div>
		</div>
	</div>
</section>