<div class="startScreen">
	<div class="searchContainer">
		<div class="explorerIcoContainer">
			<div class="explorerIco" />
		</div>
		<input type="text" class="searchInput" autofocus />
	</div>
	<div class="whitebox">
		<div class="section bigTiles docHolder">
			<div class="tutorials">
			</div>
			<div class="quick_links">
				<div class="bigTile basics">
					<a data-href='{"domain":"developers","page":"/docs/basics/"}' target="_self">
						<div class="ico" />
						<h3 class="title" data-literal='{"name":"lbl_tile_basics"}' />
					</a>
				</div>
				<div class="bigTile tutorials">
					<a data-href='{"domain":"developers","page":"/tutorials/"}' target="_self">
						<div class="ico" />
						<h3 class="title" data-literal='{"name":"lbl_tile_tutorials"}' />
					</a>
				</div>
				<div class="bigTile sdk" >
					<a data-href='{"domain":"developers","page":"/sdk/"}' target="_self">
						<div class="ico" />
						<h3 class="title" data-literal='{"name":"lbl_tile_sdk"}' />
					</a>
				</div>
				<div class="bigTile api">
					<a data-href='{"domain":"developers","page":"/api/"}' target="_self">
						<div class="ico" />
						<h3 class="title" data-literal='{"name":"lbl_tile_api"}' />
					</a>
				</div>
			</div>
		</div>
		<div class="objectExplorerContainer">
			<div class="searchResults">
				<div class="results sdk">
					<h3 class="results_title" data-literal='{"name":"lbl_results_title_sdk"}' />
					<div class="rlist" />
				</div>
				<div class="results wsdk">
					<h3 class="results_title" data-literal='{"name":"lbl_results_title_wsdk"}' />
					<div class="rlist" />
				</div>
			</div>
			<ul class="topNav">
				<li class="hdNav selected" data-literal='{"name":"lbl_coreSDK"}' />
				<li class="hdNav" data-literal='{"name":"lbl_webSDK"}' />
			</ul>
			<div id="objectExplorer" class="objectExplorer">
				<div id="coreSDK" />
				<div id="webSDK" />
			</div>
		</div>
	</div>
</div>