<div class="legalHome">
	<section class="header">
		<div class="middleContainer">
			<div class="content">
				<h1 class="title" data-literal='{"name":"lbl_pageHeader"}' />
				<p class="description" data-literal='{"name":"lbl_pageSubtitle"}'  />
				<div class="links">
					<a data-href='{"page":"/help/legal/terms.php"}' target="_self" data-literal='{"name":"lbl_readTerms"}' />
					&bull;
					<a data-href='{"page":"/help/privacy/"}' target="_self" data-literal='{"name":"lbl_readDataPolicy"}' />
				</div>
			</div>
		</div>
		<div class="navBar" />
	</section>
</div>