<section class="footLinks section">
	<div class="middleContainer">
		<div class="socialBar">
			<div class="socialButtons">
				<a href="https://www.facebook.com/RedbackServices" target="_blank" class="socialBtn socialFb"></a>
				<a href="https://plus.google.com/105789862409123100571" target="_blank" class="socialBtn socialGp"></a>
				<a href="https://twitter.com/RedbackSrv" target="_blank" class="socialBtn socialTt"></a>
			</div>
			<h3 class="socialText" data-literal='{"name":"lbl_socialText"}' />
		</div>
		<div class="rb">
			<div class="logo" />
			<h2 class="text">Redback</h2>
			<div class="copyright">Redback Services &copy; 2014</div>
		</div>
		<div class="linkCol general">
			<h3 class="colHeader" data-literal='{"name":"title"}' />
			<div class="colList">
				<h4 class="listItem">
					<a data-href='{"page":"/retail.php"}' data-literal='{"name":"lbl_fl_gen_retal"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"page":"/retail.php#eshop"}' data-literal='{"name":"lbl_fl_gen_eshop"}' target="_blank"/>
				</h4>
			</div>
		</div>
		<div class="linkCol apps">
			<h3 class="colHeader" data-literal='{"name":"lbl_fl_apps_header"}' />
			<div class="colList">
				<h4 class="listItem">
					<a data-href='{"domain":"developer","page":"/"}' data-literal='{"name":"lbl_fl_apps_create"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"domain":"boss","page":"/market/"}' data-literal='{"name":"lbl_fl_apps_market"}' target="_blank"/>
				</h4>
			</div>
		</div>
		<div class="linkCol support">
			<h3 class="colHeader" data-literal='{"name":"lbl_fl_sup_header"}' />
			<div class="colList">
				<h4 class="listItem">
					<a data-href='{"page":"/help/"}' data-literal='{"name":"lbl_fl_sup_help"}' target="_blank"/>
				</h4>
			</div>
		</div>
	</div>
</section>