.debuggerControlPanel {
	height: 400px;
}
#testerController {
	overflow: auto;
}
.cPanel {
	float: left;
}
#testerController > #testerConfig {
	clear: both;
	width: 50%;
	padding: 5px;
}
#packageList {
	height: 200px;
}
.debuggerControlPanel .switchRow {
	width: auto;
	display: block;
	overflow: auto;
	padding: 5px;
	min-width: 200px;
}
.switchRow > span {
	float: left;
	min-width: 150px;
	padding-right: 10px;
}
.switchRow > .uiSwitchButton {
	float: right;
}

#loggerDataContainer {
	clear: both;
	width: 50%;
	padding: 5px;
	overflow: auto;
}