<div class="blogPostPage">
	<div class="section section-home">
		<div class="text-center middleContainer">
			<a data-href='{"domain":"blog","page":"/"}' target="_self">
				<p class="banner__intro">Blog</p>
			</a>
			<div class="banner__logo">
				<img src="%{media}/blog/wblog.svg" />
			</div>
			<h2 class="banner__h2 btitle" />
			<p class="banner__intro bsubtitle" />
			<div class="blog-info">
				<div class="bauthor">
					<div class="bauthicon" />
					<div class="bauthtitle" />
				</div>
				<div class="bdate" />
			</div>
		</div>
	</div>
	<div class="section section-blog-post">
		<div class="middleContainer docContainer" />
	</div>
</div>