<div class="sdkManualContainer">
	<section class="header">
		<div class="middleContainer">
			<h1 class="wtitle" data-literal='{"name":"title"}' />
		</div>
		<div class="navBar" />
	</section>
	<div class="middleContainer">
		<div class="sidebar">
			<ul class="topNav">
				<li class="hdNav selected" data-literal='{"name":"lbl_coreSDK"}' />
				<li class="hdNav" data-literal='{"name":"lbl_webSDK"}' />
			</ul>
			<div id="sideMenu">
				<div id="coreSDK" />
				<div id="webSDK" />
			</div>
		</div>
		<div class="manualHolder" />
	</div>
</div>