.projectRepositoryPage .commitGroupContainer {
	border: 1px solid rgba(166, 166, 166, 0.8);
	margin-top: 15px;
}
.projectRepositoryPage .commitGroupContainer .commitGroupHeader {
	padding: 5px 10px;
	border-bottom: 1px solid rgba(166, 166, 166, 0.3);
	background-color: #EEE;
}
.projectRepositoryPage .commitGroupContainer .commitList {
	padding: 10px;
}
.projectRepositoryPage .commitInfo .cDesc {
	white-space: pre-wrap;
	padding: 0px 20px;
}
.projectRepositoryPage .commitGroupContainer .commitList .cAuthor {
	font-weight: bold;
}
.projectRepositoryPage .commitGroupContainer .commitList .cDate {
	color: #999;
	font-weight: normal;
}
.projectRepositoryPage .commitGroupContainer .commitList {
	padding: 10px;
}
.projectRepositoryPage .vcsCommits .controls {
	margin-top: 15px;
	padding: 5px;
	border-top: 1px solid rgba(166, 166, 166, 0.5);
	overflow: auto;
}
.projectRepositoryPage .vcsCommits .controls .pagination {
	float: left;
}
.projectRepositoryPage .vcsCommits .controls .pagination .navBtn {
	width: 75px;
	text-align: center;
	margin: 0px 5px;
	color: #999;
}
.projectRepositoryPage .vcsCommits .controls .pagination .navBtn.active {
	color: #000;
	cursor: pointer;
}
.projectRepositoryPage .vcsCommits .controls .pagination .navBtn.active:hover {
	color: #C00403;
}
.projectRepositoryPage .vcsCommits .controls .pagesInfo {
	float: right;
	color: #999;
}