<div class="landingPage">
	<div class="navbar" role="navigation">
		<div class="middleContainer">
			<div class="navbar-logo">
				<a class="navbar-brand" data-href='{"page":"/"}' target="_self">Drovio</a>
			</div>
			<div class="navbar-menu">
				<ul class="nav navbar-nav navbar-right">
					<li><a data-href='{"domain":"developers","page":"/"}' target="_self">Developers</a></li>
					<li><a data-href='{"domain":"apps","page":"/"}' target="_self">Application Center</a></li>
				</ul>
			</div> 
		</div> 
	</div>
	<div class="banner-home">
		<div class="text-center middleContainer">
			<h1 class="banner__h1" data-literal='{"name":"lbl_banner_title"}' />
			<h2 class="banner__h2" data-literal='{"name":"lbl_banner_sub"}' />
			<p class="banner__intro" data-literal='{"name":"lbl_banner_intro"}' />
			<div class="banner__action">
				<div class="btn-signup" data-literal='{"name":"lbl_banner_signup"}' />
			</div>
		</div>
	</div>
	<footer>
		<div class="footer_bottom middleContainer">
			<div class="footer__copyright">Copyright 2015 <a href="http://drov.io/">Drov.io</a>. All Rights Reserved.</div>
		</div>
	</footer>
</div>