<div id="OneColumnCentered_mainContent" class="uiMainContent">
	<section class="currentTeam">
		<h3 class="noTeam" data-literal='{"name":"lbl_noCurrentTeam"}' />
		<div class="teamEditor">
			<h3 data-literal='{"name":"lbl_currentTeam"}' />
			<div class="header">
				<span class="teamName" />
				<span class="manage" data-literal='{"name":"lbl_manage"}' />
			</div>
			<div class="tmanager" />
		</div>
	</section>
	<section class="allTeams">
		<h3 data-literal='{"name":"lbl_allTeams"}' />
		<ul class="team_list" />
	</section>
	<section class="createTeam">
		<h3 data-literal='{"name":"lbl_createTeam"}' />
	</section>
</div>