<div class="accountInfo">
	<div class="viewPanel edit username" data-skip="profile_info_skip_username" />
	<div class="viewPanel edit profile_image" data-skip="profile_info_skip_profileimage" />
	<div class="viewPanel open active">
		<div class="profileSide">
			<div class="profileImage"></div>
			<div class="shortcuts">
				<a data-href="{&quot;domain&quot;:&quot;www&quot;,&quot;page&quot;:&quot;/profile/&quot;}" target="_self" class="scitem profile"></a>
				<a data-href="{&quot;domain&quot;:&quot;www&quot;,&quot;page&quot;:&quot;/profile/settings/&quot;}" target="_self" class="scitem settings"></a>
				<div class="scitem logout"></div>
			</div>
		</div>
		<ul class="profileMenu">
			<div class="accounts">
				<h3 class="title" data-literal="{&quot;name&quot;:&quot;lbl_accounts&quot;}"></h3>
				<div class="list"></div>
				<li class="mseparator" />
			</div>
			<div class="teams">
				<h3 class="title" data-literal="{&quot;name&quot;:&quot;lbl_dev_teams&quot;}"></h3>
				<div class="list"></div>
				<li class="mseparator" />
			</div>
			<div class="help">
				<li class="mitem">
					<a data-href="{&quot;domain&quot;:&quot;www&quot;,&quot;page&quot;:&quot;/help/&quot;}" data-literal="{&quot;name&quot;:&quot;lbl_helpCenter&quot;}" target="_self"></a>
				</li>
				<li class="mitem">
					<a data-href="{&quot;domain&quot;:&quot;www&quot;,&quot;page&quot;:&quot;/help/&quot;}" data-literal="{&quot;name&quot;:&quot;lbl_reportProblem&quot;}" target="_self"></a>
				</li>
			</div>
		</ul>
	</div>
</div>