<div id="modulesConfigTabs" class="configTabs">
	<ul class="tabs">
		<li class="navTab tester selected" />
		<li class="navTab debugger" />
		<li class="navTab profiler" />
		<li class="navTab support" />
	</ul>
	<div class="pages">
		<div id="modulesTesterConfig" class="page testerPanel">
			<div class="topContainer">
				<div class="switchRow" />
			</div>
			<div class="moduleConfigurator">
				<h4 class="title" />
			</div>
		</div>
		<div id="coreDebuggerConfig" class="page debuggerPanel">
			<div class="topContainer">
				<div class="switchRow logger" />
				<div class="switchRow debugger" />
			</div>
			<div class="loggerDataContainer" />
		</div>
		<div id="modulesResourceProfiler" class="page profilerPanel resourceProfiler">
			<h4 class="title" />
			<div class="resourceListContainer">
				<div class="cssResources" />
				<div class="jsResources" />
			</div>
		</div>
		<div id="modulesPublishSupport" class="page supportPanel">
			<h3 class="title" />
		</div>
	</div>
</div>