<div class="teamProfile">
	<div class="middleContainer">
		<div class="sidebar">
			<div class="profileImage" />
			<ul class="pnavigation">
				<li class="navitem info selected" data-literal='{"name":"lbl_nav_generalInfo"}'>
					<div class="ico" />
				</li>
				<li class="navitem projects" data-literal='{"name":"lbl_nav_publicProjects"}'>
					<div class="ico" />
				</li>
			</ul>
		</div>
		<div class="mainbody">
			<div class="teamName" />
			<div id="sectionContainer" class="sectionbody" />
		</div>
	</div>
</div>