<div class="pageHeaders">
	<div class="headersSideMenu" />
	<div class="headersViewer">
		<div id="pageInfo" class="viewerPanel">
			<div class="settings">
				<h2 data-literal='{"name":"lbl_genericSettings"}' class="lhd hd2" />
				<div class="sContainer" />
			</div>
			<div class="meta">
				<h2 data-literal='{"name":"lbl_metaInfo"}' class="lhd hd2" />
				<div class="sContainer" />
			</div>
		</div>
		<div id="dependencies" class="viewerPanel">
			<h2 data-literal='{"name":"lbl_pageDependencies"}' class="lhd hd2" />
		</div>
	</div>
</div>