<div class="projectLiteralTranslations">
	<h2 class="hd no_translator" data-literal='{"name":"hd_noTranslator"}' />
	<div class="literalNav">
		<div class="toolbar">
			<span class="mi all" data-literal="{&quot;name&quot;:&quot;lbl_allScopes&quot;}"></span>
			<span class="mi separator">&gt;</span>
			<span class="mi current"></span>
		</div>
		<div class="navContent">
			<div class="scopeExplorer">
				<ul class="scopes"></ul>
			</div>
			<div class="literalExplorer"></div>
		</div>
	</div>
	<div class="transContent"></div>
</div>