<div class="projectLocalization">
	<section class="headBar">
		<div class="navBar">
			<div class="navTitle overview selected" data-literal='{"name":"lbl_navitem_overview"}' />
			<div class="navTitle editor" data-literal='{"name":"lbl_navitem_editor"}' />
			<div class="navTitle translations" data-literal='{"name":"lbl_navitem_translations"}' />
			<div class="navTitle review" data-literal='{"name":"lbl_navitem_review"}' />
		</div>
		
	</section>
	<div id="lcContainer" class="lcPanes" />
</div>