<div class="developerPage">
	<section class="main section">
		<div class="dev">
			<div class="middleContainer">
				<div class="fRight">
					<h1 class="title" data-literal='{"name":"lbl_pageTitle"}' />
					<h3 class="sub" data-literal='{"name":"lbl_pageSub"}' />
					<div class="beta">
						<h3 data-literal='{"name":"lbl_betatesters"}' />
						<a data-href='{"domain":"developer","page":"/enroll.php"}' target="_self" data-literal='{"name":"lbl_enroll"}' />
					</div>
				</div>
			</div>
		</div>
		<div class="navBar" />
	</section>
	<section class="section banner apps rgt">
		<div class="mvc">
			<div class="middleContainer">
				<h1 class="title" data-literal='{"name":"lbl_appsTitle"}' />
				<div class="ban_desc">
					<div class="imageContainer" />
					<div class="desc" data-literal='{"name":"lbl_appsDesc"}' />
				</div>
			</div>
		</div>
	</section>
	<section class="section banner web lft">
		<div class="mvc">
			<div class="middleContainer">
				<h1 class="title" data-literal='{"name":"lbl_webTitle"}' />
				<div class="ban_desc">
					<div class="imageContainer" />
					<div class="desc" data-literal='{"name":"lbl_webDesc"}' />
				</div>
				<h1 class="title" data-literal='{"name":"lbl_compTitle"}' />
				<div class="ban_desc">
					<div class="imageContainer" />
					<div class="desc" data-literal='{"name":"lbl_compDesc"}' />
				</div>
			</div>
		</div>
	</section>
	<section class="section banner loc rgt">
		<div class="mvc">
			<div class="middleContainer">
				<h1 class="title" data-literal='{"name":"lbl_locTitle"}' />
				<div class="ban_desc">
					<div class="imageContainer" />
					<div class="desc" data-literal='{"name":"lbl_locDesc"}' />
				</div>
			</div>
		</div>
	</section>
</div>