<div class="uiMainContent" id="OneColumnCentered_mainContent">
	<section class="header">
		<div class="logoImg" />
		<div class="content">
			<h1 class="title" />
			<h2 class="subtitle" />
			<p class="description" />
		</div>
	</section>
	<section class="trending">
		<h2 class="title" />
		<div class="searchContainer" />
		<div class="categories" />
		<h4 class="more" />
	</section>
	<section class="fastLinks">
		<h2 class="title" />
		<div class="links">
			<h3 class="terms" />
			<h3 class="contact" />
		</div>
	</section>
</div>