<div class="platformStatus">
	<div class="dev-sidebar" />
	<div class="dev-mainpage">
		<div class="navbar" />
		<div class="docContainer">
			<div class="section section-pstatus">
				<div class="middleContainer">
					<h1 class="section__title">Platform and API Status</h1>
					<p class="section__intro">This page includes the latest releases of the platform, the API status and any issues we may have.</p>
					<div class="section__hr section__hr_center" />
					<div class="api_issues">
						<div class="pstatus healthy" />
						<p class="section__intro no_issues">Drovio API seems healthy and working properly.</p>
						<div class="section__hr section__hr_center" />
					</div>
					<div class="platform_issues">
						<div class="pstatus healthy" />
						<p class="section__intro no_issues">There are no issues at the moment.</p>
						<div class="section__hr section__hr_center" />
					</div>
					<div class="pinfoBoxContainer">
						<p class="section__intro">Latest platform releases.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>