<div class="teamSettings">
	<div class="middleContainer">
		<div class="sidebar">
			<div class="profileImage" />
			<ul class="pnavigation">
				<li class="navitem info selected" data-literal='{"name":"lbl_nav_generalInfo"}'>
					<div class="ico" />
				</li>
				<li class="navitem keys" data-literal='{"name":"lbl_nav_apiKeys"}'>
					<div class="ico" />
				</li>
			</ul>
			<div class="navitem pr_image_editor private" data-literal='{"name":"lbl_editProfileImage"}'>
				<div class="ico" />
			</div>
			<div class="navitem pr_delete_team private" data-literal='{"name":"lbl_deleteTeam"}' />
		</div>
		<div class="mainbody">
			<div class="teamName" />
			<div id="sectionContainer" class="sectionbody" />
		</div>
	</div>
</div>