<div class="bossPage">
	<section class="main section">
		<div class="biz">
			<div class="middleContainer">
				<h1 class="title" data-literal='{"name":"lbl_dashboardTitle"}' />
				<h3 class="sub" data-literal='{"name":"lbl_dashboardSub"}' />
				<h3 class="sub pilot" data-literal='{"name":"lbl_pilot"}' />
				<div class="sneak_peek">
					<a target="_self" data-href='{"domain":"boss","page":"dashboard.php"}' data-literal='{"name":"lbl_visitDashboard"}' />
				</div>
			</div>
		</div>
		<div class="navBar" />
	</section>
	<section class="section banner apps lft">
		<div class="mvc">
			<div class="middleContainer">
				<h1 class="title" data-literal='{"name":"lbl_appsTitle"}' />
				<div class="ban_desc">
					<div class="imageContainer" />
					<div class="desc" data-literal='{"name":"lbl_appsDesc"}' />
				</div>
			</div>
		</div>
	</section>
	<section class="section banner retail rgt">
		<div class="mvc">
			<div class="middleContainer">
				<h1 class="title" data-literal='{"name":"lbl_retailTitle"}' />
				<div class="ban_desc">
					<div class="imageContainer" />
					<div class="desc" data-literal='{"name":"lbl_retailDesc"}' />
				</div>
			</div>
		</div>
	</section>
	<section class="section banner eshop lft">
		<div class="mvc">
			<div class="middleContainer">
				<h1 class="title" data-literal='{"name":"lbl_eshopTitle"}' />
				<div class="ban_desc">
					<div class="imageContainer" />
					<div class="desc" data-literal='{"name":"lbl_eshopDesc"}' />
				</div>
			</div>
		</div>
	</section>
</div>