<div class="helpCenter">
	<section class="header">
		<div class="middleContainer">
			<div class="logoImg" />
			<div class="content">
				<h1 class="title" data-literal='{"name":"title"}' />
				<h2 class="subtitle" data-literal='{"name":"lbl_subtitle"}'  />
				<p class="description" data-literal='{"name":"lbl_desc"}' />
			</div>
		</div>
		<div class="navBar" />
	</section>
	<section class="trending">
		<div class="middleContainer">
			<h2 class="title" data-literal='{"name":"lbl_trendingCategories"}' />
			<div class="searchContainer" />
			<div class="categories">
				<a target="_self" class="trendCategory starting">
					<div class="trendImage" />
					<h4 class="trendTitle" data-literal='{"name":"lbl_gettingStarted"}' />
				</a>
				<a target="_self" class="trendCategory security">
					<div class="trendImage" />
					<h4 class="trendTitle" data-literal='{"name":"lbl_security"}' />
				</a>
				<a target="_self" class="trendCategory social">
					<div class="trendImage" />
					<h4 class="trendTitle" data-literal='{"name":"lbl_social"}' />
				</a>
				<a target="_self" class="trendCategory international">
					<div class="trendImage" />
					<h4 class="trendTitle" data-literal='{"name":"lbl_international"}' />
				</a>
				<a target="_self" class="trendCategory new">
					<div class="trendImage" />
					<h4 class="trendTitle" data-literal='{"name":"lbl_whatNew"}' />
				</a>
				<a target="_self" class="trendCategory business">
					<div class="trendImage" />
					<h4 class="trendTitle" data-literal='{"name":"lbl_business"}' />
				</a>
				<a target="_self" class="trendCategory apps">
					<div class="trendImage" />
					<h4 class="trendTitle" data-literal='{"name":"lbl_appBuild"}' />
				</a>
				<a target="_self" class="trendCategory issues">
					<div class="trendImage" />
					<h4 class="trendTitle" data-literal='{"name":"lbl_bugReport"}' />
				</a>
			</div>
			<h4 class="more">
				<a data-href='{"page":"/help/categories/"}' target="_self" data-literal='{"name":"lbl_allCategories"}' />
			</h4>
		</div>
	</section>
	<section class="fastLinks">
		<div class="middleContainer">
			<h2 class="title" data-literal='{"name":"lbl_fastLinks"}' />
			<div class="links">
				<h3 class="terms">
					<a data-href='{"page":"/help/legal/"}' target="_self" data-literal='{"name":"lbl_legalNoticies"}' />
				</h3>
				<h3 class="contact">
					<a data-href='{"page":"/help/contact.php"}' target="_self" data-literal='{"name":"lbl_contact"}' />
				</h3>
			</div>
		</div>
	</section>
</div>