.objectGlobalContainer, .objectGlobalContainer .objectSourceCode {
	height:100%;
}

.objectGlobalContainer .objectJSCode, .objectGlobalContainer .objectJSCode .JSCodeContainer {
	height:100%;
}

.objectGlobalContainer .objectModel, .objectGlobalContainer .objectModel .objModelContainer {
	height:100%;
}

button.sideTool{
	border : none;
	background-color: transparent;
}