<div class="paneMainContent">
	<div class="navSidebar">
		<div class="navSection projectSettings">
			<div class="sectionHeader" data-literal='{"name":"hd_websiteSettings"}' />
			<div class="sectionContent">
				<div class="menuItem generic" data-literal='{"name":"lbl_genericInfo"}' />
				<div class="menuItem meta" data-literal='{"name":"lbl_metaSettings"}' />
			</div>
		</div>
		<div class="navSection serversList">
			<div class="sectionHeader" data-literal='{"name":"hd_serversSettings"}' />
			<div class="sectionContent">
				<div class="menuItem newServer" data-literal='{"name":"lbl_newServer"}' />
			</div>
		</div>
		<div class="navSection advancedSettings">
			<div class="sectionHeader" data-literal='{"name":"hd_advancedSettings"}' />
			<div class="sectionContent">
				<div class="menuItem advanced">
					<a target="_blank" data-literal='{"name":"lbl_projectSettings"}' />
				</div>
			</div>
		</div>
	</div> 
	<div id="settingsEditorHolder" class="settingsEditorHolder" />
</div>