<section class="docViewer">
	<div class="middleContainer">
		<div class="sidebar">
			<ul class="topNav">
				<li class="hdNav selected" data-literal='{"name":"lbl_genericDocs"}' />
				<li class="hdNav" data-literal='{"name":"lbl_sdkDocs"}' />
			</ul>
			<ul id="sideMenu" class="sideMenu">
				<div id="genericGroup">
					<li class="navHeader" data-literal='{"name":"lbl_hdDevelopment"}' />
					<li class="navItem intro">
						<a target="_self" data-literal='{"name":"lbl_devIntro"}' />
					</li>
					<li class="navItem basics">
						<a target="_self" data-literal='{"name":"lbl_devBasics"}' />
					</li>
					<li class="navItem essentials">
						<a target="_self" data-literal='{"name":"lbl_devEssentials"}' />
					</li>
					<li class="navItem platform">
						<a target="_self" data-literal='{"name":"lbl_devPlatform"}' />
					</li>
					<li class="navItem projects">
						<a target="_self" data-literal='{"name":"lbl_devProjects"}' />
					</li>
					<li class="navItem version">
						<a target="_self" data-literal='{"name":"lbl_versionControl"}' />
					</li>
					
					<li class="navHeader" data-literal='{"name":"lbl_hdGuides"}' />
					<li class="navItem apps">
						<a target="_self" data-literal='{"name":"lbl_appsGuide"}' />
					</li>
					<li class="navItem website">
						<a target="_self" data-literal='{"name":"lbl_webGuide"}' />
					</li>
					<li class="navItem template">
						<a target="_self" data-literal='{"name":"lbl_webTemplateGuide"}' />
					</li>
					<li class="navItem extension">
						<a target="_self" data-literal='{"name":"lbl_webExtensionGuide"}' />
					</li>
					<li class="navItem market">
						<a target="_self" data-literal='{"name":"lbl_marketplace"}' />
					</li>
					
					<li class="navHeader" data-literal='{"name":"lbl_hdCommunity"}' />
					<li class="navItem community">
						<a target="_self" data-literal='{"name":"lbl_devCommunity"}' />
					</li>
					<li class="navItem shared_projects">
						<a target="_self" data-literal='{"name":"lbl_sharedProjects"}' />
					</li>
					<li class="navItem translators">
						<a target="_self" data-literal='{"name":"lbl_comTranslators"}' />
					</li>
					
					<li class="navHeader advanced" data-literal='{"name":"lbl_hdAdvanced"}' />
					<li class="navItem advanced advanced_intro">
						<a target="_self" data-literal='{"name":"lbl_advancedIntro"}' />
					</li>
					<li class="navItem advanced advanced_structure">
						<a target="_self" data-literal='{"name":"lbl_advancedStructure"}' />
					</li>
					<li class="navItem advanced advanced_modules">
						<a target="_self" data-literal='{"name":"lbl_advancedModules"}' />
					</li>
					<li class="navItem advanced advanced_security">
						<a target="_self" data-literal='{"name":"lbl_advancedSecurity"}' />
					</li>
				</div>
				<div id="sdkGroup">
					<li class="navHeader" data-literal='{"name":"lbl_hdEngine"}' />
					<li class="navItem sdk_intro">
						<a target="_self" data-literal='{"name":"lbl_sdkIntro"}' />
					</li>
					<li class="navItem red_sdk">
						<a target="_self" data-literal='{"name":"lbl_redSDK"}' />
					</li>
					<li class="navItem web_sdk">
						<a target="_self" data-literal='{"name":"lbl_webSDK"}' />
					</li>
					
					<li class="navHeader" data-literal='{"name":"lbl_hdBasicAPIs"}' />
					<li class="navItem platform_api">
						<a target="_self" data-literal='{"name":"lbl_platformAPI"}' />
					</li>
					<li class="navItem profile_api">
						<a target="_self" data-literal='{"name":"lbl_profileAPI"}' />
					</li>
					<li class="navItem comm_api">
						<a target="_self" data-literal='{"name":"lbl_communicationsAPI"}' />
					</li>
					<li class="navItem geoloc_api">
						<a target="_self" data-literal='{"name":"lbl_geolocAPI"}' />
					</li>
					
					<li class="navHeader" data-literal='{"name":"lbl_hdUIAPIs"}' />
					<li class="navItem html_ui_api">
						<a target="_self" data-literal='{"name":"lbl_htmlAPI"}' />
					</li>
					<li class="navItem content_ui_api">
						<a target="_self" data-literal='{"name":"lbl_contentAPI"}' />
					</li>
					<li class="navItem forms_ui_api">
						<a target="_self" data-literal='{"name":"lbl_formsAPI"}' />
					</li>
					<li class="navItem presentation_ui_api">
						<a target="_self" data-literal='{"name":"lbl_presentationAPI"}' />
					</li>
					<li class="navItem navigation_ui_api">
						<a target="_self" data-literal='{"name":"lbl_navigationAPI"}' />
					</li>
					<li class="navItem dev_ui_api">
						<a target="_self" data-literal='{"name":"lbl_devUIAPI"}' />
					</li>
					
					<li class="navHeader" data-literal='{"name":"lbl_hdDevAPIs"}' />
					<li class="navItem literals_api">
						<a target="_self" data-literal='{"name":"lbl_literalsAPI"}' />
					</li>
					<li class="navItem bugs_api">
						<a target="_self" data-literal='{"name":"lbl_bugTrackerAPI"}' />
					</li>
					<li class="navItem analytics_api">
						<a target="_self" data-literal='{"name":"lbl_analyticsAPI"}' />
					</li>
					
					<li class="navHeader" data-literal='{"name":"lbl_hdOtherAPIs"}' />
					<li class="navItem web_docs">
						<a target="_self" data-literal='{"name":"lbl_webDocsAPI"}' />
					</li>
					
					<!-- <li class="navHeader" data-literal='{"name":"lbl_hdWebAPIs"}' /> -->
					
					<li class="navHeader advanced" data-literal='{"name":"lbl_hdAdvancedAPIs"}' />
					<li class="navItem advanced projects_api">
						<a target="_self" data-literal='{"name":"lbl_projectsAPI"}' />
					</li>
					<li class="navItem advanced version_api">
						<a target="_self" data-literal='{"name":"lbl_versionAPI"}' />
					</li>
					<li class="navItem advanced security_api">
						<a target="_self" data-literal='{"name":"lbl_securityAPI"}' />
					</li>
				</div>
			</ul>
		</div>
		<div class="docHolder" />
	</div>
	<div class="navBar" />
</div>