<div class="sidebar">
	<a data-href='{"domain":"www","page":"/help/"}' target="_self" class="logo" />
	<div class="searchContainer">
		<div class="searchIco" />
		<input type="text" class="searchInput" placeholder="Search help docs..." autofocus />
	</div>
	<div class="menuContainer open">
		<div class="sd-title" data-literal='{"name":"hd_menu_helpDocs"}' />
		<ul class="menu welcome">
			<li class="menu-item welcome">
				<a target="_self" data-literal='{"name":"lbl_menu_welcomepage"}' />
			</li>
			<li class="menu-item gettinstarted">
				<a target="_self" data-literal='{"name":"lbl_menu_gettinstarted"}' />
			</li>
			<li class="menu-item whatsnew">
				<a target="_self" data-literal='{"name":"lbl_menu_whatsnew"}' />
			</li>
			<li class="menu-item reporting">
				<a target="_self" data-literal='{"name":"lbl_menu_reporting"}' />
			</li>
		</ul>
	</div>
	<div class="menuContainer open">
		<div class="sd-title" data-literal='{"name":"hd_menu_accounts"}' />
		<ul class="menu acc">
			<li class="menu-item acc_security">
				<a target="_self" data-literal='{"name":"lbl_menu_acc_security"}' />
			</li>
			<li class="menu-item acc_privacy">
				<a target="_self" data-literal='{"name":"lbl_menu_acc_privacy"}' />
			</li>
		</ul>
	</div>
	<div class="menuContainer open">
		<div class="sd-title" data-literal='{"name":"hd_menu_enterprise"}' />
		<ul class="menu enterprise">
			<li class="menu-item enterprise_start">
				<a target="_self" data-literal='{"name":"lbl_menu_enterprise_start"}' />
			</li>
		</ul>
	</div>
	<div class="menuContainer open">
		<div class="sd-title" data-literal='{"name":"hd_menu_developer"}' />
		<ul class="menu developer">
			<li class="menu-item developer_start">
				<a target="_self" data-literal='{"name":"lbl_menu_developer_start"}' />
			</li>
		</ul>
	</div>
	<div class="menuContainer open">
		<ul class="menu policies">
			<div class="sd-title" data-literal='{"name":"hd_menu_policies"}' />
			<li class="menu-item policies_terms">
				<a target="_self" data-literal='{"name":"lbl_menu_policies_terms"}' />
			</li>
			<li class="menu-item policies_privacy">
				<a target="_self" data-literal='{"name":"lbl_menu_policies_privacy"}' />
			</li>
			<li class="menu-item policies_acceptableuse">
				<a target="_self" data-literal='{"name":"lbl_menu_policies_acceptableuse"}' />
			</li>
		</ul>
	</div>
</div>