#applicationExplorerSide, .viewDesigner {
	height: 100%;
}
.devapp .navIco {
	background-image:url(/Library/Media/images/pages/developer/appDevSprite.svg);
	background-position:-30px 0px;
}
.devapp.settings .navIco {
	background-position:-30px 0px;
}
.applicationExplorer {
	height: 100%;
}