<div class="projectPublisherContainer">
	<div class="publisher">
		<div class="mainForm" />
		<div class="repoReleaseContainer">
			<div class="hd" data-literal='{"name":"hd_repositoryRelease"}'>
				<span class="ico" />
			</div>
			<div class="repoReleaseFormContainer" />
		</div>
	</div>
	<div class="progressHolder">
		<div class="tlist">
			<div class="title template">
				<span class="ico" />
			</div>
		</div>
		<div class="progressbar" />
	</div>
	<div class="formsHolder" />
	<div class="errorHolder" />
</div>