<div class="keyViewer">
	<h4 data-literal="{&quot;name&quot;:&quot;hd_accessKeys_desc&quot;}" class="contentHeader"></h4>
	<div class="keylist projectKeys"></div>
	<div class="docs_reference">
		<h4 data-literal="{&quot;name&quot;:&quot;hd_accessKeys_docs&quot;}" class="contentHeader"></h4>
		<div class="button_container">
			<a data-href="{&quot;domain&quot;:&quot;developers&quot;,&quot;page&quot;:&quot;/docs/api_architecture/&quot;}" target="_blank" data-literal="{&quot;name&quot;:&quot;lbl_api_architecture&quot;}" class="wbutton"></a>
			<a data-href="{&quot;domain&quot;:&quot;developers&quot;,&quot;page&quot;:&quot;/docs/api_apps/&quot;}" target="_blank" data-literal="{&quot;name&quot;:&quot;lbl_api_apps&quot;}" class="wbutton"></a>
		</div>
	</div>
</div>