.appConfigurator {
	height: 100%;
}
.appConfigurator .configTabs {
	height: 100%;
}
.appConfigurator .tabs {
	float: left;
	width: 20%;
	list-style: none;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 100%;
	border-right: 1px solid #CCC;
	background: #EEE;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.appConfigurator .pages {
	float: left;
	width: 80%;
	height: 100%;
}
.appConfigurator .pages .page {
	padding: 5px;
	overflow: auto;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.appConfigurator .tabs .navTab {
	list-style: none;
	vertical-align: middle;
	margin: 0px;
	height: 26px;
	padding: 3px 2px;
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-bottom: 1px solid #CCC;
}
.appConfigurator .tabs .navTab:hover {
	color: #C00403;
}
.appConfigurator .tabs .navTab.selected {
	color: #C00403;
	border-right: 3px solid #C00403;
}
.appConfigurator .tabs .navTab span {
	display: block;
	line-height: 20px;
}
.appConfigurator .switchRow {
	width: 50%;
	display: block;
	overflow: auto;
	padding: 5px 10px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.appConfigurator .testerPanel .configList {
	padding: 5px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.appConfigurator .testerPanel .configList .formControls {
	padding: 0px;
}
.appConfigurator .testerPanel .configList h4 {
	margin: 3px 5px;
}
.appConfigurator .testerPanel .packageList,
.appConfigurator .testerPanel .viewList {
	height: 200px;
}

.appConfigurator .switchRow > span {
	float: left;
	min-width: 150px;
	padding-right: 10px;
}
.appConfigurator .switchRow > .uiSwitchButton {
	float: right;
}

.appConfigurator .resourceProfiler {
	padding: 10px;
}
.appConfigurator .resourceProfiler .resourceListContainer {
	border: 1px solid rgba(166, 166, 166, 0.5);
	height: 290px;
	overflow: auto;
}
.appConfigurator .resourceProfiler .resourceListContainer .cssResources {
	border-bottom: 1px solid rgba(166, 166, 166, 0.5);
}

.appConfigurator .resourceProfiler .resourceListContainer .bootResource {
	list-style: none;
	padding: 3px;
	margin: 0px;
	line-height: 16px;
}
.appConfigurator .resourceProfiler .resourceListContainer .bootResource:nth-child(even) {
	background-color: #EEE;
}
.appConfigurator .resourceProfiler .bootResource .rsrcIco {
	display: inline-block;
	float: left;
	height: 16px;
	width: 16px;
	background: url('%resources%/developer/icons/fileThumbs.svg') no-repeat;
	background-size: 16px;
	margin: 0px 10px;
}
.appConfigurator .resourceProfiler .resourceListContainer .cssResources .bootResource .rsrcIco {
	background-position: 0px -80px;
}
.appConfigurator .resourceProfiler .resourceListContainer .jsResources .bootResource .rsrcIco {
	background-position: 0px -64px;
}
.appConfigurator .resourceProfiler .bootResource .rsrcUrl {
	width: 75%;
	display: inline-block;
	overflow: auto;
}
.appConfigurator .resourceProfiler .bootResource .rsrcReload, .bootResource .rsrcRemove {
	width: 10%;
	color: blue;
	cursor: pointer;
	text-align: center;
	display: inline-block;
}