<div class="developerNavContent">
	<ul class="navMenu">
		<li class="navMenuItem projectHome">
			<a target="_self" data-literal='{"name":"tlb_projectHome"}' />
		</li>
		<li class="navMenuItem projectRepository">
			<a target="_self" data-literal='{"name":"tlb_projectRepository"}' />
		</li>
		<li class="navMenuItem projectResources">
			<a target="_self" data-literal='{"name":"tlb_projectResources"}' />
		</li>
		<li class="navMenuItem projectPreview">
			<a target="_self" data-literal='{"name":"tlb_projectPreview"}' />
		</li>
	</ul>
</div>