<div id="teamDashboard" class="teamDashboard">
	<div class="mainContainer">
		<div class="apps_pool" />
		<div class="ds-navbar">
			<div class="team_info">
				<div class="logo" />
				<div class="title" />
			</div>
			<div class="searchbar" />
			<ul class="navmenu">
				<a class="navitem settings" target="_self" />
				<a class="navitem members" target="_self" />
				<a class="navitem apps" target="_self" />
			</ul>
		</div>
		<div class="ds-sectionContainer">
			<div id="apps_grid" class="dsection" />
			<div id="team_members" class="dsection" />
			<div id="team_settings" class="dsection" />
		</div>
	</div>
</div>