<div class="documentationViewer">
	<div id="DocBasicInfo" class="basicInfoContainer">
		<div class="classDeclContainer">
			<div class="signature">
				<h1 class="className" />
				<div class="boxInfo">
					<div class="br version" />
					<div class="br created" />
					<div class="br updated" />
				</div>
				<pre class="inheritance" />
			</div>
			<div class="section classInfo">
				<div class="classTitle" />
				<p class="classDescription" />
				<div class="classDeclaration">
					<div class="classImplements" />
				</div>
			</div>
			<div class="docNavigation">
				<h3 class="hd synopsis selected" data-literal='{"name":"lbl_man_classSynopsis"}' />
				<h3 class="hd manual" data-literal='{"name":"lbl_man_classManual"}' />
				<h3 class="hd model" data-literal='{"name":"lbl_man_classModel"}' />
				<h3 class="hd changelog" data-literal='{"name":"lbl_man_changelog"}' />
			</div>
		</div>
	</div>
	<div id="DocBody" class="bodyDetailsContainer">
		<div id="docSynopsis" class="section">
			<div class="body">
				<div class="constantsContainer">
					<div class="subHeader" data-literal='{"name":"lbl_constantsHeader"}' />
					<div class="sectionBody"/>
				</div>
				<div class="propertiesContainer">
					<div class="subHeader" data-literal='{"name":"lbl_propertiesHeader"}' />
					<div class="sectionBody" />
				</div>
				<div class="methodsContainer">
					<div class="subHeader" data-literal='{"name":"lbl_methodsHeader"}' />
					<div class="sectionBody" />
				</div>
			</div>
		</div>
		<div id="docManual" class="section">
			<p data-literal='{"name":"lbl_noManual"}' />
		</div>
		<div id="objModel" class="section">
			<p data-literal='{"name":"lbl_noModel"}' />
		</div>
		<div id="changelog" class="section">
			<p data-literal='{"name":"lbl_noChanges"}' />
		</div>
	</div>
</div>