<div class="bossTeamProfile">
	<section class="teamInfoContainer">
		<div class="teamInfo middleContainer">
			<div class="logoBox">
				<div class="logo" />
			</div>
			<h1 class="teamName" />
			<h2 class="teamDescription" />
			<ul class="teamNavigation">
				<li class="navitem info selected" data-literal='{"name":"lbl_nav_about"}' />
				<li class="navitem projects" data-literal='{"name":"lbl_nav_projects"}' />
			</ul>
		</div>
		<div class="navBar" />
	</section>
	<section id="teamDetailsContainer" class="teamDetailsContainer middleContainer" />
</div>