<div class="middleContainer">
	<div class="toggle_sidebar menu" />
	<ul class="navMenu">
		<li>
			<a data-href='{"domain":"www","page":"/"}' data-literal='{"name":"lbl_navbar_menu_home"}' target="_self"/>
		</li>
		
		<li>
			<a data-href='{"domain":"www","page":"/help/"}' data-literal='{"name":"lbl_navbar_menu_help"}' target="_self"/>
		</li>
		<li>
			<a data-href='{"domain":"developers","page":"/"}' data-literal='{"name":"lbl_navbar_menu_developers"}' target="_self"/>
		</li>
		<li class="dark login" data-literal='{"name":"lbl_navbar_menu_login"}' />
	</ul>
</div>