<div class="keyInfo">
	<h2 class="hd" data-literal='{"name":"hd_key_basicInfo"}' />
	<div class="kr akey">
		<div class="title" data-literal='{"name":"lbl_keyValue"}' />
		<div class="value" />
	</div>
	<div class="kr type">
		<div class="title" data-literal='{"name":"lbl_keyType"}' />
		<div class="value" />
	</div>
	<div class="kr date">
		<div class="title" data-literal='{"name":"lbl_keyDate"}' />
		<div class="value" />
	</div>
	<div class="kr previous_akey">
		<div class="title" data-literal='{"name":"lbl_prevKey"}' />
		<div class="value" />
	</div>
	<div class="kr exdate">
		<div class="title" data-literal='{"name":"lbl_eDate"}' />
		<div class="value" />
	</div>
	<div class="ksect keyActions">
</div>