<div class="issue-summary itemTemplate narrow">
	<div class="cursor-default">
		<div class="mini-box left">
			<div class="mini-badges"><span></span></div>
			<div data-literal='{"name":"lbl_status"}'></div>
		</div>
		<div class="mini-box middle">
			<div class="mini-badges"><span></span></div>
			<div data-literal='{"name":"lbl_priority"}'></div>
		</div>
		<div class="mini-box right">
			<div class="mini-badges"><span></span></div>
			<div data-literal='{"name":"lbl_severity"}'></div>
		</div>
		<div class="summary">
			<div class="clickable title"></div>
			<div class="tags"></div>
			<div class="started">
				<div class="started-link"><span></span></div>
				<div class="reporter-id"><span></span></div>
			</div>
		</div>
	</div>
</div>
<div class="itemsHolder">
</div>