.queryEditor .objTool {
	display: inline-block;
	width: 16px;
	height: 16px;
	opacity: 0.7;
	cursor: pointer;
	background-image:url('%resources%/global/devIcons.svg');
	background-repeat:no-repeat;
	background-size: cover;
}
.queryEditor .objTool:hover {
	opacity: 1.0;
}
button.objTool {
	border : none;
	background-color: transparent;
}
.queryEditor .objTool.save {
	background-position: 0px 0px;
}
.queryEditor .objTool.delete {
	background-position: 0px -32px;
}
.queryEditor .objTool.test {
	background-position: 0px -48px;
}

.queryData {
	height: 100%;
}
.testControls {
	float: left;
}
.testingPool {
	clear: both;
	padding: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 100%;
	overflow: auto;
}