<div class="keyViewer">
	<h4 data-literal='{"name":"hd_accessKeys_desc"}' class="contentHeader"></h4>
	<div class="keylist projectKeys"></div>
	<div class="docs_reference">
		<h4 data-literal='{"name":"hd_accessKeys_docs"}' class="contentHeader"></h4>
		<div class="button_container">
			<a data-href='{"domain":"developers","page":"/docs/APIs/public/ProtocolArchitecture/"}' target="_blank" data-literal='{"name":"lbl_api_architecture"}' class="wbutton"></a>
			<a data-href='{"domain":"developers","page":"/docs/APIs/public/ConnectApps/"}' target="_blank" data-literal='{"name":"lbl_api_apps"}' class="wbutton"></a>
		</div>
	</div>
</div>