<section class="footLinks section">
	<div class="middleContainer">
		<div class="socialBar">
			<div class="socialButtons">
				<a href="https://www.facebook.com/RedbackServices" target="_blank" class="socialBtn socialFb"></a>
				<a href="https://plus.google.com/105789862409123100571" target="_blank" class="socialBtn socialGp"></a>
				<a href="https://twitter.com/RedbackSrv" target="_blank" class="socialBtn socialTt"></a>
			</div>
			<h3 class="socialText" data-literal='{"name":"lbl_socialText"}' />
		</div>
		<div class="rb">
			<div class="logo" />
			<h2 class="text">Redback</h2>
			<div class="copyright">Redback Services &copy; 2014</div>
		</div>
		<div class="linkCol general">
			<h3 class="colHeader">Redback</h3>
			<div class="colList">
				<h4 class="listItem">
					<a data-href='{"page":"/discover.php"}' data-literal='{"name":"lbl_fl_gen_discover"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"page":"/international.php"}' data-literal='{"name":"lbl_fl_gen_international"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"page":"/help/contact.php"}' data-literal='{"name":"lbl_fl_gen_feedback"}' target="_blank"/>
				</h4>
			</div>
		</div>
		<div class="linkCol social">
			<h3 class="colHeader" data-literal='{"name":"lbl_fl_soc_header"}' />
			<div class="colList">
				<h4 class="listItem">
					<a data-href='{"page":"/careers.php"}' data-literal='{"name":"lbl_fl_soc_careers"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"page":"/careers.php"}' data-literal='{"name":"lbl_fl_soc_intern"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"page":"/help/contact.php"}' data-literal='{"name":"lbl_fl_soc_partners"}' target="_blank"/>
				</h4>
			</div>
		</div>
		<div class="linkCol engines">
			<h3 class="colHeader" data-literal='{"name":"lbl_fl_eng_header"}' />
			<div class="colList">
				<h4 class="listItem">
					<a data-href='{"domain":"boss","page":"/"}' data-literal='{"name":"lbl_fl_eng_biz"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"domain":"web","page":"/"}' data-literal='{"name":"lbl_fl_eng_web"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"domain":"apps","page":"/"}' data-literal='{"name":"lbl_fl_eng_apps"}' target="_blank"/>
				</h4>
			</div>
		</div>
		<div class="linkCol dev">
			<h3 class="colHeader" data-literal='{"name":"lbl_fl_dev_header"}' />
			<div class="colList">
				<h4 class="listItem">
					<a data-href='{"domain":"developer","page":"/"}' data-literal='{"name":"lbl_fl_dev_join"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"domain":"developer","page":"/docs/"}' data-literal='{"name":"lbl_fl_dev_docs"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"domain":"developer","page":"/support/"}' data-literal='{"name":"lbl_fl_dev_support"}' target="_blank"/>
				</h4>
			</div>
		</div>
	</div>
</section>