<div class="uiMainContent" id="OneColumnCentered_mainContent">
	<section class="main">
		<div class="header">
			<div class="menu">
				<ul class="devMenu">
					<li class="devMenuItem home" />
					<li class="devMenuItem news" />
					<li class="devMenuItem events" />
				</ul>
			</div>
			<div class="logoContainer">
				<div class="logo" />
				<div class="logoSide">
					<div class="logoText" />
					<h2 class="subText" />
					<h3 class="line" />
				</div>
			</div>
		</div>
		<div class="features">
			<div class="fgrid">
				<div class="gridrow">
					<div class="fItem values">
						<div class="ico" />
						<div class="context">
							<h2 class="title" />
							<p class="sub" />
						</div>
					</div>
					<div class="fItem space">
						<div class="ico" />
						<div class="context">
							<h2 class="title" />
							<p class="sub" />
						</div>
					</div>
				</div>
				<div class="gridrow">
					<div class="fItem web">
						<div class="ico" />
						<div class="context">
							<h2 class="title" />
							<p class="sub" />
						</div>
					</div>
					<div class="fItem apps">
						<div class="ico" />
						<div class="context">
							<h2 class="title" />
							<p class="sub" />
						</div>
					</div>
				</div>
				<div class="gridrow">
					<div class="fItem projdev">
						<div class="ico" />
						<div class="context">
							<h2 class="title" />
							<p class="sub" />
						</div>
					</div>
					<div class="fItem projft">
						<div class="ico" />
						<div class="context">
							<h2 class="title" />
							<p class="sub" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="devCategories">
		<div class="dvc apps lft">
			<div class="banner">
				<div class="ctx">
					<h2 class="title">App Engine</h2>
					<h3 class="desc" />
					<ul class="more">
						<li class="appcenter" />
						<li class="ref" />
						<li class="learn" />
					</ul>
				</div>
			</div>
		</div>
		<div class="dvc web rgt">
			<div class="banner">
				<div class="ctx">
					<h2 class="title">Web Engine</h2>
					<h3 class="desc" />
					<ul class="more">
						<li class="ref" />
						<li class="learn" />
					</ul>
				</div>
			</div>
			<div class="extra">
				<div class="templates box">
					<div class="ico" />
					<h3 class="title" />
				</div>
				<div class="extensions box">
					<div class="ico" />
					<h3 class="title" />
				</div>
			</div>
		</div>
	</section>
	<section class="footLinks section">
		<div class="middleContainer">
			<div class="linkCol engine">
				<h3 class="colHeader" />
				<div class="colList">
					<h4 class="listItem" />
					<h4 class="listItem" />
				</div>
			</div>
			<div class="linkCol reference">
				<h3 class="colHeader" />
				<div class="colList">
					<h4 class="listItem" />
					<h4 class="listItem" />
					<h4 class="listItem" />
					<h4 class="listItem" />
				</div>
			</div>
			<div class="linkCol support">
				<h3 class="colHeader" />
				<div class="colList">
					<h4 class="listItem" />
					<h4 class="listItem" />
					<h4 class="listItem" />
					<h4 class="listItem" />
				</div>
			</div>
		</div>
	</section>
</div>