.sdkManual {
	height: 100%;
}
.documentationViewer {
	position:relative;
	height:100%;
	overflow: auto;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.documentationViewer .section {
	clear: both;
	margin: 5px 0px;
}
.documentationViewer .basicInfoContainer {
	overflow: auto;
	background: #EEE;
	border-bottom: 1px solid #999;
}
.documentationViewer .signature {
	overflow: auto;
	padding: 10px;
}
.documentationViewer .signature .className {
	font-size: 30px;
	font-weight: normal;
	float: left;
}
.documentationViewer .signature .boxInfo {
	float: right;
	padding: 5px;
	text-align: right;
}
.documentationViewer .signature .boxInfo .br {
	line-height: 20px;
	color: #777;
	overflow: auto;
	margin: 5px 0px;
}
.documentationViewer .signature .boxInfo .br span {
	margin: 0px 3px;
	float: right;
}
.documentationViewer .signature .boxInfo .bxtl {
	text-align: left;
	width: 200px;
	display: block;
	float: right;
}
.documentationViewer .signature .inheritance {
	clear: left;
}
.documentationViewer .classTitle {
	font-size: 12px;
	font-weight: bold;
}
.documentationViewer .classDescription {
	white-space: pre-wrap;
}
.documentationViewer .bodyDetailsContainer {
	clear: both;
	overflow: auto;
}
.documentationViewer .docNavigation {
	overflow: auto;
	margin-top: 25px;
}
.documentationViewer .docNavigation .hd {
	float: left;
	padding: 3px 10px;
	margin: 0px;
	font-weight: bold;
	font-size: 14px;
	color: #888;
	cursor: pointer;
	border-bottom: 3px solid transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.documentationViewer .docNavigation .hd:hover {
	border-bottom: 3px solid #888;
}
.documentationViewer .docNavigation .hd.selected,
.documentationViewer .docNavigation .hd.selected:hover {
	border-bottom: 3px solid #C00403;
	color: #555;
}
.documentationViewer .section > .header {
	font-weight: bold;
	padding: 3px;
	margin-bottom: 6px;
	border-bottom: 1px solid rgba(166, 166, 166, 0.5);
	color: rgb(100, 100, 100);
	font-size: 16px;
}
.documentationViewer .section > .body .subHeader {
	color: #646464;
	font-size: 12px;
	font-weight: bold;
	margin-top: 15px;
	padding: 3px;
}

.documentationViewer .classDeclContainer .classThrows {
}

.documentationViewer .section > .body{
	margin-left: 5px;	
}
.documentationViewer .infoWrapper {
	position:relative;	
	height: 100px;
}

.documentationViewer .classDeclContainer .section {
	margin-left:10px;
	padding:0px;  
}

.documentationViewer .classDeclContainer .section p {
	margin-top: 2px;
}

.documentationViewer .classDeclContainer .section span:not(:first-child){
	padding-left:5px;
}

.documentationViewer .classDeclContainer .classThrows {
	padding-left:10px;
}

.documentationViewer .classDeclaration {
	
}
.documentationViewer .constantsContainer .body, .documentationViewer .propertiesContainer .body, .documentationViewer .methodsContainer .body {
	margin-left: 5px;
}

.documentationViewer .classDeclaration h2.modifier {
	float: left;
	padding-right: 15px;
	clear: left;
}
.documentationViewer .classTitle {
	clear: both;
}
.documentationViewer .modifier {
	display: inline-block;
	font-weight: bold;
	color: green;
}
.documentationViewer .descline {
	padding: 0px 3px 0px 3px;
}
.documentationViewer .descline .token {
	font-weight: bold;
	color: blue;
	display: inline-block;
}
.documentationViewer .property, .documentationViewer .method {
	margin-bottom: 5px;
}
.documentationViewer .method .methodBody {
	margin-left: 20px;
}
.documentationViewer .parameter .paramName.token {
	font-style: italic;
}
.documentationViewer .classSynopsis .synopsisSection, .documentationViewer .classExtended .extendedSection {
	padding: 5px 0px;
}
.documentationViewer .classSynopsis > .synopsisSection > .sectionBody, .documentationViewer .classExtended .extendedSection > .sectionBody {
	text-indent: 5px;
}
.documentationViewer .sectionHeader {
	font-weight: bold;
	padding: 3px;
	margin-bottom: 6px;
	border-bottom: 1px solid rgba(166, 166, 166, 0.5);
	color: rgb(100, 100, 100);
	font-size: 12px;
}
.documentationViewer .property .pDesc, .documentationViewer .constant .cDesc {
	white-space: pre-wrap;
}
.documentationViewer .method  .mDesc {
	font-family: inherit;
	font-style: italic;
	margin: 0px 0px 0px 35px;
}

.documentationViewer .method  .methReternDesc,  .documentationViewer .method  .methThrows {
	padding-left:10px;
}

.documentationViewer .deprecationMessage {
	border: 1px solid rgba(255, 100, 0, 1);
	background-color: #FFE8D9;
	clear: both;
}
.documentationViewer .deprecationMessage .deprSign {
	font-weight: bold;
	margin: 0px;
	margin-top: 3px;
}
.documentationViewer .decline span {
	padding: 0px 2px 0px 2px;
}
.documentationViewer .token {
	font-weight: bold;
	color: blue;
	display: inline-block;
}

.documentationViewer .mh {
	border-bottom: 1px solid #CCC;
	margin-bottom: 5px;
}
.documentationViewer .mDepr.modifier {
	float: right;
	color: orange;
}
.documentationViewer .parameters .parameter {
	clear: both;
	overflow: auto;
	padding: 5px 0px;
}
.documentationViewer .parameters .parameter .paramType {
	float: left;
	width: 15%;
}
.documentationViewer .parameters .parameter .paramName {
	float: left;
	width: 15%;
}
.documentationViewer .parameters .parameter .paramDesc {
	float: left;
	width: 70%;
	white-space: pre-wrap;
}
.documentationViewer p.pre {
	white-space: pre-wrap;
}
.documentationViewer .documentationError{
	margin: 10px;
	border: 1px solid rgba(255, 100, 0, 1);
	background-color: #FFE8D9;
	clear: both;
	text-indent: 5px;
}
.documentationViewer .documentationError.errorSign {
	font-weight: bold;
	margin: 0px;
	margin-top: 3px;
}

.documentationViewer .descline span {
	padding: 0px 2px 0px 2px;
}
.documentationViewer #objModel {
	padding: 0px 10px;
}