<div class="projectRepository">
	<div class="middleContainer">
		<div class="wbutton newRelease" data-literal='{"name":"lbl_releaseBtn"}' />
		<div class="header" data-literal='{"name":"hd_projectRepository"}' />
		<ul class="menu">
			<li class="menu_item overview selected" data-literal='{"name":"lbl_nav_overview"}' />
			<li class="menu_item commits" data-literal='{"name":"lbl_nav_commits"}' />
			<li class="menu_item working_items" data-literal='{"name":"lbl_nav_working_items"}' />
			<li class="menu_item releases" data-literal='{"name":"lbl_nav_releases"}' />
			<li class="menu_item branches" data-literal='{"name":"lbl_nav_branches"}' />
			<li class="menu_item stats" data-literal='{"name":"lbl_nav_stats"}' />
		</ul>
		<div id="repoSectionContainer" class="whiteBox" />
	</div>
</div>