.teamManager .editorContainer {
	overflow: auto;
	padding: 5px 0px;
}
.teamManager .editorContainer.teamInfo {
	border-bottom: 1px solid #DDD;
}
.teamManager .thd {
	color: #555;
	font-size: 12px;
	float: left;
	width: 20%;
	margin-top: 25px;
	text-align: center;
}
.teamManager .tcontainer {
	float: left;
	width: 80%;
	border-left: 1px solid #EEE;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}