<div class="accountProfile">
	<div class="middleContainer">
		<div class="sidebar">
			<div class="profileImage" />
			<ul class="pnavigation">
				<li class="navitem about selected" data-literal='{"name":"lbl_nav_about"}'>
					<div class="ico" />
				</li>
				<li class="navitem invitations private" data-literal='{"name":"lbl_nav_invitations"}'>
					<div class="ico" />
				</li>
				<li class="navitem projects" data-literal='{"name":"lbl_nav_projects"}'>
					<div class="ico" />
				</li>
			</ul>
			<div class="navitem pr_image_editor private" data-literal='{"name":"lbl_editProfileImage"}'>
				<div class="ico" />
			</div>
			<a data-href='{"domain":"www", "page":"/profile/settings/"}' target="_self" class="navitem stbutton private" data-literal='{"name":"lbl_accountSettings"}'>
				<div class="ico" />
			</a>
		</div>
		<div class="mainbody">
			<a data-href='{"domain":"www","page":"/"}' target="_self" data-literal='{"name":"lbl_back"}' class="wbutton back" />
			<div class="accTitle" />
			<div id="sectionContainer" class="sectionbody" />
		</div>
	</div>
</div>