<div class="prjRepoViewer">
	<section class="headBar">
		<div class="navBar">
			<div class="navTitle overview selected" data-literal='{"name":"lbl_nav_overview"}' />
			<div class="navTitle commits" data-literal='{"name":"lbl_nav_commits"}' />
			<div class="navTitle branches" data-literal='{"name":"lbl_nav_branches"}' />
			<div class="navTitle releases" data-literal='{"name":"lbl_nav_releases"}' />
			<div class="navTitle stats" data-literal='{"name":"lbl_nav_stats"}' />
		</div>
		
	</section>
	<section id="ovSections" class="ovSections" />
	<section class="footerBar">
		<span class="vcsVersion" />
	</section>
</div>