<div class="developerPage">
	<section class="main section">
		<div class="middleContainer">
			<h1 class="title" data-literal='{"name":"lbl_pageTitle"}' />
			<h3 class="sub" data-literal='{"name":"lbl_pageSub"}' />
			<a data-href='{"domain":"developer","page":"/dashboard.php"}' target="_self" data-literal='{"name":"lbl_createProjectNow"}' class="dashboard_link" />
			<div class="snav">
				<div class="navitem apps active">
					<div class="ico" />
					<div class="title" data-literal='{"name":"lbl_banner_apps_title"}' />
				</div>
				<div class="navitem websites">
					<div class="ico" />
					<div class="title" data-literal='{"name":"lbl_banner_websites_title"}' />
				</div>
				<div class="navitem webcomp">
					<div class="ico" />
					<div class="title" data-literal='{"name":"lbl_banner_webcomp_title"}' />
				</div>
				<div class="navitem translator">
					<div class="ico" />
					<div class="title" data-literal='{"name":"lbl_banner_translator_title"}' />
				</div>
			</div>
			<div class="content">
				<div class="desc active">
					<div class="text" data-literal='{"name":"lbl_banner_apps_desc"}' />
					<a data-href='{"domain":"developer","page":"/features/spa.php"}' target="_self" class="more" data-literal='{"name":"lbl_learnMore"}' />
				</div>
				<div class="desc">
					<div class="text" data-literal='{"name":"lbl_banner_websites_desc"}' />
					<a data-href='{"domain":"developer","page":"/features/web.php"}' target="_self" class="more" data-literal='{"name":"lbl_learnMore"}' />
				</div>
				<div class="desc">
					<div class="text" data-literal='{"name":"lbl_banner_webcomp_desc"}' />
					<a data-href='{"domain":"developer","page":"/features/web.php#components"}' target="_self" class="more" data-literal='{"name":"lbl_learnMore"}' />
				</div>
				<div class="desc">
					<div class="text" data-literal='{"name":"lbl_banner_translator_desc"}' />
				</div>
			</div>
		</div>
		<div class="navBar" />
	</section>
	<div class="stitle" data-literal='{"name":"lbl_projectDevelopment"}' />
	<section class="slideshow">
		<div class="arrow lft" />
		<div class="slideContainer">
			<div class="slide sl1 active">
				<div class="hd" data-literal='{"name":"lbl_slide_overview"}' />
			</div>
			<div class="slide sl2">
				<div class="hd" data-literal='{"name":"lbl_slide_vcs"}' />
			</div>
			<div class="slide sl3">
				<div class="hd" data-literal='{"name":"lbl_slide_testing"}' />
			</div>
			<div class="slide sl4">
				<div class="hd" data-literal='{"name":"lbl_slide_issues"}' />
			</div>
		</div>
		<div class="arrow rgt" />
		<div class="bullets">
			<span class="bull active" />
			<span class="bull" />
			<span class="bull" />
			<span class="bull" />
		</div>
	</section>
</div>