<div class="devTools">
	<section class="head">
		<div class="middleContainer">
			<h1 class="title" data-literal='{"name":"lbl_pageTitle"}' />
			<h3 class="sub" data-literal='{"name":"lbl_pageSub"}' />
		</div>
		<div class="navBar" />
	</section>
	<section class="menu">
		<div class="middleContainer">
			<div class="menu">
				<h3 class="menuItem">
					<a data-href='{"domain":"developer","page":"/tools/status/}' target="_self" data-literal='{"name":"lbl_devTools_status"}' />
				</h3>
				<h3 class="menuItem">
					<a data-href='{"domain":"developer","page":"/api/}' target="_self" data-literal='{"name":"lbl_devTools_api"}' />
				</h3>
				<h3 class="menuItem">
					<a data-href='{"domain":"developer","page":"/tools/console/}' target="_self" data-literal='{"name":"lbl_devTools_console"}' />
				</h3>
			</div>
		</div>
	</section>
</div>