.noTeamPopup .noTeam {
	& {
		background: #FFF;
		border: 1px solid #999;
		width: 800px;
	}
	.header {
		padding: 10px;
		border-bottom: 1px solid #CCC;
		font-size: 16px;
		color: #555;
		line-height: 32px;
		background: rgb(239, 242, 242);
		overflow: auto;
	}
	.header .bico {
		width: 52px;
		height: 52px;
		float: left;
		margin-right: 15px;
		background: url('%{media}/developer/projects/bulb.svg') no-repeat center;
		background-size: 32px;
		padding: 10px;
		border: 1px solid #CCC;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.header .title {
		line-height: 32px;
		font-size: 20px;
		font-weight: normal;
		margin: 10px 0px;
	}
	.htitle {
		text-align: center;
		font-size: 14px;
		margin: 10px 0px;
		color: #555;
	}
	.create_new {
		margin: 0px 15px;
		padding: 10px;
	}
	.create_new {
		.tinput {
			width: 280px;
			padding: 5px 10px;
			font-size: 12px;
			color: #555;
			float: left;
			border-color: #999;
			border-radius: 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			line-height: 16px;
		}
		.tinput.tname {
			margin-right: 15px;
		}
		.tbutton {
			float: right;
			width: 100px;
			padding: 5px 10px;
			margin: 0px;
			font-size: 12px;
			line-height: 16px;
		}
	}
	.teams {
		& {
			overflow: auto;
			border-top: 1px solid #DDD;
		}
		.tlist {
			overflow: auto;
			max-height: 300px;
		}
		.ttile {
			float: left;
			width: 170px;
			margin: 15px;
			border: 1px solid #CCC;
			border-radius: 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			cursor: pointer;
			padding: 10px;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
		}
		.ttile:hover {
			border-color: rgb(31, 93, 144);
			background: rgba(31, 93, 144, 0.1);
		}
		.ttile .ico {
			float: left;
			width: 32px;
			height: 32px;
			margin-right: 10px;
		}
		.ttile .ico img {
			height: inherit;
			width: inherit;
		}
		.ttile .ico:empty {
			opacity: 0.6;
			background: url('%{media}/my/defaultTeamIco.svg') no-repeat center;
			background-size: cover;
		}
		.ttile .tn {
			font-size: 13px;
			color: #555;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			line-height: 32px;
		}
		.ttile:hover .tn {
			color: rgb(31, 93, 144);
		}
	}
	.footer {
		border-top: 1px solid #CCC;
		padding: 5px;
		color: #555;
		overflow: auto;
	}
	.footer .btn {
		background: linear-gradient(#FEFEFE, #f0f0f0);
		border: 1px solid #58585B;
		border-color: #cdced0 #c5c6c8 #b6b7b9;
		color: #555;
		padding: 3px 10px;
		line-height: 16px;
		cursor: pointer;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		margin: 0px 5px;
	}
	.footer .btn.dismiss {
		float: right;
	}
	.footer .btn.doc {
		float: right;
		background: linear-gradient(#BBE2B1, #B1DAA1);
		border: 1px solid #43B549;
	}
}