<div class="classChangelog">
	<ul class="informationList">
		<li class="infoItem version">
			<div class="infoName" data-literal='{"name":"lbl_changelog_version"}' />
			<div class="infoValue" />
		</li>
		<li class="infoItem time_updated">
			<div class="infoName" data-literal='{"name":"lbl_changelog_date_updated"}' />
			<div class="infoValue" />
		</li>
		<li class="infoItem time_created">
			<div class="infoName" data-literal='{"name":"lbl_changelog_date_created"}' />
			<div class="infoValue" />
		</li>
	</ul>
</div>