.developerPage {
	width: 100%;
	height: 100%;
}
.developerPage .middleContainer {
	width: 1000px;
	margin: 0 auto;
	overflow: auto;
}
.developerPage .mainContainer .logoSide {
	margin: 25px 0px;
	margin-left: 10px;
	height: 100px;
	float: left;
}
.developerPage .mainContainer .logoSide.center .textLogo {
	float: none;
	margin: 0 auto;
}
.developerPage .mainContainer h2.subTitle {
	clear: left;
	margin: 0;
	padding-top: 10px;
	font-weight: normal;
}
.developerPage section.main {
	width: 100%;
	height: 600px;
	position: relative;
	color: #FFF;
}
.developerPage section.main .dev .middleContainer {
	padding-top: 140px;
}
.developerPage section.main .dev {
	height: 100%;
	background: url('%resources%/frontend/apps_banner_flare.jpg') no-repeat center;
	background-size: cover;
}
.developerPage section.main .dev .fRight {
	width: 70%;
	float: right;
	overflow: auto;
}
.developerPage section.main .dev .beta {
	margin-top: 100px;
	color: #545454;
	text-align: center;
}
.developerPage section.main .dev .beta h3 {
	font-size: 14px;
}
.developerPage section.main .dev .beta a {
	padding: 9px 12px;
	margin-top: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: rgba(255, 255, 255, 0.8);
	color: #C00403;
	display: inline-block;
}
.developerPage section.main .dev .title {
	text-align: center;
	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
	text-shadow: 1px 1px 2px #333;
}
.developerPage section.main .dev .sub {
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	text-shadow: 1px 1px 2px #333;
}
.developerPage .navBar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 4px #555;
	line-height: 40px;
	padding: 10px 0px;
	z-index: 3;
}
.developerPage section.banner {
	width: 100%;
	position: relative;
	font-family: "Raleway","Helvetica Neue",Helvetica,"Myriad Pro","Lucida Grande",sans-serif;
	padding: 75px 0px;
}
.developerPage section.banner .title {
	font-weight: 100;
}
.developerPage section.banner h1.title {
	font-size: 32px;
	text-align: center;
}
.developerPage section.mvc {
	background: linear-gradient(rgb(213, 235, 251), rgb(150, 162, 197));
	background: -webkit-linear-gradient(rgb(213, 235, 251), rgb(150, 162, 197));
	background: -moz-linear-gradient(rgb(213, 235, 251), rgb(150, 162, 197));
}
.developerPage section.red {
	background: linear-gradient(rgb(150, 162, 197), rgb(175, 190, 235));
	background: -webkit-linear-gradient(rgb(150, 162, 197), rgb(175, 190, 235));
	background: -moz-linear-gradient(rgb(150, 162, 197), rgb(175, 190, 235));
}
.developerPage section.ftr {
	background: linear-gradient(rgb(175, 190, 235), #EFEFEF);
	background: -webkit-linear-gradient(rgb(175, 190, 235), #EFEFEF);
	background: -moz-linear-gradient(rgb(175, 190, 235), #EFEFEF);
}
.developerPage section.banner .imageContainer {
	width: 300px;
	height: 200px;
	margin: 0px 30px;
}
.developerPage section.banner .ban_desc {
	overflow: auto;
	padding: 10px 0px;
}
.developerPage section.banner .desc {
	font-weight: 100;
	font-size: 20px;
	line-height: 30px;
	padding: 30px 0px;
}
.developerPage section.banner.mvc .imageContainer {
	background: url('%resources%/developer/mvc.svg') no-repeat center;
	background-size: contain;
}
.developerPage section.banner.red .imageContainer {
	background: url('/Library/Media/c/global/splash.png') no-repeat center;
	background-size: contain;
}
.developerPage section.banner.lft .imageContainer {
	float: left;
}
.developerPage section.banner.rgt .imageContainer {
	float: right;
}

.developerPage section.ftr .features .fgrid {
	width: 999px;
	margin: 0 auto;
	overflow: auto;
}
.developerPage section.ftr .features .fgrid .gridrow {
	overflow: auto;
}
.developerPage section.ftr .features .fItem {
	float: left;
	width: 333px;
	height: 250px;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px;
	overflow: auto;
}
.developerPage section.ftr .features .fItem .ico {
	width: 75px;
	height: 75px;
	background: #FFF url('%resources%/developer/featureSprite_75.png');
	background-size: cover;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	opacity: 0.7;
	margin: 10px auto;
}
.developerPage section.ftr .features .fItem.values .ico {
	background-position: 0px 0px;
}
.developerPage section.ftr .features .fItem.web .ico {
	background-position: 0px -75px;
}
.developerPage section.ftr .features .fItem.projdev .ico {
	background-position: 0px -150px;
}
.developerPage section.ftr .features .fItem.space .ico {
	background-position: 0px -225px;
}
.developerPage section.ftr .features .fItem.apps .ico {
	background-position: 0px -300px;
}
.developerPage section.ftr .features .fItem.projft .ico {
	background-position: 0px -376px;
}
.developerPage section.ftr .features .fItem .sub {
	font-size: 12px;
	font-weight: 200;
	line-height: 18px;
}