<section class="footLinks section">
	<div class="middleContainer">
		<div class="rb">
			<div class="logo" />
			<h2 class="text">Application Center</h2>
			<div class="copyright">Redback Services &copy; <span class="y" /></div>
		</div>
		<div class="linkCol general">
			<h3 class="colHeader">Redback</h3>
			<div class="colList">
				<h4 class="listItem">
					<a data-href='{"domain":"www","page":"/"}' data-literal='{"name":"lbl_fl_gen_frontend"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"domain":"boss","page":"/"}' data-literal='{"name":"lbl_fl_gen_boss"}' target="_blank"/>
				</h4>
			</div>
		</div>
		<div class="linkCol dev">
			<h3 class="colHeader" data-literal='{"name":"lbl_fl_dev_header"}' />
			<div class="colList">
				<h4 class="listItem">
					<a data-href='{"domain":"developer","page":"/"}' data-literal='{"name":"lbl_fl_dev_apps"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"domain":"developer","page":"/docs/"}' data-literal='{"name":"lbl_fl_dev_docs"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"domain":"developer","page":"/support/"}' data-literal='{"name":"lbl_fl_dev_support"}' target="_blank"/>
				</h4>
			</div>
		</div>
	</div>
</section>