<div class="supportPage">
	<section class="banner">
		<div class="middleContainer">
			<div class="logoImg" />
			<div class="content">
				<h1 class="title" data-literal='{"name":"title"}' />
				<h2 class="subtitle" data-literal='{"name":"lbl_subtitle"}' />
				<p class="description" data-literal='{"name":"lbl_desc"}' />
			</div>
		</div>
		<div class="navBar" />
	</section>
	<section class="statusBar">
		<div class="middleContainer">
			<div class="statusIco" />
			<h3 class="statusDesc">
				<a target="_blank" data-href='{"domain":"developer","page":"/status/"}' />
			</h3>
			<div class="statusUpdated" />
		</div>
	</section>
</div>