<div class="forgotPassword">
	<div class="logo" />
	<div class="whiteBox">
		<div class="header">
			<div class="logo" />
			<div class="ltitle" data-literal='{"name":"title"}' />
		</div>
		<div class="formContainer main" />
		<div class="footer">
			<h4 class="login">
				<a data-href='{"domain":"www","page":"/login/"}' target="_self" data-literal='{"name":"lbl_loginPage"}' />
			</h4>
			<span> &bull; </span>
			<h4 data-literal='{"name":"lbl_securityTeam"}' />
		</div>
	</div>
	<div class="pgFooter">
		<div class="left">
			<span>DrovIO&trade; &copy; </span>
		</div>
		<div class="right">
			<a data-href='{"page":"/help/"}' data-literal='{"scope":"global.notifications.center","name":"helpCenter"}' target="_self" />
			<span> &bull; </span>
			<a data-href='{"domain":"www","page":"/profile/"}' class="locale" target="_self" />
		</div>
	</div>
</div>