<div class="mContent">
	<div class="cLeft">
		<div class='sideBox noDisplay'>
			<span>search</span>
		</div>
		<div class="sideBox actions">
			<div class="sbWrapper">
				<div class="header" data-literal='{"name":"lbl_actionList"}'></div>
				<div class="content">
					<div class="noActions" data-literal='{"name":"ntf_noActions"}'></div>
					<div class="actionList noDisplay ">
						<div class="actionRow status noDisplay">
							<div data-literal='{"name":"lbl_status"}'></div>
							<div class="selector"></div>
							<div data-literal='{"name":"btn_changeValue"}'></div>
						</div>
						<div class="actionRow delete">
							<div data-literal='{"name":"prmt_delete"}'></div>
							<div class="linkbtn delete" data-literal='{"name":"btn_delete"}'></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cMiddle">
		<div class="inner">
			<div class="nav"> 
				<div class="navBar"> 
					<div class="navTile allBugs selected" data-literal='{"name":"lbl_allBugs"}'></div>
					<div class="noDisplay navTile" data-literal='{"name":"lbl_myBugs"}'></div>
					<div class="navTile assignedBugs" data-literal='{"name":"lbl_assignedBugs"}'></div>
				</div>
			</div>
			<div id="bugListPanes">		
				<div id="allBugs" class="bugList"></div>
				<div id="assignedBugs" class="bugList noDisplay">
					<div class="noAssignedBugs msg_noContent" data-literal='{"name":"ntf_noAssignedBugs"}'></div>
				</div>
			</div>
		</div>
	</div>
	<div class="cRight">
		<div class="reportNew clickable" data-literal='{"name":"lbl_reportBug"}'></div>
	</div>
</div>