.developerConsole h3.header {
	margin: 0px;
	margin-bottom: 5px;
	color: #999;
}
.developerConsole .content {
	border: 1px solid rgba(166, 166, 166, 1);
	height: 200px;
	overflow: auto;
	margin-bottom: 15px;
}
.developerConsole .console .content {
	margin-bottom: 5px;
}
.developerConsole .console .controls {
	overflow: auto;
	margin-bottom: 15px;
}
.developerConsole #consoleSubmit {
	float: right;
}
.developerConsole .output .content .result {
	white-space: pre-wrap;
	padding: 5px;
	margin: 0px;
}