<div class="sidebar">
	<a data-href='{"domain":"developers","page":"/"}' target="_self" class="logo" />
	<div class="searchContainer">
		<div class="searchIco" />
		<input type="text" class="searchInput" placeholder="Search docs..." autofocus />
	</div>
	<div class="menuContainer open">
		<div class="sd-title" data-literal='{"name":"hd_menu_developerDocs"}' />
		<ul class="menu">
			<li class="menu-item welcome_page">
				<a target="_self" class="selected">Welcome Page</a>
			</li>
			<li class="menu-item getting_started">
				<a target="_self" >Getting Started</a>
			</li>
		</ul>
	</div>
</div>