<div class="navBar">
	<div class="inner">
		<div class="navTile modules" data-literal='{"name":"lbl_moduleManagement"}' />
		<div class="navTile privileges" data-literal='{"name":"lbl_userPrivileges"}' />
		<div class="navTile groups" data-literal='{"name":"lbl_userGroups"}' />
		<div class="navTile explorer" data-literal='{"name":"lbl_pageExplorer"}' />
	</div>
</div>
<div id="securitySections" class="mainContentHolder securitySections">
	<div id="moduleManagement" class="moduleManagement" />
	<div id="userPrivileges" class="userPrivileges" />
	<div id="userGroups" class="userGroups" />
	<div id="pageExplorer" class="pageExplorer" />
</div>