<div class="appCenterSidebar">
	<div class="sideMenuContainer">
		<div class="smenu main_menu">
			<a class="mitem all_apps selected" target="_self">
				<div class="ico" />
				<div class="title" data-literal='{"name":"lbl_sidenav_allApps"}' />
			</a>
		</div>
		<div class="sseparator" />
		<div class="smenu cat_menu">
			<a class="mitem all_categories" target="_self">
				<div class="ico" />
				<div class="title" data-literal='{"name":"lbl_sidenav_allCategories"}' />
			</a>
			<a class="mitem games" target="_self">
				<div class="ico" />
				<div class="title" data-literal='{"name":"lbl_sidenav_games"}' />
			</a>
			<a class="mitem tools" target="_self">
				<div class="ico" />
				<div class="title" data-literal='{"name":"lbl_sidenav_tools"}' />
			</a>
		</div>
		<div class="sseparator" />
		<div class="sessionApps" />
		<div class="loginOuterContainer">
			<div class="sseparator" />
			<div class="loginContainer">
				<div class="login" data-literal='{"name":"lbl_sidenav_login"}' />
			</div>
		</div>
	</div>
	<div class="adContainer">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle"
		     style="display:inline-block;width:300px;height:250px"
		     data-ad-client="ca-pub-5669452708687738"
		     data-ad-slot="3467064208"></ins>
		<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
	</div>
</div>