<div class="securityManager">
	<section class="headBar">
		<div class="navBar">
			<div class="navTitle modules selected" data-literal='{"name":"lbl_navitem_modules"}' />
			<div class="navTitle privileges" data-literal='{"name":"lbl_navitem_privileges"}' />
			<div class="navTitle explorer" data-literal='{"name":"lbl_navitem_explorer"}' />
			<div class="navTitle accounts" data-literal='{"name":"lbl_navitem_accounts"}' />
		</div>
		
	</section>
	<div id="scmContainer" class="editorPanes" />
</div>