<footer>
	<div class="footer__dark">
		<div class=" middleContainer">
			<div class="footer__copyright">Copyright 2015 <a href="http://drov.io/">Drovio Ltd</a>. All Rights Reserved.</div>
			<div class="footer__social">
				<a href="https://www.facebook.com/DrovioSmart" target="_blank" class="ftr_social fb" />
				<a href="https://twitter.com/DrovioID" target="_blank" class="ftr_social twitter" />
				<a href="https://www.google.com/+DrovIo" target="_blank" class="ftr_social gplus" />
			</div>
			<div class="footer__info">Contact us at <a href="mailto:hello@drov.io">hello@drov.io</a>, London UK</div>
		</div>
	</div>
</footer>