<div id="TwoColumnsLeftSidebarCentered" class="uiPageLayout">
	<div id="TwoColumnsLeftSidebarCentered_sidebar" class="uiMainSideNav">
		<div class="side_header" data-literal='{"name":"hd_globalSettings"}' />
		<ul class="side_menu">
			<li class="menu_item general selected" data-literal='{"name":"lbl_generalSettings"}' />
			<li class="menu_item security" data-literal='{"name":"lbl_securitySettings"}' />
		</ul>
		<div class="side_header" data-literal='{"name":"hd_developerSettings"}' />
		<ul class="side_menu">
			<li class="menu_item keys" data-literal='{"name":"lbl_apiKeys"}' />
		</ul>
	</div>
	<div id="TwoColumnsLeftSidebarCentered_mainContent" class="uiMainContent settingsContainer" />
</div>