<div class="developerPlanDialog">
	<div class="pheader">
		<div class="close_button" />
		<div class="logo" />
		<div class="title" data-literal='{"name":"hd_editProjectIcon"}' />
	</div>
	<div class="pbody">
		<div class="title" />
		<div class="description" />
	</div>
	<div class="features">
		<div class="ft free basic premium enterprise" data-literal='{"name":"lbl_unlimitedProjects"}' />
		<div class="ft free basic premium enterprise" data-literal='{"name":"lbl_unlimitedUsers"}' />
		<div class="ft basic premium enterprise" data-literal='{"name":"lbl_adFree"}' />
		<div class="ft premium enterprise" data-literal='{"name":"lbl_dataCenter"}' />
		<div class="ft premium enterprise" data-literal='{"name":"lbl_advancedAnalitics"}' />
		<div class="ft premium enterprise" data-literal='{"name":"lbl_premiumSDK"}' />
		<div class="ft enterprise" data-literal='{"name":"lbl_retailSDK"}' />
	</div>
</div>