<div class="newDialog">
	<div class="sidebar" />
	<div id="mainDialog" class="main">
		<div id="ws_newLibrary" class="dlgContainer library">
			<h4 data-literal='{"name":"lbl_createNewLibrary"}' />
			<div class="formContainer" />
		</div>
		<div id="ws_newPackage" class="dlgContainer package">
			<h4 data-literal='{"name":"lbl_createNewPackage"}' />
			<div class="formContainer" />
		</div>
		<div id="ws_newNamespace" class="dlgContainer namespace">
			<h4 data-literal='{"name":"lbl_createNewNamespace"}' />
			<div class="formContainer" />
		</div>
		<div id="ws_newObject" class="dlgContainer object">
			<h4 data-literal='{"name":"lbl_createNewObject"}' />
			<div class="formContainer" />
		</div>
	</div>
</div>