<div class="websiteSettings">
	<div class="middleContainer">
		<div class="header" data-literal='{"name":"hd_websiteSettings"}' />
		<ul class="menu">
			<li class="menu_item generic selected" data-literal='{"name":"lbl_menu_genericSettings"}' />
			<li class="menu_item meta" data-literal='{"name":"lbl_menu_metaSettings"}' />
			<li class="menu_item servers" data-literal='{"name":"lbl_menu_servers"}' />
		</ul>
		<div id="settingsEditorHolder" class="whiteBox" />
	</div>
</div>

<!--
<div class="websiteSettings">
	<div class="navSidebar">
		<div class="navSection projectSettings">
			<div class="sectionHeader" data-literal='{"name":"hd_websiteSettings"}' />
			<div class="sectionContent">
				<div class="menuItem generic" data-literal='{"name":"lbl_genericInfo"}' />
				<div class="menuItem meta" data-literal='{"name":"lbl_metaSettings"}' />
			</div>
		</div>
		<div class="navSection serversList">
			<div class="sectionHeader" data-literal='{"name":"hd_serversSettings"}' />
			<div class="sectionContent">
				<div class="menuItem newServer" data-literal='{"name":"lbl_newServer"}' />
			</div>
		</div>
		<div class="navSection advancedSettings">
			<div class="sectionHeader" data-literal='{"name":"hd_advancedSettings"}' />
			<div class="sectionContent">
				<div class="menuItem advanced">
					<a target="_blank" data-literal='{"name":"lbl_projectSettings"}' />
				</div>
			</div>
		</div>
	</div> 
	<div id="settingsEditorHolder" class="settingsEditorHolder" />
</div>-->