<div class="platformStatus">
	<section class="header">
		<div class="middleContainer">
			<h1 class="wtitle" data-literal='{"name":"title"}' />
		</div>
		<div class="navBar" />
	</section>
	<div class="middleContainer">
		<div class="statusInfo">
			<div class="framework infoBox">
				<div class="sectionHeader">
					<h4 data-literal='{"name":"lbl_publisherHeader"}' />
				</div>
				<div class="content" />
			</div>
			<div class="issues infoBox">
				<div class="sectionHeader">
					<h4 data-literal='{"name":"lbl_issuesHeader"}' />
				</div>
				<div class="content">
					<p data-literal='{"name":"lbl_noIssues"}' />
				</div>
			</div>
		</div>
	</div>
</div>