.projectOverviewPage .header {
	overflow: auto;
	border-bottom: 1px solid #EEE;
	padding: 20px 0px;
}
.projectOverviewPage .header .projectImage {
	float: left;
	width: 150px;
	height: 150px;
	border: 1px solid rgba(166, 166, 166, 1);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0px 30px;
}
.projectOverviewPage .header .projectTitle {
	color: #C00403;
	margin: 15px 0px;
}
.projectOverviewPage .header .projectName {
	font-size: 14px;
	margin-left: 10px;
	color: #000;
}
.projectOverviewPage .header .projectDescription {
	color: #888;
}
.projectOverviewPage .header .projectActions {
	float: right;
	margin: 10px;
	color: #999;
}
.projectOverviewPage .header .projectActions a {
	color: inherit;
}
.projectOverviewPage .header .action {
	cursor: pointer;
	padding: 0px 5px;
	float: right;
	font-weight: bold;
}
.projectOverviewPage .header .action.editInfoBtn {
	font-weight: normal;
}
.projectOverviewPage .header .action.publisherBtn {
	color: green;
}
.projectOverviewPage .header .action:hover {
	color: #C00403;
}
.projectOverviewPage .header .projectStatus {
	clear: both;
	overflow: auto;
	padding-top: 10px;
}
.projectOverviewPage .header .projectStatus .statusIcon {
	float: left;
	width: 19px;
	height: 19px;
	background: url('/Library/Media/images/icons/19x19/notifications.svg') no-repeat center;
	margin-right: 10px;
}
.projectOverviewPage .header .projectStatus.uc .statusIcon {
	background-position: -38px 0px;
}
.projectOverviewPage .header .projectStatus.ur .statusIcon {
	background-position: 0px 0px;
}
.projectOverviewPage .header .projectStatus.pub .statusIcon {
	background-position: -19px 0px;
}
.projectOverviewPage .header .projectStatus.in .statusIcon {
	background-position: -57px 0px;
}
.projectOverviewPage .header .projectStatus .statusTitle {
	line-height: 19px;
	float: left;
	margin: 0px;
}
.projectOverviewPage .header .projectStatus.uc .statusTitle {
	color: orange;
}
.projectOverviewPage .header .projectStatus.ur .statusTitle {
	color: blue;
}
.projectOverviewPage .header .projectStatus.pub .statusTitle {
	color: green;
}
.projectOverviewPage .header .projectStatus.in .statusTitle {
	color: red;
}
.projectOverviewPage .nav {
	overflow: auto;
	width: 900px;
	margin: 20px auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.projectOverviewPage .nav .navBox {
	width: 150px;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #CCC;
	border-right: none;
}
.projectOverviewPage .nav .navBox:last-child {
	border-right: 1px solid #CCC;
}
.projectOverviewPage .nav .navBox .title {
	background: #EEE;
	border-bottom: 1px solid #DDD;
	margin: 0px;
	padding: 5px 8px;
	text-align: center;
}
.projectOverviewPage .nav .navBox .title a {
	color: #777;
}
.projectOverviewPage .nav .navBox .title a:hover {
	color: #C00403;
}
.projectOverviewPage .nav .navBox .img {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	padding: 10px;
}
.projectOverviewPage .issuesMembers {
	overflow: auto;
}
.projectOverviewPage .infoBox {
	width: 479px;
	margin: 0px 5px;
	float: left;
	border: 1px solid rgba(166, 166, 166, 0.5);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.projectOverviewPage .infoBox h3.title {
	color: #C00403;
	padding: 5px 8px;
	margin: 0px;
	border-bottom: 1px solid rgba(166, 166, 166, 0.5);
	background-color: rgba(166, 166, 166, 0.2);
}
.projectOverviewPage .infoBox .infoList {
	padding: 5px;
	max-height: 150px;
	overflow: auto;
}
.projectOverviewPage .infoBox .infoList h4 {
	margin: 0px;
	padding: 5px;
}
.projectOverviewPage .infoBox .infoList h4 a {
	color: #656565;
}
.projectOverviewPage .infoBox .infoList h4 a:hover {
	color: #C00403;
}
.projectOverviewPage .projectMembers .manage {
	float: right;
	color: #777;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 8px;
}
.projectOverviewPage .projectMembers .manage:hover {
	color: green;
}
.projectOverviewPage .projectReports {
	float: none;
	width: auto;
	clear: both;
	margin-top: 20px;
}