<div class="adminHome sidebarContainer openSidebar">
	<div class="admin-navbar">
		<div class="bar">
			<div class="sideNav">
				<div class="icon" />
			</div>
			<div class="adminInfoContainer">
				<div class="logo" />
				<h1 class="title" data-literal='{"name":"title"}' />
			</div>
		</div>
	</div>
	<div class="admin-sidebar">
		<ul class="adminMenu">
			<li class="menuItem pages">
				<a target="_self" >
					<span class="ico" />
					<span class="reload" />
					<h3 class="title" data-literal='{"name":"lbl_adminPages"}' />
				</a>
			</li>
			<li class="menuItem cdn">
				<a target="_self" >
					<span class="ico" />
					<span class="reload" />
					<h3 class="title" data-literal='{"name":"lbl_adminCdn"}' />
				</a>
			</li>
			<li class="divider" />
			<li class="menuItem settings">
				<a target="_self" >
					<span class="ico" />
					<span class="reload" />
					<h3 class="title" data-literal='{"name":"lbl_adminSettings"}' />
				</a>
			</li>
			<li class="menuItem security">
				<a target="_self" >
					<span class="ico" />
					<span class="reload" />
					<h3 class="title" data-literal='{"name":"lbl_adminSecurity"}' />
				</a>
			</li>
			<li class="divider" />
			<li class="menuItem market">
				<a target="_self" >
					<span class="ico" />
					<span class="reload" />
					<h3 class="title" data-literal='{"name":"lbl_adminMarket"}' />
				</a>
			</li>
		</ul>
	</div>
	<div id="adminContainer" class="adminContent admin-content" />
</div>