<div class="viewOptions">
	<div class="filters">
		<div class="all tile selected" data-literal='{"name":"lbl_all"}'></div>
		<div class="solved tile" data-literal='{"name":"lbl_solved"}'></div>
		<div class="rejected tile" data-literal='{"name":"lbl_rejected"}'></div>
	</div>
	<div class="sorting">
		<div class="sortOptions">
			<div class="date tile selected" data-literal='{"name":"lbl_date"}'></div>
			<div class="priority tile" data-literal='{"name":"lbl_priority"}'></div>
			<div class="severity tile" data-literal='{"name":"lbl_severity"}'></div>
		</div>
		<div class="sortOrder noDisplay">asc|dsc</div>
	</div>
</div>
<div class="issue-summary itemTemplate narrow">
	<div class="itemMeta noDisplay"></div>
	<div class="cursor-default">
		<div class="mini-box left">
			<div class="mini-badges"><span></span></div>
			<div data-literal='{"name":"lbl_status"}'></div>
		</div>
		<div class="mini-box middle">
			<div class="mini-badges"><span></span></div>
			<div data-literal='{"name":"lbl_priority"}'></div>
		</div>
		<div class="mini-box right severity ">
			<div class="mini-badges"><span></span></div>
			<div data-literal='{"name":"lbl_severity"}'></div>
		</div>
		<div class="summary">
			<div class="tRow">
				<div class="clickable title"></div>
				<div class="noDisplay clickable editBtn" data-literal='{"name":"btn_edit"}'></div>
				<div class="noDisplay clickable deselectBtn" data-literal='{"name":"btn_deselect"}'></div>
			</div>
			<div class="tags"></div>
			<div class="started">
				<div class="started-link"><span></span></div>
				<div class="reporter-id"><span></span></div>
			</div>
		</div>
	</div>
</div>
<div class="itemsHolder">
</div>