<div class="frontendPage">
	<section class="mainContainer">
		<div class="middleContainer">
			<div class="imageLogo" />
			<div class="logoSide">
				<div class="textLogo" />
				<h2 class="subTitle" />
			</div>
			<section class="headLinks">
				<div class="discover panel">
					<h2 class="title" />
					<h3 class="subtitle" />
				</div>
				<div class="careers panel">
					<h2 class="title" />
					<h3 class="subtitle" />
				</div>
			</section>
			<section class="socialBar">
				<div class="socialButtons">
					<a href="https://www.facebook.com/RedbackServices" target="_blank" class="socialBtn socialFb"></a>
					<a href="https://plus.google.com/105789862409123100571" target="_blank" class="socialBtn socialGp"></a>
					<a href="https://twitter.com/RedbackSrv" target="_blank" class="socialBtn socialTt"></a>
				</div>
				<h3 class="socialText" />
			</section>
		</div>
	</section>
	<section class="engines">
		<div class="middleContainer">
			<div class="engineBox app">
				<div class="boxImage" />
				<h2 class="boxTitle" />
				<p class="boxSub" />
			</div>
			<div class="engineBox web">
				<div class="boxImage" />
				<h2 class="boxTitle" />
				<p class="boxSub" />
			</div>
			<div class="engineBox boss">
				<div class="boxImage" />
				<h2 class="boxTitle" />
				<p class="boxSub" />
			</div>
		</div>
	</section>
	<section class="international">
		<div class="middleContainer">
			<div class="intLogo" />
			<h2 class="title" />
			<h4 class="subtitle" />
		</div>
	</section>
	<section class="footLinks">
		<div class="middleContainer">
			<div class="linkCol general">
				<h3 class="colHeader" />
				<div class="colList">
					<h4 class="listItem" />
					<h4 class="listItem" />
					<h4 class="listItem" />
					<h4 class="listItem" />
				</div>
			</div>
			<div class="linkCol social">
				<h3 class="colHeader" />
				<div class="colList">
					<h4 class="listItem" />
					<h4 class="listItem" />
					<h4 class="listItem" />
				</div>
			</div>
			<div class="linkCol dev">
				<h3 class="colHeader" />
				<div class="colList">
					<h4 class="listItem" />
					<h4 class="listItem" />
					<h4 class="listItem" />
					<h4 class="listItem" />
				</div>
			</div>
		</div>
	</section>
</div>