.coreConfigurator {
	height: 100%;
}

.coreConfigurator .configTabs {
	height: 100%;
}
.coreConfigurator .tabs {
	float: left;
	width: 20%;
	list-style: none;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 100%;
	border-right: 1px solid #CCC;
	background: #EEE;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.coreConfigurator .tabs .navTab {
	list-style: none;
	vertical-align: middle;
	margin: 0px;
	padding: 5px 8px;
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #5E6570;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.coreConfigurator .tabs .navTab:hover, .coreConfigurator .tabs .navTab.selected {
	color: #FFF;
	background: #5E6570;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.coreConfigurator .tabs .navTab span {
	display: block;
	line-height: 20px;
}
.coreConfigurator .pages {
	float: left;
	width: 80%;
	height: 100%;
}

.coreConfigurator .pages .page {
	padding: 5px;
	overflow: auto;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.coreConfigurator .pages .switchRow {
	width: 50%;
	display: block;
	overflow: auto;
	padding: 5px 10px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.coreConfigurator .pages .switchRow.ajax, .coreConfigurator .pages .switchRow.logger, .coreConfigurator .pages .switchRow.sql {
	float: left;
}

.coreConfigurator .pages .testerPanel .packageConfigurator {
	padding: 5px;
}

.coreConfigurator .pages .testerPanel .packageConfigurator h4 {
	margin: 3px 5px;
}

.coreConfigurator .pages .testerPanel .packageList {
	height: 200px;
}

.coreConfigurator .pages .switchRow > span {
	float: left;
	min-width: 150px;
	padding-right: 10px;
}

.coreConfigurator .pages .switchRow > .uiSwitchButton {
	float: right;
}

.coreConfigurator .pages .switchRow .inps_tester {
	float: right;
}

.coreConfigurator .pages .packageConfigurator {
	clear: both;
}

.coreConfigurator .pages #logViewer {
	height: 280px;
	overflow: auto;
}
.coreConfigurator .resourceProfiler {
	padding: 10px;
}

.coreConfigurator .resourceProfiler .resourceListContainer {
	border: 1px solid rgba(166, 166, 166, 0.5);
	height: 290px;
	overflow: auto;
}

.coreConfigurator .resourceProfiler .resourceListContainer .cssResources {
	border-bottom: 1px solid rgba(166, 166, 166, 0.5);
}

.coreConfigurator .resourceProfiler .resourceListContainer .bootResource {
	list-style: none;
	padding: 3px;
	margin: 0px;
	line-height: 16px;
}

.coreConfigurator .resourceProfiler .resourceListContainer .bootResource:nth-child(even) {
	background-color: #EEE;
}

.coreConfigurator .resourceProfiler .bootResource .rsrcIco {
	display: inline-block;
	float: left;
	height: 16px;
	width: 16px;
	background: url('%resources%/developer/icons/fileThumbs.svg') no-repeat;
	background-size: 16px;
	margin: 0px 10px;
}

.coreConfigurator .resourceProfiler .resourceListContainer .cssResources .bootResource .rsrcIco {
	background-position: 0px -80px;
}

.coreConfigurator .resourceProfiler .resourceListContainer .jsResources .bootResource .rsrcIco {
	background-position: 0px -64px;
}

.coreConfigurator .resourceProfiler .bootResource .rsrcUrl {
	width: 70%;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.coreConfigurator .resourceProfiler .bootResource .rsrcReload, .coreConfigurator .resourceProfiler .bootResource .rsrcRemove {
	width: 10%;
	color: blue;
	cursor: pointer;
	text-align: center;
	display: inline-block;
}