<div class="publicProject">
	<div class="middleContainer">
		<div class="sidebar">
			<div class="appIcon" />
			<ul class="pnavigation">
				<li class="navitem readme selected" data-literal='{"name":"lbl_nav_readme"}'>
					<div class="ico" />
				</li>
				<li class="navitem reviews private" data-literal='{"name":"lbl_nav_reviews"}'>
					<div class="ico" />
				</li>
			</ul>
			<ul class="pnavigation">
				<a data-href='{"domain":"developers","page":"/dashboard"}' target="_self" class="navitem create" data-literal='{"name":"lbl_create_project"}'>
					<div class="ico" />
				</a>
				<a data-href='{"domain":"developers","page":"/docs/open_projects"}' target="_self" class="navitem public_projects" data-literal='{"name":"lbl_about_public_projects"}'>
					<div class="ico" />
				</li>
			</ul>
		</div>
		<div class="mainbody">
			<a target="_self" data-literal='{"name":"lbl_play"}' class="wbutton appcenter" />
			<div class="projectTitle" />
			<div id="sectionContainer" class="sectionbody" />
		</div>
	</div>
	<div class="navBar" />
</div>