<div class="bossDashboard">
	<div class="apps_pool" />
	<div class="apps_grid">
		<div class="thm th06">
			<div class="bg" />
			<div class="clr" />
		</div>
		<div class="slideContainer loading">
			<div class="slides">
				<div class="noApps">
					<h1 data-literal='{"name":"lbl_noApps"}' />
				</div>
				<div class="teamChooser">
					<div class="teams">
						<h2 class="htitle" data-literal='{"name":"lbl_teamChooser"}' />
						<h3 class="htitle noteam" data-literal='{"name":"lbl_noTeams"}' />
					</div>
					<div class="create_new">
						<a data-href='{"domain":"my","page":"/relations/"}' target="_blank">
							<h2 class="htitle" data-literal='{"name":"lbl_createTeam"}' />
						</a>
					</div>
				</div>
			</div>
			<div class="navBar">
				<ul class="navBalls" />
			</div>
		</div>
	</div>
	<div class="dashInfo">
		<h1 class="title" />
	</div>
	<div class="footerMenu">
		<span class="faded">Redback&trade; Business OSS &copy; 2014</span>
		<span> • </span>
		<a data-href='{"page":"/help/legal/terms.php"}' data-literal='{"name":"lbl_footer_terms"}' target="_blank" />
		<span> • </span>
		<a data-href='{"page":"/help/privacy/"}' data-literal='{"name":"lbl_footer_privacy"}' target="_blank" />
		<span> • </span>
		<a data-href='{"page":"/help/boss/"}' data-literal='{"name":"lbl_footer_help"}' target="_blank" />
	</div>
</div>