<div class="pricingPlans">
	<div class="navBar" />
	<div class="main">
		<div class="middleContainer">
			<h1 class="phd" data-literal='{"name":"hd_pageTitle"}' />
			<h2 class="phd" data-literal='{"name":"hd_pageSub"}' />
			<div class="plans">
				<div class="plan descriptions">
					<div class="plheader" />
					<div class="plbody">
						<div class="plitem" data-literal='{"name":"lbl_desc_price"}' />
						<div class="plitem" data-literal='{"name":"lbl_desc_members"}' />
						<div class="plitem" data-literal='{"name":"lbl_desc_projects"}' />
						<div class="plitem" data-literal='{"name":"lbl_desc_ads"}' />
						<div class="plitem" data-literal='{"name":"lbl_desc_database"}' />
						<div class="plitem" data-literal='{"name":"lbl_desc_analytics"}' />
						<div class="plitem" data-literal='{"name":"lbl_desc_premium_sdk"}' />
						<div class="plitem" data-literal='{"name":"lbl_desc_retail_sdk"}' />
					</div>
				</div>
				<div class="pricing">
					<div class="plan free">
						<div class="plheader">
							<div class="hd" data-literal='{"name":"lbl_plan_free"}' />
						</div>
						<div class="plbody">
							<div class="plitem" data-literal='{"name":"lbl_desc_price_free_value"}' />
							<div class="plitem" data-literal='{"name":"lbl_unlimited"}' />
							<div class="plitem" data-literal='{"name":"lbl_unlimited"}' />
							<div class="plitem red">&#x02717;</div>
							<div class="plitem red">&#x02717;</div>
							<div class="plitem red">&#x02717;</div>
							<div class="plitem red">&#x02717;</div>
							<div class="plitem red">&#x02717;</div>
							<div class="plitem last" data-literal='{"name":"lbl_coming_soon"}' />
						</div>
					</div>
					<div class="plan basic">
						<div class="plheader">
							<div class="hd" data-literal='{"name":"lbl_plan_basic"}' />
						</div>
						<div class="plbody">
							<div class="plitem" data-literal='{"name":"lbl_desc_price_basic_value"}' />
							<div class="plitem" data-literal='{"name":"lbl_unlimited"}' />
							<div class="plitem" data-literal='{"name":"lbl_unlimited"}' />
							<div class="plitem green">&#x02713;</div>
							<div class="plitem red">&#x02717;</div>
							<div class="plitem red">&#x02717;</div>
							<div class="plitem red">&#x02717;</div>
							<div class="plitem red">&#x02717;</div>
							<div class="plitem last" data-literal='{"name":"lbl_coming_soon"}' />
						</div>
					</div>
					<div class="plan premium">
						<div class="plheader">
							<div class="hd" data-literal='{"name":"lbl_plan_premium"}' />
						</div>
						<div class="plbody">
							<div class="plitem" data-literal='{"name":"lbl_desc_price_premium_value"}' />
							<div class="plitem" data-literal='{"name":"lbl_unlimited"}' />
							<div class="plitem" data-literal='{"name":"lbl_unlimited"}' />
							<div class="plitem green">&#x02713;</div>
							<div class="plitem" data-literal='{"name":"lbl_db_upto5"}' />
							<div class="plitem green">&#x02713;</div>
							<div class="plitem green">&#x02713;</div>
							<div class="plitem red">&#x02717;</div>
							<div class="plitem last" data-literal='{"name":"lbl_coming_soon"}' />
						</div>
					</div>
					<div class="plan enterprise">
						<div class="plheader">
							<div class="hd" data-literal='{"name":"lbl_plan_enterprise"}' />
						</div>
						<div class="plbody">
							<div class="plitem" data-literal='{"name":"lbl_desc_price_enterprise_value"}' />
							<div class="plitem" data-literal='{"name":"lbl_unlimited"}' />
							<div class="plitem" data-literal='{"name":"lbl_unlimited"}' />
							<div class="plitem green">&#x02713;</div>
							<div class="plitem" data-literal='{"name":"lbl_db_upto20"}' />
							<div class="plitem green">&#x02713;</div>
							<div class="plitem green">&#x02713;</div>
							<div class="plitem green">&#x02713;</div>
							<div class="plitem last" data-literal='{"name":"lbl_coming_soon"}' />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--	<div class="sections">
		<div class="middleContainer">
			<div class="srow">
				<div class="title" data-literal='{"name":"lbl_section_db_title"}' />
				<div class="description" data-literal='{"name":"lbl_section_db_desc"}' />
			</div>
			<div class="srow">
				<div class="title" data-literal='{"name":"lbl_section_analytics_title"}' />
				<div class="description" data-literal='{"name":"lbl_section_analytics_desc"}' />
			</div>
			<div class="srow">
				<div class="title" data-literal='{"name":"lbl_section_premiumsdk_title"}' />
				<div class="description" data-literal='{"name":"lbl_section_premiumsdk_desc"}' />
			</div>
			<div class="srow">
				<div class="title" data-literal='{"name":"lbl_section_retailsdk_title"}' />
				<div class="description" data-literal='{"name":"lbl_section_retailsdk_desc"}' />
			</div>
		</div>
	</div>-->
</div>