<div class="resetPwPage">
	<div class="whiteBox">
		<div class="header">
			<div class="lside">
				<div class="logo" />
				<h2 class="text">Redback</h2>
			</div>
			<div class="small" data-literal='{"name":"title"}' />
		</div>
		<div class="main">
			<div class="leftSide side">
				<h3 class="title" data-literal='{"name":"lbl_backToLogin"}'/>
				<h4 class="sub" data-literal='{"name":"lbl_loginSub"}'/>
				<div class="rcont">
					<div id="rsession" class="rocnt selected">
						<a class="ricnt" data-literal='{"name":"lbl_loginPage"}' data-href='{"domain":"login","page":"/"}' target="_self" />
					</div>
				</div>
			</div>
			<div class="side formInputContainer" />
		</div>
		<div class="footer">
			<h4 data-literal='{"name":"lbl_securityTeam"}' />
		</div>
	</div>
	<div class="pgFooter">
		<div class="left">
			<span>Redback&trade; &copy; </span>
		</div>
		<div class="right">
			<a data-href='{"page":"/help/"}' data-literal='{"scope":"global::notifications::center","name":"helpCenter"}' />
			<span> &bull; </span>
			<a data-href='{"domain":"my","page":"/settings/"}' class="locale" target="_blank" />
		</div>
	</div>
</div>