<div class="adminOverview">
	<div class="middleContainer">
		<section class="box people">
			<div class="header">
				<div class="ico photoContainer" />
				<div class="title" data-literal='{"name":"hd_peopleOverview"}' />
				<div class="total count">0</div>
			</div>
			<div class="info">
				<div class="info_row admin">
					<div class="count">0</div>
					<div class="label" data-literal='{"name":"lbl_accounts_admin"}' />
				</div>
				<div class="info_row managed">
					<div class="count">0</div>
					<div class="label" data-literal='{"name":"lbl_accounts_managed"}' />
				</div>
				<div class="info_row persons">
					<div class="count">0</div>
					<div class="label" data-literal='{"name":"lbl_accounts_persons"}' />
				</div>
			</div>
		</section>
		<section class="box projects">
			<div class="header">
				<div class="ico" />
				<div class="title" data-literal='{"name":"hd_projectsOverview"}' />
				<div class="total count">0</div>
			</div>
			<div class="info">
				<div class="info_row apps">
					<div class="count">0</div>
					<div class="label" data-literal='{"name":"lbl_projects_apps"}' />
				</div>
				<div class="info_row websites">
					<div class="count">0</div>
					<div class="label" data-literal='{"name":"lbl_projects_websites"}' />
				</div>
				<div class="info_row open">
					<div class="count">0</div>
					<div class="label" data-literal='{"name":"lbl_projects_open"}' />
				</div>
			</div>
		</section>
		<section class="box teams">
			<div class="header">
				<div class="ico" />
				<div class="title" data-literal='{"name":"hd_teamsOverview"}' />
				<div class="total count">0</div>
			</div>
			<div class="info">
				<div class="info_row companies">
					<div class="count">0</div>
					<div class="label" data-literal='{"name":"lbl_teams_companies"}' />
				</div>
			</div>
		</section>
	</div>
</div>