.marketReview {
	overflow: auto;
}

.marketReview .middleContainer {
	margin: 10px 20px;
	overflow: auto;
}

.marketReview .wbutton {
	float: right;
	margin: 10px;
	width: 150px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #3CB0F7;
	border: 1px solid #3CB0F7;
	color: #FFF;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
	padding: 5px 10px;
	line-height: 18px;
	text-align: center;
	font-size: 12px;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.marketReview .wbutton:hover {
	background: transparent;
	color: #3CB0F7;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.marketReview .header {
	font-size: 16px;
	color: #5E6570;
	margin: 10px;
	line-height: 30px;
}

.marketReview .whiteBox {
	clear: both;
	padding: 10px;
	overflow: auto;
	background: #FFF;
	border: 1px solid #CCC;
	position: absolute;
	top: 60px;
	bottom: 20px;
	left: 20px;
	right: 20px;
}
.marketReview .project_tile {
	padding: 0px 10px;
	overflow: auto;
	border-bottom: 1px solid #CCC;
}

.marketReview .project_tile:last-child {
	border-bottom: none;
}

.marketReview .project_tile .release_details {
	overflow: auto;
	padding: 10px 0px;
}

.marketReview .project_tile .ico {
	float: left;
	width: 50px;
	height: 50px;
	display: block;
	margin: 0px 15px;
	margin-right: 25px;
}

.marketReview .project_tile .ico img {
	width: inherit;
	height: inherit;
}
.marketReview .project_tile .project_info {
	float: left;
}

.marketReview .project_tile .project_info .title {
	font-weight: normal;
	font-size: 12px;
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;
	color: #555;
}

.marketReview .project_tile .project_info .info {
	color: #999;
	font-size: 10px;
	margin: 3px 0px;
}

.marketReview .project_tile .changelog {
	overflow: auto;
	white-space: pre-wrap;
	font-size: 11px;
	line-height: 18px;
	color: #777;
	padding: 0px 25px;
	padding-right: 70px;
}
.marketReview .project_tile .releaseStatus {
	float: right;
	overflow: auto;
}

.marketReview .project_tile .releaseStatus .status {
	overflow: auto;
	border-bottom: 1px solid #CCC;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.marketReview .project_tile .releaseStatus .st_ico {
	display: block;
	width: 24px;
	height: 24px;
	float: right;
	background: url('%{media}/global/ui/notification.svg') no-repeat center;
	background-size: cover;
	margin-left: 10px;
}

.marketReview .project_tile .releaseStatus.st1 .st_ico {
	background-position: 0px -48px;
}

.marketReview .project_tile .releaseStatus.st2 .st_ico {
	background-position: 0px 0px;
}

.marketReview .project_tile .releaseStatus.st3 .st_ico, .marketReview .project_tile .releaseStatus.st4 .st_ico {
	background-position: 0px -24px;
}

.marketReview .project_tile .releaseStatus .st_title {
	float: right;
	line-height: 24px;
}

.marketReview .project_tile .releaseStatus .dl_button, .marketReview .project_tile .releaseStatus .rv_button {
	float: right;
	clear: right;
	padding: 5px 0px;
	color: #777;
	cursor: pointer;
}

.marketReview .project_tile .releaseStatus .dl_button:hover {
	color: #555;
}

.marketReview .project_tile .releaseStatus .rv_button:hover, .marketReview .project_tile.review .releaseStatus .rv_button {
	color: #555;
}

.marketReview .project_tile .review_details {
	display: none;
	border-top: 1px solid #DDD;
	padding: 10px 0px;
	clear: both;
}

.marketReview .project_tile.review .review_details {
	display: block;
}
.marketReview .project_tile .review_details .review_title {
	font-size: 12px;
	color: #555;
}

.marketReview .project_tile .review_details .review_comments {
	color: #999;
	line-height: 16px;
}