<div class="sdkManual">
	<div class="middleContainer">
		<div class="sidebar">
			<div class="sdkIcon" />
			<ul class="pnavigation">
				<li class="navitem cinfo selected" data-literal='{"name":"lbl_man_classInfo"}' />
				<li class="navitem cref" data-literal='{"name":"lbl_man_classSynopsis"}' />
				<li class="navitem manual" data-literal='{"name":"lbl_man_classManual"}' />
				<li class="navitem changelog" data-literal='{"name":"lbl_man_changelog"}' />
				<li class="navitem similar" data-literal='{"name":"lbl_man_similarObjects"}' />
				<li class="navitem permissions" data-literal='{"name":"lbl_man_appPermissions"}' />
			</ul>
		</div>
		<div class="mainbody">
			<h1 class="className" />
			<div id="bodyDetailsContainer" class="sectionbody" />
		</div>
	</div>
</div>