<div class="platformStatus">
	<div class="dev-sidebar" />
	<div class="dev-mainpage">
		<div class="navbar" />
		<div class="docContainer">
			<div class="middleContainer">
				<div class="header" data-literal='{"name":"hd_platformStatus"}' />
				<ul class="menu">
					<li class="menu_item status selected" data-literal='{"name":"lbl_menu_status"}' />
					<li class="menu_item issues" data-literal='{"name":"lbl_menu_issues"}' />
				</ul>
				<div id="statusContainer" class="whiteBox">
					<div id="status" class="framework infoBox" />
					<div id="issues" class="issues infoBox">
						<h3 data-literal='{"name":"lbl_noIssues"}' />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>