<div class="navigation">
	<div class="toph">
		<h2 data-literal='{"name":"lbl_sideNav_header"}' />
	</div>
	<ul class="menu">
		<li>
			<a data-href='{"domain":"admin","page":"/"}' >
				<span class="ico home" />
				<span class="title" data-literal='{"name":"lbl_sideNav_Home"}'/>
			</a>
		</li>
		<li>
			<a data-href='{"domain":"admin","page":"/pages/"}'>
				<span class="ico pages" />
				<span class="title" data-literal='{"name":"lbl_sideNav_Pages"}'/>
			</a>
		</li>
		<li>
			<a data-href='{"domain":"admin","page":"/resources/sdk/"}'>
				<span class="ico resources" />
				<span class="title" data-literal='{"name":"lbl_sideNav_Resources"}'/>
			</a>
		</li>
		<li>
			<a data-href='{"domain":"admin","page":"/literals/"}'>
				<span class="ico literals" />
				<span class="title" data-literal='{"name":"lbl_sideNav_Literals"}'/>
			</a>
		</li>
		<li>
			<a data-href='{"domain":"admin","page":"/resources/geoloc/"}'>
				<span class="ico geo" />
				<span class="title" data-literal='{"name":"lbl_sideNav_GEO"}'/>
			</a>
		</li>
		<li>
			<a data-href='{"domain":"admin","page":"/resources/schemas/"}'>
				<span class="ico schemas" />
				<span class="title" data-literal='{"name":"lbl_sideNav_Schemas"}'/>
			</a>
		</li>
		<li>
			<a data-href='{"domain":"admin","page":"/security/"}'>
				<span class="ico security" />
				<span class="title" data-literal='{"name":"lbl_sideNav_Security"}'/>
			</a>
		</li>
		<li>
			<a data-href='{"domain":"admin","page":"/publisher/"}'>
				<span class="ico publisher" />
				<span class="title" data-literal='{"name":"lbl_sideNav_Publisher"}'/>
			</a>
		</li>
	</ul>
</div>