<div class="wsOverview">
	<div class="boxStatusContainer">
		<div class="boxStatus project">
			<div class="ico" />
			<div class="sub">
				<div class="title" />
				<div class="configure">
					<div class="ico" />
					<h4 class="ctitle" data-literal='{"name":"lbl_publish"}' />
				</div>
			</div>
		</div>
	</div>
	<div class="boxStatusContainer">
		<div class="boxStatus server">
			<div class="ico" />
			<div class="sub">
				<div class="title" />
				<div class="configure">
					<div class="ico" />
					<h4 class="ctitle" data-literal='{"name":"lbl_configure"}' />
				</div>
			</div>
		</div>
	</div>
</div>