<div class="stats">
	<div class="cgroup teams">
		<div class="header">
			<div class="title" data-literal='{"name":"hd_teams"}' />
			<div class="count">0</div>
		</div>
	</div>
	<div class="cgroup projects">
		<div class="header">
			<div class="title" data-literal='{"name":"hd_projects"}' />
			<div class="count">0</div>
		</div>
		<div class="crow apps">
			<div class="title" data-literal='{"name":"lbl_count_apps"}' />
			<div class="count">0</div>
		</div>
		<div class="crow websites">
			<div class="title" data-literal='{"name":"lbl_count_websites"}' />
			<div class="count">0</div>
		</div>
		<div class="crow public">
			<div class="title" data-literal='{"name":"lbl_count_open"}' />
			<div class="count">0</div>
		</div>
	</div>
	<div class="cgroup accounts">
		<div class="header">
			<div class="title" data-literal='{"name":"hd_accounts"}' />
			<div class="count">0</div>
		</div>
		<div class="crow admin">
			<div class="title" data-literal='{"name":"lbl_accounts_admin"}' />
			<div class="count">0</div>
		</div>
		<div class="crow shared">
			<div class="title" data-literal='{"name":"lbl_accounts_shared"}' />
			<div class="count">0</div>
		</div>
		<div class="crow persons">
			<div class="title" data-literal='{"name":"lbl_accounts_persons"}' />
			<div class="count">0</div>
		</div>
	</div>
</div>