<div class="helpCenter">
	<section class="header">
		<div class="middleContainer">
			<h1 class="title" data-literal='{"name":"title"}' />
			<h2 class="sub" data-literal='{"name":"lbl_subtitle"}'  />
			<div class="trending">
				<div class="categories">
					<a target="_self" class="trendCategory starting" data-href='{"page":"/help/doc.php?name=start"}' >
						<div class="trendImage" />
						<h4 class="trendTitle" data-literal='{"name":"lbl_gettingStarted"}' />
					</a>
					<a target="_self" class="trendCategory security" data-href='{"page":"/help/doc.php?name=account"}' >
						<div class="trendImage" />
						<h4 class="trendTitle" data-literal='{"name":"lbl_security"}' />
					</a>
					<a target="_self" class="trendCategory new" data-href='{"page":"/help/doc.php?name=what_new"}' >
						<div class="trendImage" />
						<h4 class="trendTitle" data-literal='{"name":"lbl_whatNew"}' />
					</a>
					<a target="_self" class="trendCategory business" data-href='{"page":"/help/doc.php?name=business"}' >
						<div class="trendImage" />
						<h4 class="trendTitle" data-literal='{"name":"lbl_business"}' />
					</a>
					<a target="_self" class="trendCategory apps" data-href='{"page":"/help/doc.php?name=dev"}' >
						<div class="trendImage" />
						<h4 class="trendTitle" data-literal='{"name":"lbl_appBuild"}' />
					</a>
					<a target="_self" class="trendCategory issues" data-href='{"page":"/help/doc.php?name=reporting"}' >
						<div class="trendImage" />
						<h4 class="trendTitle" data-literal='{"name":"lbl_bugReport"}' />
					</a>
					<a target="_self" class="trendCategory social" data-href='{"page":"/help/doc.php?name=social"}' >
						<div class="trendImage" />
						<h4 class="trendTitle" data-literal='{"name":"lbl_social"}' />
					</a>
					<a target="_self" class="trendCategory international" data-href='{"page":"/help/doc.php?name=international"}' >
						<div class="trendImage" />
						<h4 class="trendTitle" data-literal='{"name":"lbl_international"}' />
					</a>
				</div>
				<div class="links">
					<a data-href='{"page":"/help/policies/"}' target="_self" data-literal='{"name":"lbl_legalNoticies"}' />
					&bull;
					<a data-href='{"page":"/help/contact.php"}' target="_self" data-literal='{"name":"lbl_contact"}' />
				</div>
			</div>
		</div>
		<div class="navBar" />
	</section>
	
</div>