<div class="tlb-developerNav">
	<div class="tlb-navbar">
		<div class="shortcuts">
			<div class="shrct new_project" data-literal='{"name":"lbl_tlb_menu_newproject"}'>
				<span class="ico"></span>
			</div>
			<a class="shrct dashboard" data-href='{"domain":"developers","page":"/dashboard/"}' target="_self" data-literal='{"name":"lbl_tlb_menu_dashboard"}'>
				<span class="ico"></span>
			</a>
		</div>
		<ul class="tlb-menu">
			<li><a class="tlb-a" data-href='{"domain":"developers","page":"/"}' data-literal='{"name":"lbl_tlb_menu_developers"}'></a></li>
			<li><a class="tlb-a" data-href='{"domain":"www","page":"/"}' data-literal='{"name":"lbl_tlb_menu_home"}'></a></li>
		</ul>
	</div>
	<div class="tlb-explorer">
		<div class="tlb-sidebar">
			<ul class="teamList"></ul>
		</div>
		<div class="projectList pList"></div>
	</div>
</div>