<div class="teamInfo">
	<div class="infoViewer">
		<div class="editor">
			<span class="ico" />
			<div class="etl" data-literal='{"name":"lbl_edit_info"}' />
		</div>
		<ul class="informationList">
			<li class="infoItem name">
				<div class="infoName" data-literal='{"name":"lbl_info_name"}' />
				<div class="infoValue" />
			</li>
			<li class="infoItem description">
				<div class="infoName" data-literal='{"name":"lbl_info_description"}' />
				<div class="infoValue" />
			</li>
			<li class="infoItem uname">
				<div class="infoName" data-literal='{"name":"lbl_info_uname"}' />
				<div class="infoValue" />
			</li>
			<li class="infoItem teamid">
				<div class="infoName" data-literal='{"name":"lbl_info_teamid"}' />
				<div class="infoValue" />
			</li>
		</ul>
	</div>
	<div class="infoEditor noDisplay" />
</div>