@import url("http://cdn.drov.io/media/css/fonts/roboto.font.css");
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Slab Thin'), local('RobotoSlab-Thin'), url(http://fonts.gstatic.com/s/robotoslab/v6/MEz38VLIFL-t46JUtkIEgNFPPhm6yPYYGACxOp9LMJ4.woff2) format('woff2');
}
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJUo2lTMeWA_kmIyWrkNCwPc.woff2) format('woff2');
}
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
}
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
}
.pricingPlans {
	font-family: 'Roboto Slab', serif;
}

.pricingPlans .middleContainer {
	max-width: 1200px;
	margin: 0 auto;
}

.pricingPlans .section {
	padding: 60px 0px;
}
.pricingPlans .section .section__title {
	font-size: 36px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: 300;
}

.pricingPlans .section .section__intro {
	color: #777777;
	font-size: 16px;
	margin-bottom: 30px;
	text-align: center;
}

.pricingPlans .section .section__hr {
	border-top: 2px solid #ff5252;
	width: 100px;
	margin: 0 auto;
	margin-bottom: 60px;
}
.pricingPlans .section-pricing {
	background: #f8f8f8;
	overflow: auto;
	border-top: 1px solid #CCC;
}

.pricingPlans .section-pricing .prices {
	overflow: auto;
}

.pricingPlans .section-pricing .col__item {
	width: 25%;
	float: left;
	padding: 0px 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.pricingPlans .section-pricing .pricing__item {
	margin-bottom: 20px;
	background: white;
	text-align: center;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.pricingPlans .section-pricing .pricing__title {
	color: #333333;
	font-size: 13px;
	padding: 18px 12px;
	border-bottom: 1px solid #eeeeee;
	font-weight: 700;
	background-image: -webkit-linear-gradient(top, white 0%, #f5f5f5 100%);
	background-image: -o-linear-gradient(top, white 0%, #f5f5f5 100%);
	background-image: linear-gradient(to bottom, white 0%, #f5f5f5 100%);
	background-repeat: repeat-x;
}

.pricingPlans .section-pricing .pricing__price {
	padding: 10px 12px;
	border-bottom: 1px solid #eeeeee;
}

.pricingPlans .section-pricing .pricing-price__digit {
	font-size: 48px;
}

.pricingPlans .section-pricing .pricing__list {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
	color: #777777;
}

.pricingPlans .section-pricing .pricing__list li {
	padding: 10px 12px;
	border-bottom: 1px solid #eeeeee;
	font-size: 13px;
}

.pricingPlans .section-pricing .pricing__btn {
	padding: 18px 12px;
}

.pricingPlans .section-pricing .btn-price {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 13px;
	line-height: 1.42857143;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-color: rgba(0, 0, 0, 0.1);
	background: #ff5252;
	background-image: -webkit-linear-gradient(top, #ff6161 0%, #ff4343 100%);
	background-image: -o-linear-gradient(top, #ff6161 0%, #ff4343 100%);
	background-image: linear-gradient(to bottom, #ff6161 0%, #ff4343 100%);
	background-repeat: repeat-x;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.pricingPlans .section-pricing .btn-price:hover {
	 border-color: rgba(0, 0, 0, 0.1);
	background: #ff4343;
	background-image: -webkit-linear-gradient(top, #ff5252 0%, #ff2e2e 100%);
	background-image: -o-linear-gradient(top, #ff5252 0%, #ff2e2e 100%);
	background-image: linear-gradient(to bottom, #ff5252 0%, #ff2e2e 100%);
	background-repeat: repeat-x;
	color: white;
	outline: none;
}
.pricingPlans .section-features {
	background: #fff;
	overflow: auto;
	border-top: 1px solid #CCC;
}

.pricingPlans .section-features .features {
	overflow: auto;
	margin: 20px 0px;
}
.pricingPlans .section-features .ft__item {
	width: 50%;
	float: left;
	overflow: auto;
	padding: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.pricingPlans .section-features .ft__item .ft__item_content {
	overflow: hidden;
}

.pricingPlans .section-features .ft__item .ft__item_icon {
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: #454A54 url('%{media}/developer/plans_sprite.svg') no-repeat;
	background-size: cover;
}

.pricingPlans .section-features .ft__item.ads .ft__item_icon {
	background-position: 0px 0px;
}

.pricingPlans .section-features .ft__item.database .ft__item_icon {
	background-position: 0px -40px;
}

.pricingPlans .section-features .ft__item.analytics .ft__item_icon {
	background-position: 0px -80px;
}

.pricingPlans .section-features .ft__item.premium .ft__item_icon {
	background-position: 0px -120px;
}

.pricingPlans .section-features .ft__item.enterprise .ft__item_icon {
	background-position: 0px -160px;
}

.pricingPlans .section-features .ft__item .ft__item_title {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 300;
}

.pricingPlans .section-features .ft__item .ft__item_intro {
	color: #777;
	font-size: 13px;
}

.pricingPlans footer {
	background-color: #333;
	color: #cfd8dc;
}

.pricingPlans footer .footer_bottom {
	padding: 30px 0px;
}

.pricingPlans footer .footer_bottom a {
	color: #cfd8dc;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.pricingPlans footer .footer_bottom a:hover {
	color: #ff5252;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.pricingPlans footer .footer__copyright {
	font-size: 13px;
}