.roadmapList {
	.rd_list {
		& {
			overflow: auto;
			margin: 20px 0px;
			padding: 10px 5px;
		}
		.ritem {
			& {
				overflow: auto;
				margin-bottom: 35px;
			}
			.ricon {
				float: left;
				width: 32px;
				height: 32px;
				margin-right: 10px;
				border: 3px solid #CCC;
				border-radius: 50%;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
			}
			.rhash {
				float: left;
				margin-right: 10px;
				font-size: 1.3em;
				line-height: 32px;
				color: #5E6570;
				transition: all .2s ease-in-out;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
			}
			.rhash:hover {
				color: #ff5252;
				transition: all .2s ease-in-out;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
			}
			.rdate {
				float: right;
				line-height: 32px;
				color: #777;
			}
			.rtitle {
				font-size: 1.3em;
				line-height: 32px;
				color: #5E6570;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			&.edit .rtitle {
				cursor: pointer;
				transition: all .2s ease-in-out;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
			}
			&.edit .rtitle:hover {
				color: #ff5252;
				transition: all .2s ease-in-out;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
			}
			.rdesc {
				clear: both;
				color: #777;
				font-size: 1.1em;
				margin-top: 10px;
				padding: 0px 10px;
				line-height: 1.6em;
				white-space: pre-wrap;
			}
			.rdesc a {
				color: #ff5252;
			}
			&:last-child {
				margin-bottom: 0px;
			}
		}
		
	}
	.rd_list.expected {
		.ritem {
			opacity: 0.8;
			transition: all .2s ease-in-out;
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
		}
		.ritem:hover {
			opacity: 1;
			transition: all .2s ease-in-out;
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
		}
	}
	.rd_list.delivered {
		& {
			border-top: 1px solid #42B549;
		}
		.ritem {
			.ricon {
				background: url('%{media}/developer/icons/green_tick.svg') no-repeat center;
				background-size: cover;
				border-color: #42B549;
			}
			.rhash,
			.rtitle {
				color: #42B549;
			}
			.rhash:hover {
				color: #ff5252;
			}
			.rdesc {
				color: #5E6570;
			}
		}
		&:empty {
			display: none;
		}
		
	}
}