.devManagementArea .contentIcon {
	width:16px;
	height:16px;
	background-size: 16px;
	background-repeat: no-repeat;
	display:inline-block;
	margin-right:3px;
	vertical-align:-4px;
	background-image: url('%resources%/developer/icons/fileThumbs.svg');
}
.devManagementArea .contentIcon.libIco {
	background-position:0px 0px;
}
.devManagementArea .contentIcon.pkgIco {
	background-position:0px -32px;
}
.devManagementArea .open > :not(ul):not(.subTreeView) .contentIcon.pkgIco {
	background-position:0px -16px;
}
.devManagementArea .contentIcon.fldIco {
	background-position:0px -48px;
}
.devManagementArea .contentIcon.flIco {
	background-position:0px -64px;
}
.devManagementArea .contentIcon.infoIcon {
	background-image: url('/Library/Media/c/icons/19x19/notifications.svg');
	background-size: cover;
}

.refreshToolbar {
	width:100%;
	border-bottom: 1px dashed #A6A6A6;
	position:relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.refreshToolbar .toolbarTool {
	width:16px;
	height:16px;
	margin: 6px;
	cursor: pointer;
	opacity: 0.7;
	display: inline-block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	
	background-image:url('%resources%/global/devIcons.svg');
	background-repeat:no-repeat;
	background-size: cover;
	background-position: 0px -48px;
}
.refreshToolbar .toolbarTool:hover {
	opacity: 1.0;
}