<div class="teamProfile">
	<div class="teamInfoContainer">
		<div class="teamInfo middleContainer">
			<div class="logoBox">
				<div class="logo" />
				<div class="leaveTeam" data-literal='{"name":"lbl_leave_team"}' />
			</div>
			<h1 class="teamName" />
			<ul class="teamNavigation">
				<li class="navitem info selected" data-literal='{"name":"lbl_nav_generalInfo"}' />
				<li class="navitem relations" data-literal='{"name":"lbl_nav_relations"}' />
				<li class="navitem members" data-literal='{"name":"lbl_nav_members"}' />
			</ul>
		</div>
	</div>
	<div id="teamDetailsContainer" class="teamDetailsContainer middleContainer" />
</div>