<section class="docViewer">
	<div class="middleContainer">
		<div class="sidebar">
			<ul class="sideMenu">
				<li class="navHeader" data-literal='{"name":"lbl_hdEngines"}' />
				<li class="navItem sdk_intro">
					<a target="_self" data-literal='{"name":"lbl_devIntro"}' />
				</li>
				<li class="navItem red_sdk">
					<a target="_self" data-literal='{"name":"lbl_redSDK"}' />
				</li>
				<li class="navItem web_sdk">
					<a target="_self" data-literal='{"name":"lbl_webSDK"}' />
				</li>
				
				<li class="navHeader" data-literal='{"name":"lbl_hdBasicAPIs"}' />
				<li class="navItem platform_api">
					<a target="_self" data-literal='{"name":"lbl_platformAPI"}' />
				</li>
				<li class="navItem profile_api">
					<a target="_self" data-literal='{"name":"lbl_profileAPI"}' />
				</li>
				<li class="navItem comm_api">
					<a target="_self" data-literal='{"name":"lbl_communicationsAPI"}' />
				</li>
				<li class="navItem ui_api">
					<a target="_self" data-literal='{"name":"lbl_uiAPI"}' />
				</li>
				<li class="navItem projects_api">
					<a target="_self" data-literal='{"name":"lbl_projectsAPI"}' />
				</li>
				<li class="navItem geoloc_api">
					<a target="_self" data-literal='{"name":"lbl_geolocAPI"}' />
				</li>
				
				<li class="navHeader" data-literal='{"name":"lbl_hdWebAPIs"}' />
				
				<li class="navHeader advanced" data-literal='{"name":"lbl_hdAdvancedAPIs"}' />
				<li class="navItem advanced version_api">
					<a target="_self" data-literal='{"name":"lbl_versionAPI"}' />
				</li>
				<li class="navItem advanced security_api">
					<a target="_self" data-literal='{"name":"lbl_securityAPI"}' />
				</li>
				
				<li class="navHeader" data-literal='{"name":"lbl_hdDevAPIs"}' />
				<li class="navItem literals_api">
					<a target="_self" data-literal='{"name":"lbl_literalsAPI"}' />
				</li>
				<li class="navItem bugs_api">
					<a target="_self" data-literal='{"name":"lbl_bugTrackerAPI"}' />
				</li>
				<li class="navItem analytics_api">
					<a target="_self" data-literal='{"name":"lbl_analyticsAPI"}' />
				</li>
				
				<li class="navHeader" data-literal='{"name":"lbl_hdOtherAPIs"}' />
				<li class="navItem web_docs">
					<a target="_self" data-literal='{"name":"lbl_webDocsAPI"}' />
				</li>
			</ul>
		</div>
		<div class="docHolder" />
	</div>
	<div class="navBar" />
</div>