.layoutExplorer,
#layoutTabber {
	height: 100%;
}
.layoutExplorer .ltNavTool.refresh {
	display: inline-block;
	width: 16px;
	height: 16px;
	opacity: 0.7;
	cursor: pointer;
	background-image:url('%resources%/global/devIcons.svg');
	background-repeat:no-repeat;
	background-size: cover;
	background-position: 0px -48px;
}
.layoutExplorer .ltNavTool.refresh:hover {
	opacity: 1.0;
}