<div class="frontendPage">
	<section class="main section">
		<div class="middleContainer">
			<h1 class="title" data-literal='{"name":"lbl_main_title"}' />
			<h3 class="sub" data-literal='{"name":"lbl_main_sub2"}' />
			<div class="snav">
				<div class="navitem apps active">
					<div class="ico" />
					<div class="title" data-literal='{"name":"lbl_banner_apps_title"}' />
				</div>
				<div class="navitem market">
					<div class="ico" />
					<div class="title" data-literal='{"name":"lbl_banner_appcenter_title"}' />
				</div>
				<div class="navitem api">
					<div class="ico" />
					<div class="title" data-literal='{"name":"lbl_banner_api_title"}' />
				</div>
				<div class="navitem mvc">
					<div class="ico" />
					<div class="title" data-literal='{"name":"lbl_banner_mvc_title"}' />
				</div>
			</div>
			<div class="content">
				<div class="desc active">
					<div class="text" data-literal='{"name":"lbl_banner_apps_desc"}' />
					<a data-href='{"domain":"developer","page":"/features/spa.php"}' target="_self" class="more" data-literal='{"name":"lbl_learnMore"}' />
				</div>
				<div class="desc">
					<div class="text" data-literal='{"name":"lbl_banner_appcenter_desc"}' />
					<a data-href='{"domain":"apps","page":"/"}' target="_self" class="more" data-literal='{"name":"lbl_learnMore"}' />
				</div>
				<div class="desc">
					<div class="text" data-literal='{"name":"lbl_banner_api_desc"}' />
					<a data-href='{"domain":"developer","page":"/api/"}' target="_self" class="more" data-literal='{"name":"lbl_learnMore"}' />
				</div>
				<div class="desc">
					<div class="text" data-literal='{"name":"lbl_banner_mvc_desc"}' />
					<a data-href='{"domain":"developer","page":"/features/mvc.php"}' target="_self" class="more" data-literal='{"name":"lbl_learnMore"}' />
				</div>
			</div>
		</div>
		<div class="navBar" />
	</section>
</div>