<div class="startScreen">
	<h1 class="header" data-literal='{"name":"hd_redbackSDK"}' />
	<div class="searchContainer">
		<div class="explorerIcoContainer">
			<div class="explorerIco" />
		</div>
		<input type="text" class="searchInput" autofocus />
	</div>
	<div class="section bigTiles">
		<div class="bigTile basics">
			<a data-href='{"domain":"developers","page":"/docs/basics/"}' target="_self">
				<div class="ico" />
				<h3 class="title" data-literal='{"name":"lbl_tile_basics"}' />
			</a>
		</div>
		<div class="bigTile tutorials">
			<a data-href='{"domain":"developers","page":"/docs/tutorials/"}' target="_self">
				<div class="ico" />
				<h3 class="title" data-literal='{"name":"lbl_tile_tutorials"}' />
			</a>
		</div>
		<div class="bigTile sdk" >
			<a data-href='{"domain":"developers","page":"/docs/sdk/"}' target="_self">
				<div class="ico" />
				<h3 class="title" data-literal='{"name":"lbl_tile_sdk"}' />
			</a>
		</div>
		<div class="bigTile projects">
			<a data-href='{"domain":"developers","page":"/docs/projects/"}' target="_self">
				<div class="ico" />
				<h3 class="title" data-literal='{"name":"lbl_tile_projects"}' />
			</a>
		</div>
		<div class="bigTile apps" >
			<a data-href='{"domain":"developers","page":"/docs/apps/"}' target="_self">
				<div class="ico" />
				<h3 class="title" data-literal='{"name":"lbl_tile_apps"}' />
			</a>
		</div>
		<div class="bigTile web" >
			<a data-href='{"domain":"developers","page":"/docs/website/"}' target="_self">
				<div class="ico" />
				<h3 class="title" data-literal='{"name":"lbl_tile_web"}' />
			</a>
		</div>
	</div>
	<div class="objectExplorerContainer">
		<div class="searchResults">
			<div class="results sdk">
				<h3 class="results_title" data-literal='{"name":"lbl_results_title_sdk"}' />
				<div class="rlist" />
			</div>
			<div class="results wsdk">
				<h3 class="results_title" data-literal='{"name":"lbl_results_title_wsdk"}' />
				<div class="rlist" />
			</div>
		</div>
		<ul class="topNav">
			<li class="hdNav selected" data-literal='{"name":"lbl_coreSDK"}' />
			<li class="hdNav" data-literal='{"name":"lbl_webSDK"}' />
		</ul>
		<div id="objectExplorer" class="objectExplorer">
			<div id="coreSDK" />
			<div id="webSDK" />
		</div>
	</div>
</div>