<div class="myHome">
	<div class="middleContainer">
		<section class="box account">
			<div class="header">
				<div class="ico photoContainer withPhoto" />
				<div class="title" data-literal='{"name":"hd_accountInfo"}' />
				<a class="action" target="_self" data-href='{"domain":"my","page":"/settings/"}' data-literal='{"name":"lbl_editSettings"}' />
			</div>
			<div class="info">
				<div class="info_row display_name">
					<div class="label" data-literal='{"name":"lbl_displayName"}' />
					<div class="value" />
				</div>
				<div class="info_row registration_mail personal">
					<div class="label" data-literal='{"name":"lbl_regMail"}' />
					<div class="value" />
				</div>
				<div class="info_row username">
					<div class="label" data-literal='{"name":"lbl_username"}' />
					<div class="value" />
				</div>
				<div class="info_row password">
					<div class="label" data-literal='{"name":"lbl_password"}' />
					<div class="value">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</div>
				</div>
				<div class="info_row language">
					<div class="label" data-literal='{"name":"lbl_language"}' />
					<div class="value" />
				</div>
			</div>
		</section>
		<section class="box services">
			<div class="header">
				<div class="ico" />
				<div class="title" data-literal='{"name":"hd_myServices"}' />
				<a class="action" target="_self" data-href='{"domain":"my","page":"/services/"}' data-literal='{"name":"lbl_showServices"}' />
			</div>
			<div class="info">
				<a class="action_box dev" target="_blank" data-href='{"domain":"developer","page":"/dashboard/"}' data-literal='{"name":"lbl_devEngine_visit"}' />
				<a class="action_box web" target="_blank" data-href='{"domain":"web","page":"/dashboard/"}' data-literal='{"name":"lbl_webEngine_visit"}' />
				<a class="action_box boss" target="_blank" data-href='{"domain":"boss","page":"/dashboard/"}' data-literal='{"name":"lbl_bizEngine_visit"}' />
			</div>
		</section>
		<section class="box relations">
			<div class="header">
				<div class="ico" />
				<div class="title" data-literal='{"name":"hd_myRelations"}' />
				<a class="action" target="_self" data-href='{"domain":"my","page":"/relations/"}' data-literal='{"name":"lbl_moreRelations"}' />
			</div>
			<div class="info">
				<div class="info_row invitations">
					<div class="label" data-literal='{"name":"lbl_pendingInvitations"}' />
					<a class="value" target="_self" data-href='{"domain":"my","page":"/relations/invitations/"}' data-literal='{"name":"lbl_showInvitations"}' />
				</div>
			</div>
		</section>
	</div>
</div>