<div class="blogPostPage">
	<div class="section section-home">
		<div class="text-center middleContainer">
			<a data-href='{"domain":"blog","page":"/"}' target="_self">
				<p class="banner__intro">Blog</p>
			</a>
			<div class="banner__logo" />
			<h2 class="banner__h2 btitle" />
			<p class="banner__intro bsubtitle" />
			<div class="blog-info">
				<div class="bauthor">
					<div class="bauthicon" />
					<div class="bauthtitle" />
				</div>
				<div class="bdate" />
			</div>
		</div>
	</div>
	<div class="section section-blog-post">
		<div class="middleContainer docContainer" />
	</div>
	<footer>
		<div class="footer_bottom middleContainer">
			<div class="footer__copyright">Copyright 2015 <a href="http://drov.io/">Drovio</a>. All Rights Reserved.</div>
			<div class="footer__social">
				<a href="https://www.facebook.com/DrovioSmart" target="_blank" class="ftr_social fb" />
				<a href="https://twitter.com/DrovioID" target="_blank" class="ftr_social twitter" />
				<a href="https://www.google.com/+DrovIo" target="_blank" class="ftr_social gplus" />
			</div>
		</div>
	</footer>
</div>