.frontendPage {
	width: 100%;
	height: 100%;
}
.frontendPage .middleContainer {
	width: 1000px;
	margin: 0 auto;
	overflow: auto;
}
.frontendPage .mainContainer .logoSide {
	margin: 25px 0px;
	margin-left: 10px;
	height: 100px;
	float: left;
}
.frontendPage .mainContainer .logoSide.center .textLogo {
	float: none;
	margin: 0 auto;
}
.frontendPage .mainContainer h2.subTitle {
	clear: left;
	margin: 0;
	padding-top: 10px;
	font-weight: normal;
}
.slideContainer {
	position: relative;
}
.slides {
	width: 100%;
	height: 600px;
	position: relative;
}
.slides .slide {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: opacity .3s ease-out;
	-webkit-transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	z-index: 0;
	color: #FFF;
}
.slides .slide.active {
	opacity: 1;
	transition: opacity .3s ease-out;
	-webkit-transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	z-index: 1;
}
.slides .slide .middleContainer {
	margin-top: 60px;
	padding-top: 80px;
}

.slide .title {
	text-align: center;
	font-size: 28px;
	line-height: 32px;
	font-weight: normal;
	text-shadow: 1px 1px 2px #333;
}
.slide .sub {
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	text-shadow: 1px 1px 2px #333;
}
.slide .learn_more {
	font-size: 12px;
	line-height: 18px;
	padding: 3px 10px;
	text-transform: uppercase;
	color: #FFF;
	text-shadow: 1px 1px 2px #333;
	border: 1px solid #FFF;
	width: 100px;
	margin: 0 auto;
	display: block;
	text-align: center;
}
.slides .biz {
	background: url('%resources%/frontend/biz_banner.jpg') no-repeat center;
	background-size: cover;
}
.slides .web {
}
.slides .apps {
	background: url('%resources%/frontend/apps_banner_flare.jpg') no-repeat center;
	background-size: cover;
}
.slides .apps .fRight {
	width: 70%;
	float: right;
}
.frontendPage .navBar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 4px #555;
	line-height: 40px;
	padding: 10px 0px;
	z-index: 3;
}
.frontendPage .tileBar {
	position: absolute;
	bottom: 10px;
	width: 100%;
	z-index: 2;
}
.frontendPage .tileBar .start {
	margin-bottom: 15px;
}
.frontendPage .tileBar .start .title {
	display: block;
	width: 100px;
	margin: 0 auto;
	border: 2px solid #999;
	color: green;
	font-size: 15px;
	line-height: 24px;
	padding: 5px 10px;
	text-align: center;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.frontendPage .tileBar .start .title:hover {
	background-color: rgba(255, 255, 255, 1);
}
.frontendPage .tileBar .tileList {
	width: 600px;
	margin: 0 auto;
	overflow: auto;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.frontendPage .tileBar .tile {
	list-style-type: none;
	float: left;
	width: 300px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	display: table;
}
.frontendPage .tileBar .tile .content {
	display: table-cell;
	width: 100%;
	height: 60px;
	font-size: 13px;
	line-height: 14px;
	vertical-align: middle;
	border-right: 1px solid #FFF;
	padding: 0px 20px;
}
.frontendPage .tileBar .tile:last-child .content {
	border-right: none;
}
.frontendPage .tileBar .tile:hover,
.frontendPage .tileBar .tile.active {
	background-color: rgba(0, 0, 0, 0.65);
	color: #FFF;
}

.frontendPage .bigTiles {
	clear: both;
	overflow: auto;
	background-color: #e8eef8;
	border-bottom: 1px solid #e7e9eb;
}
.frontendPage .bigTiles .bigTile {
	display: table-cell;
	
	width: 25%;
	padding: 30px 10px;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 100%;
}
.frontendPage .bigTiles .bigTile a:hover .title {
	text-decoration: underline;
}
.frontendPage .bigTiles .bigTile .ico {
	width: 75px;
	height: 75px;
	margin: 0 auto;
}
.frontendPage .bigTiles .bigTile.apps {
	background-color: rgb(158, 134, 113);
}
.frontendPage .bigTiles .bigTile.apps .ico {
	background: url('%resources%/frontend/devPrograms.png') no-repeat center;
}
.frontendPage .bigTiles .bigTile.web {
	background-color: rgb(244, 132, 114);
}
.frontendPage .bigTiles .bigTile.web .ico {
	background: url('%resources%/developer/web_extensions_100.png') no-repeat center;
	background-size: 75px 75px;
}
.frontendPage .bigTiles .bigTile.devSupport {
	background-color: rgb(170, 180, 97);
}
.frontendPage .bigTiles .bigTile.devSupport .ico {
	background: url('%resources%/frontend/devSupport.png') no-repeat center;
}
.frontendPage .bigTiles .bigTile.international {
	background-color: rgb(136, 214, 224);
}
.frontendPage .bigTiles .bigTile.international .ico {
	background: url('%resources%/frontend/international.png') no-repeat center;
}