<div class="publicProject">
	<section class="pheader">
		<div class="middleContainer">
			<div class="logoBox">
				<div class="logo" />
				<a target="_blank" class="appcenter rbutton" data-literal='{"name":"lbl_goto_appcenter"}' />
				<div class="create rbutton" data-literal='{"name":"lbl_create_project"}' />
				<a data-href='{"domain":"developer","page":"/docs/public_projects/"}' target="_blank" class="about rbutton" data-literal='{"name":"lbl_about_public_projects"}' />
			</div>
			<h1 class="projectTitle" />
			<h2 class="projectDescription" />
			<ul class="pnavigation">
				<li class="navitem readme selected" data-literal='{"name":"lbl_nav_readme"}' />
				<li class="navitem reviews" data-literal='{"name":"lbl_nav_reviews"}' />
			</ul>
		</div>
		<div class="navBar" />
	</section>
	<section class="pbody">
		<div id="sectionContainer" class="middleContainer panels">
			<div id="readme" class="container" />
			<div id="reviews" class="container" />
		</div>
	</section>
</div>