<div class="resetPwPage">
	<div class="whiteBox">
		<div class="header">
			<div class="logo" />
			<h2 class="text">Redback</h2>
			<div class="small" data-literal='{"name":"title"}' />
		</div>
		<div class="main">
			<h3 data-literal='{"name":"lbl_resetTitle"}' />
			<h4 data-literal='{"name":"lbl_resetDir"}' />
		</div>
		<div class="footer">
			<h4 data-literal='{"name":"lbl_securityTeam"}' />
		</div>
	</div>
	<div class="pgFooter">
		<div class="left">
			<span>Redback&trade; &copy; </span>
		</div>
		<div class="right">
			<a data-href='{"page":"/help/"}' data-literal='{"scope":"global::notifications::center","name":"helpCenter"}' />
			<span> &bull; </span>
			<a data-href='{"domain":"my","page":"/settings/"}' class="locale" target="_blank" />
		</div>
	</div>
</div>