<div class="bossSettings">
	<div class="genericSettings">
		<h2 class="header" data-literal='{"name":"lbl_boss_genericSettings"}' />
		<div class="formContainer" />
	</div>
	<div class="privateSettings">
		<h2 class="header" data-literal='{"name":"lbl_boss_privateSettings"}' />
		<p class="desc" data-literal='{"name":"lbl_boss_privateSettings_desc"}' />
		<div class="teamList" />
		<div class="searchContainer">
			<p class="desc" data-literal='{"name":"lbl_boss_privateSettings_search"}' />
			<div class="searchForm" />
			<div class="searchResultsContainer" />
		</div>
	</div>
</div>