<div class="newDialog">
	<div class="sidebar" />
	<div id="mainDialog" class="main">
		<div id="wsPage_folder" class="dlgContainer folders">
			<h4 data-literal='{"name":"lbl_createNewFolder"}' />
			<div class="formContainer" />
		</div>
		<div id="wsPage_page" class="dlgContainer pages">
			<h4 data-literal='{"name":"lbl_createNewPage"}' />
			<div class="formContainer" />
		</div>
		<div id="wsPage_rfolder" class="dlgContainer rfolders">
			<h4 data-literal='{"name":"lbl_removeFolder"}' />
			<div class="formContainer" />
		</div>
	</div>
</div>