<div class="myHome">
	<div class="middleContainer">
		<section class="box account">
			<div class="header">
				<div class="ico photoContainer withPhoto" />
				<div class="title" data-literal='{"name":"hd_accountInfo"}' />
				<a class="action" target="_self" data-href='{"domain":"my","page":"/settings/"}' data-literal='{"name":"lbl_editSettings"}' />
			</div>
			<div class="info">
				<div class="info_row display_name">
					<div class="label" data-literal='{"name":"lbl_displayName"}' />
					<div class="value" />
				</div>
				<div class="info_row username">
					<div class="label" data-literal='{"name":"lbl_username"}' />
					<div class="value" />
				</div>
				<div class="info_row password">
					<div class="label" data-literal='{"name":"lbl_password"}' />
					<div class="value">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</div>
				</div>
			</div>
		</section>
		<section class="box personal">
			<div class="header">
				<div class="ico" />
				<div class="title" data-literal='{"name":"hd_personalInfo"}' />
				<a class="action" target="_self" data-href='{"domain":"my","page":"/settings/"}' data-literal='{"name":"lbl_editSettings"}' />
			</div>
			<div class="info">
				<div class="info_row first_name">
					<div class="label" data-literal='{"name":"lbl_firstName"}' />
					<div class="value" />
				</div>
				<div class="info_row middle_name">
					<div class="label" data-literal='{"name":"lbl_middleName"}' />
					<div class="value" />
				</div>
				<div class="info_row last_name">
					<div class="label" data-literal='{"name":"lbl_lastName"}' />
					<div class="value" />
				</div>
				<div class="info_row registration_mail">
					<div class="label" data-literal='{"name":"lbl_regMail"}' />
					<div class="value" />
				</div>
				<div class="info_row language">
					<div class="label" data-literal='{"name":"lbl_language"}' />
					<div class="value" />
				</div>
			</div>
		</section>
		<section class="box relations">
			<div class="header">
				<div class="ico" />
				<div class="title" data-literal='{"name":"hd_myRelations"}' />
				<a class="action" target="_self" data-href='{"domain":"my","page":"/relations/"}' data-literal='{"name":"lbl_showRelations"}' />
			</div>
			<div class="info" />
		</section>
		<section class="box services">
			<div class="header">
				<div class="ico" />
				<div class="title" data-literal='{"name":"hd_myServices"}' />
				<a class="action" target="_self" data-href='{"domain":"my","page":"/services/"}' data-literal='{"name":"lbl_showServices"}' />
			</div>
			<div class="info">
				<div class="info_row boss">
					<div class="label" data-literal='{"name":"lbl_bizEngine"}' />
					<a class="value" target="_blank" data-href='{"domain":"boss","page":"/"}' data-literal='{"name":"lbl_bizEngine_visit"}' />
				</div>
				<div class="info_row web">
					<div class="label" data-literal='{"name":"lbl_webEngine"}' />
					<a class="value" target="_blank" data-href='{"domain":"web","page":"/"}' data-literal='{"name":"lbl_webEngine_visit"}' />
				</div>
				<div class="info_row dev">
					<div class="label" data-literal='{"name":"lbl_devEngine"}' />
					<a class="value" target="_blank" data-href='{"domain":"developer","page":"/"}' data-literal='{"name":"lbl_devEngine_visit"}' />
				</div>
			</div>
		</section>
	</div>
</div>