<section class="footLinks section">
	<div class="middleContainer">
		<div class="socialBar">
			<div class="socialButtons">
				<a href="https://www.facebook.com/RedbackServices" target="_blank" class="socialBtn socialFb"></a>
				<a href="https://plus.google.com/105789862409123100571" target="_blank" class="socialBtn socialGp"></a>
				<a href="https://twitter.com/RedbackSrv" target="_blank" class="socialBtn socialTt"></a>
			</div>
			<h3 class="socialText" data-literal='{"name":"lbl_socialText"}' />
		</div>
		<div class="rb">
			<div class="logo" />
			<h2 class="text">Open Redback</h2>
			<div class="copyright">Redback Services &copy; <span class="y" /></div>
		</div>
		<div class="linkCol general">
			<h3 class="colHeader">Redback</h3>
			<div class="colList">
				<h4 class="listItem">
					<a data-href='{"page":"/"}' data-literal='{"name":"lbl_fl_gen_platform"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"page":"/help/"}' data-literal='{"name":"lbl_fl_gen_help"}' target="_blank"/>
				</h4>
			</div>
		</div>
		<div class="linkCol dev">
			<h3 class="colHeader" data-literal='{"name":"lbl_fl_dev_header"}' />
			<div class="colList">
				<h4 class="listItem">
					<a data-href='{"domain":"developer","page":"/"}' data-literal='{"name":"lbl_fl_dev_join"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"domain":"developer","page":"/docs/"}' data-literal='{"name":"lbl_fl_dev_docs"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"domain":"developer","page":"/support/"}' data-literal='{"name":"lbl_fl_dev_support"}' target="_blank"/>
				</h4>
			</div>
		</div>
		<div class="linkCol apps">
			<h3 class="colHeader" data-literal='{"name":"lbl_fl_apps_header"}' />
			<div class="colList">
				<h4 class="listItem">
					<a data-href='{"domain":"developer","page":"/"}' data-literal='{"name":"lbl_fl_apps_create"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"domain":"apps","page":"/"}' data-literal='{"name":"lbl_fl_apps_center"}' target="_blank"/>
				</h4>
			</div>
		</div>
		<div class="linkCol web">
			<h3 class="colHeader" data-literal='{"name":"lbl_fl_web_header"}' />
			<div class="colList">
				<h4 class="listItem">
					<a data-href='{"domain":"web","page":"/"}' data-literal='{"name":"lbl_fl_web_create"}' target="_blank"/>
				</h4>
				<h4 class="listItem">
					<a data-href='{"domain":"web","page":"/"}' data-literal='{"name":"lbl_fl_web_comp"}' target="_blank"/>
				</h4>
			</div>
		</div>
	</div>
</section>