<div class="sdkDocViewer">
	<section class="header">
		<div class="middleContainer">
			<h1 class="wtitle" data-literal='{"name":"title"}' />
		</div>
		<div class="navBar" />
	</section>
	<div class="middleContainer">
		<div class="sidebar">
			<ul class="sideMenu">
				<li class="navHeader" data-literal='{"name":"lbl_hdEngine"}' />
				<li class="navItem sdk_intro">
					<a target="_self" data-literal='{"name":"lbl_sdkIntro"}' />
				</li>
				<li class="navItem red_sdk">
					<a target="_self" data-literal='{"name":"lbl_redSDK"}' />
				</li>
				<li class="navItem web_sdk">
					<a target="_self" data-literal='{"name":"lbl_webSDK"}' />
				</li>
				<li class="navItem rap">
					<a target="_self" data-literal='{"name":"lbl_rap"}' />
				</li>
				
				<li class="navHeader" data-literal='{"name":"lbl_hdBasicAPIs"}' />
				<li class="navItem platform_api">
					<a target="_self" data-literal='{"name":"lbl_platformAPI"}' />
				</li>
				<li class="navItem profile_api">
					<a target="_self" data-literal='{"name":"lbl_profileAPI"}' />
				</li>
				<li class="navItem comm_api">
					<a target="_self" data-literal='{"name":"lbl_communicationsAPI"}' />
				</li>
				<li class="navItem geoloc_api">
					<a target="_self" data-literal='{"name":"lbl_geolocAPI"}' />
				</li>
				
				<li class="navHeader" data-literal='{"name":"lbl_hdUIAPIs"}' />
				<li class="navItem html_ui_api">
					<a target="_self" data-literal='{"name":"lbl_htmlAPI"}' />
				</li>
				<li class="navItem content_ui_api">
					<a target="_self" data-literal='{"name":"lbl_contentAPI"}' />
				</li>
				<li class="navItem forms_ui_api">
					<a target="_self" data-literal='{"name":"lbl_formsAPI"}' />
				</li>
				<li class="navItem presentation_ui_api">
					<a target="_self" data-literal='{"name":"lbl_presentationAPI"}' />
				</li>
				<li class="navItem navigation_ui_api">
					<a target="_self" data-literal='{"name":"lbl_navigationAPI"}' />
				</li>
				<li class="navItem dev_ui_api">
					<a target="_self" data-literal='{"name":"lbl_devUIAPI"}' />
				</li>
				
				<li class="navHeader" data-literal='{"name":"lbl_hdDevAPIs"}' />
				<li class="navItem literals_api">
					<a target="_self" data-literal='{"name":"lbl_literalsAPI"}' />
				</li>
				<li class="navItem bugs_api">
					<a target="_self" data-literal='{"name":"lbl_bugTrackerAPI"}' />
				</li>
				<li class="navItem analytics_api">
					<a target="_self" data-literal='{"name":"lbl_analyticsAPI"}' />
				</li>
				
				<li class="navHeader" data-literal='{"name":"lbl_hdOtherAPIs"}' />
				<li class="navItem web_docs">
					<a target="_self" data-literal='{"name":"lbl_webDocsAPI"}' />
				</li>
				
				<!-- <li class="navHeader" data-literal='{"name":"lbl_hdWebAPIs"}' /> -->
				
				<li class="navHeader advanced" data-literal='{"name":"lbl_hdAdvancedAPIs"}' />
				<li class="navItem advanced projects_api">
					<a target="_self" data-literal='{"name":"lbl_projectsAPI"}' />
				</li>
				<li class="navItem advanced version_api">
					<a target="_self" data-literal='{"name":"lbl_versionAPI"}' />
				</li>
				<li class="navItem advanced security_api">
					<a target="_self" data-literal='{"name":"lbl_securityAPI"}' />
				</li>
			</ul>
		</div>
		<div class="docHolder" />
	</div>
</div>