<div id="wcoreConfigTabs" class="configTabs">
	<ul class="tabs">
		<li class="navTab tester selected" data-literal='{"name":"lbl_navHeader_tester"}' />
		<li class="navTab profiler" data-literal='{"name":"lbl_navHeader_profiler"}' />
	</ul>
	<div class="pages">
		<div id="wcoreTesterConfig" class="page testerPanel">
			<div class="topContainer">
				<div class="switchRow ajax">
					<span data-literal='{"name":"lbl_ajaxTestCenter"}' />
				</div>
				<div class="switchRow rsrc">
					<span data-literal='{"name":"lbl_rsrcTestCenter"}' />
				</div>
				<div class="switchRow sql">
					<span data-literal='{"name":"lbl_sqlTestCenter"}' />
				</div>
			</div>
			<div class="packageConfigurator" />
		</div>
		<div id="wcoreResourceProfiler" class="page profilerPanel resourceProfiler">
			<h4 class="title" data-literal='{"name":"lbl_resourceProfilerTitle"}' />
			<div class="resourceListContainer">
				<div class="cssResources" />
				<div class="jsResources" />
			</div>
		</div>
	</div>
</div>