.frontendPage {
	width: 100%;
	height: 100%;
}
.frontendPage .middleContainer {
	width: 1000px;
	margin: 0 auto;
	overflow: auto;
}
.frontendPage .main {
	height: 600px;
	background: rgba(192, 4, 3, 0.6) url('%{media}/frontend/fpattern2.svg');
	position: relative;
}
.frontendPage .main > .middleContainer {
	padding-top: 200px;
}

.frontendPage .main > .middleContainer .title {
	text-align: center;
	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
	text-shadow: 1px 1px 2px #333;
	color: #FFF;
}
.frontendPage .main > .middleContainer .sub {
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	font-weight: normal;
	text-shadow: 1px 1px 2px #333;
	color: #FFF;
	max-width: 800px;
	margin: 40px auto;
}
.frontendPage .navBar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	line-height: 40px;
	padding: 10px 0px;
	z-index: 3;
}
.frontendPage .navBar .navigationContent .navigation .navMenu li.login {
	background: none;
	line-height: 38px;
	border: 1px solid #FFF;
	color: #FFF;
}
.frontendPage .navBar .navigationContent .navigation .navMenu li.login:hover {
	color: #FFF;
}
.frontendPage .navBar li a {
	color: #FFF !important;
	display: block;
}
.frontendPage .navBar li a:hover {
	color: #FFF;
}