<div class="devProfile">
	<section class="pheader">
		<div class="middleContainer">
			<div class="pinfo">
				<div class="ico photoContainer withPhoto" />
				<div class="contact rbutton" data-literal='{"name":"lbl_contact"}' />
			</div>
			<div class="accTitle" />
			<ul class="pnavigation">
				<li class="navitem about selected" data-literal='{"name":"lbl_nav_about"}' />
				<li class="navitem projects" data-literal='{"name":"lbl_nav_projects"}' />
			</ul>
		</div>
		<div class="navBar" />
	</section>
	<section class="pbody">
		<div id="sectionContainer" class="middleContainer panels">
			<div id="about" class="container" />
			<div id="projects" class="container" />
		</div>
	</section>
</div>