<div class="bar">
	<div class="middleContainer">
		<a data-href='{"domain":"boss","page":"/"}' target="_self">
			<div class="imgLogo" />
			<h1 class="title" data-literal='{"name":"title"}' />
		</a>
		<div class="navigation">
			<ul class="navMenu">
				<li>
					<a data-href='{"domain":"boss","page":"/features.php"}' data-literal='{"name":"lbl_menu_features"}' target="_self"/>
				</li>
				<li>
					<a data-href='{"domain":"boss","page":"/retail.php"}' data-literal='{"name":"lbl_menu_retail"}' target="_self"/>
				</li>
				<li>
					<a data-href='{"domain":"boss","page":"/international.php"}' data-literal='{"name":"lbl_menu_international"}' target="_self"/>
				</li>
				<li>
					<a data-href='{"domain":"boss","page":"/market/"}' data-literal='{"name":"lbl_menu_market"}' target="_self"/>
				</li>
				<li class="login" data-literal='{"name":"lbl_menu_login"}' />
			</ul>
		</div>
	</div>
</div>