<div class="translations">
	<div class="lcgroup locked">
		<div class="header">
			<h2 class="hd" data-literal='{"name":"lbl_lockedLiterals"}' />
		</div>
		<div class="lclist" />
	</div>
	<div class="lcgroup translations">
		<div class="header">
			<div class="selectionContainer" />
			<h2 class="hd" data-literal='{"name":"lbl_translations"}' />
		</div>
		<div class="lclist" />
	</div>
	<div class="ltDescription">
		<span class="descValue" />
	</div>
	<div class="translation_list">
		<h4 data-literal='{"name":"lbl_translationList"}' />
		<div class="list" />
	</div>
	<div class="translate">
		<h4 data-literal='{"name":"lbl_translateLiteral"}' />
		<div class="translate_formContainer" />
	</div>
	<div class="lock">
		<h4 data-literal='{"name":"lbl_lockTranslation"}' />
		<div class="lock_formContainer" />
	</div>
</div>