<div class="developerPage">
	<section class="main section">
		<div class="dev">
			<div class="middleContainer">
				<h1 class="title" data-literal='{"name":"lbl_pageTitle"}' />
				<h3 class="sub" data-literal='{"name":"lbl_pageSub"}' />
			</div>
			<div class="slideshow">
				<div class="arrow lft" />
				<div class="slideContainer">
					<div class="slide sl1 active">
						<div class="hd" data-literal='{"name":"lbl_slide_overview"}' />
					</div>
					<div class="slide sl2">
						<div class="hd" data-literal='{"name":"lbl_slide_vcs"}' />
					</div>
					<div class="slide sl3">
						<div class="hd" data-literal='{"name":"lbl_slide_testing"}' />
					</div>
					<div class="slide sl4">
						<div class="hd" data-literal='{"name":"lbl_slide_issues"}' />
					</div>
				</div>
				<div class="arrow rgt" />
				<div class="bullets">
					<span class="bull active" />
					<span class="bull" />
					<span class="bull" />
					<span class="bull" />
				</div>
			</div>
		</div>
		<div class="navBar" />
	</section>
	<section class="section banner apps rgt">
		<div class="middleContainer">
			<div class="imageContainer" />
			<div class="ban_desc">
				<h1 class="title" data-literal='{"name":"lbl_banner_apps_title"}' />
				<div class="desc" data-literal='{"name":"lbl_banner_apps_desc"}' />
			</div>
		</div>
	</section>
	<section class="section banner websites lft">
		<div class="middleContainer">
			<div class="imageContainer" />
			<div class="ban_desc">
				<h1 class="title" data-literal='{"name":"lbl_banner_websites_title"}' />
				<div class="desc" data-literal='{"name":"lbl_banner_websites_desc"}' />
			</div>
		</div>
	</section>
	<section class="section banner webcomp lft">
		<div class="middleContainer">
			<div class="imageContainer" />
			<div class="ban_desc">
				<h1 class="title" data-literal='{"name":"lbl_banner_webcomp_title"}' />
				<div class="desc" data-literal='{"name":"lbl_banner_webcomp_desc"}' />
			</div>
		</div>
	</section>
	<section class="section banner translator rgt">
		<div class="middleContainer">
			<div class="imageContainer" />
			<div class="ban_desc">
				<h1 class="title" data-literal='{"name":"lbl_banner_translator_title"}' />
				<div class="desc" data-literal='{"name":"lbl_banner_translator_desc"}' />
			</div>
		</div>
	</section>
</div>