<div class="projectContainer developerDashboard sidebarContainer openSidebar">
	<div class="navBar">
		<div class="bar">
			<div class="sideNav teamInfo">
				<div class="icon"></div>
				<h2 class="title team"></h2>
			</div>
			<div class="wbutton create" data-literal="{&quot;name&quot;:&quot;lbl_newProjectTitle&quot;}">
				<div class="ico"></div>
			</div>
			<div class="searchContainer">
				<div class="searchInnerContainer">
					<div class="searchIcoContainer">
						<div class="searchIco"></div>
					</div>
					<input type="text" class="searchInput" placeholder="Search projects..." autofocus=""></div>
			</div>
			<div class="plan">
				<div class="ico"></div>
			</div>
		</div>
	</div>
	<div class="sidebar">
		<ul class="selectionList"><li class="listContent team_projects" data-target="team" data-literal="{&quot;name&quot;:&quot;lbl_teamProjects&quot;}">
				<span class="count">0</span>
			</li>
			<li class="listContent my_projects" data-target="my" data-literal="{&quot;name&quot;:&quot;lbl_myProjects&quot;}">
				<span class="count">0</span>
			</li>
			<li class="listContent shared_projects" data-target="shared" data-literal="{&quot;name&quot;:&quot;lbl_sharedProjects&quot;}">
				<span class="count">0</span>
			</li>
			<li class="divider">
			</li><li class="listContent on_projects" data-target="online" data-literal="{&quot;name&quot;:&quot;lbl_onlineProjects&quot;}">
				<span class="count">0</span>
			</li>
			<li class="listContent off_projects" data-target="offline" data-literal="{&quot;name&quot;:&quot;lbl_offlineProjects&quot;}">
				<span class="count">0</span>
			</li>
			<li class="divider">
			</li><li class="listContent redProjects" data-target="redback" data-literal="{&quot;name&quot;:&quot;lbl_redProjects&quot;}">
				<span class="count">0</span>
			</li>
			<li class="listContent apps" data-target="apps" data-literal="{&quot;name&quot;:&quot;lbl_appProjects&quot;}">
				<span class="count">0</span>
			</li>
			<li class="listContent webProjects" data-target="websites" data-literal="{&quot;name&quot;:&quot;lbl_websiteProjects&quot;}">
				<span class="count">0</span>
			</li>
			<li class="listContent webTemplates" data-target="templates" data-literal="{&quot;name&quot;:&quot;lbl_webTemplates&quot;}">
				<span class="count">0</span>
			</li>
			<li class="listContent webExtensions" data-target="extensions" data-literal="{&quot;name&quot;:&quot;lbl_webExtensions&quot;}">
				<span class="count">0</span>
			</li>
			<div class="bundles">
				<li class="divider">
			</li></div>
			<li class="listContent new_bundle" data-literal="{&quot;name&quot;:&quot;lbl_newBundle&quot;}">
				<div class="create"></div>
			</li>
		</ul></div>
	<div class="mainContainer contentMain">
		<ul class="projectList"></ul></div>
</div>