<div class="teamCreatorDialog">
	<div class="header" data-literal='{"name":"hd_createTeam"}'>
		<div class="close_button"></div>
	</div>
	<div class="formContainer"></div>
	<div class="rContainer">
		<div class="lb" data-literal='{"name":"lbl_haveTeam"}'></div>
		<div class="rfContainer">
			<div class="tmcnt">
				<input id="team_name" name="tname" type="text" class="uiFormInput tminp small">
				<label class="tmlbl" for="team_name">.drov.io</label>
			</div>
			<button class="tmbtn small" data-literal='{"name":"lbl_go"}'></button>
		</div>
		
	</div>
</div>