<div class="loginPage">
	<div class="whiteBox">
		<div class="header">
			<div class="logo" />
			<h2 class="text">Redback</h2>
			<div class="small" data-literal='{"name":"title"}' />
		</div>
		<div class="main">
		</div>
		<div class="footer">
			<h3 class="register">
				<a data-href='{"domain":"my","page":"/register.php"}' data-literal='{"name":"lbl_not_a_member"}' target="_self" />
			</h3>
			<h4 class="forgot">
				<a data-href='{"domain":"login","page":"/reset.php"}' data-literal='{"name":"lbl_forgot_pw"}' target="_self" />
			</h4>
		</div>
	</div>
	<div class="pgFooter">
		<div class="left">
			<span>Redback&trade; &copy; </span>
		</div>
		<div class="right">
			<a data-href='{"page":"/help/"}' data-literal='{"scope":"global::notifications::center","name":"helpCenter"}' />
			<span> &bull; </span>
			<a data-href='{"domain":"my","page":"/settings/"}' class="locale" target="_blank" />
		</div>
	</div>
</div>