<div class="appDetails">
	<div class="header">
		<div class="ico" />
		<div class="close_ico" />
		<div class="title" />
		<div class="version">
			<b data-literal='{"name":"lbl_appVersion"}' />
		</div>
		<div class="appStatus" />
	</div>
	<div class="body">
		<h3 class="hd" data-literal='{"name":"lbl_appDescription"}' />
		<p class="app_desc" />
		<h3 class="hd" data-literal='{"name":"lbl_versionChangelog"}' />
		<p class="v_changelog" />
	</div>
	<div class="footer">
		<span data-literal='{"name":"lbl_bossApp"}' />
		<span>&bull;</span>
		<span data-literal='{"name":"lbl_redServices"}' />
		<span class="year" />
	</div>
</div>