<div id="OneColumnCentered_mainContent" class="uiMainContent dashboardPage">
	<h1 class="pageTitle" data-literal='{"name":"title"}' />
	<div class="projectContainer">
		<h3 class="newProject" data-literal='{"name":"lbl_newProject"}' />
		<h3 class="title" data-literal='{"name":"lbl_myProjects"}' />
		<div class="projectList" />
	</div>
	<div class="dashboardConnect">
		<div class="dc developerNews">
			<h3 class="title" data-literal='{"name":"lbl_devNewsHeader"}' />
			<p data-literal='{"name":"lbl_noNews"}' />
		</div>
		<div class="dc quickLinks">
			<h3 class="title" data-literal='{"name":"lbl_quickLinks"}' />
			<h4>
				<a data-href='{"domain":"developer","page":"/support/"}' target="_blank" data-literal='{"name":"lbl_devSupport"}' />
			</h4>
			<h4>
				<a data-href='{"domain":"developer","page":"/tools/"}' target="_blank" data-literal='{"name":"lbl_devTools"}' />
			</h4>
			<h4>
				<a data-href='{"domain":"developer","page":"/docs/"}' target="_blank" data-literal='{"name":"lbl_devDocs"}' />
			</h4>
		</div>
	</div>
</div>