.tepmlatePageEditor, .tepmlatePageEditor .outerEditorContainer, .tepmlatePageEditor .pageDesignerContainer {
	height: 100%;
}

.tepmlatePageEditor .objTool {
	display: inline-block;
	width: 16px;
	height: 16px;
	opacity: 0.7;
	cursor: pointer;
	background-image:url('%resources%/global/devIcons.svg');
	background-repeat:no-repeat;
	background-size: cover;
}

.tepmlatePageEditor .objTool:hover {
	opacity: 1.0;
}

.tepmlatePageEditor button.objTool {
	border : none;
	background-color: transparent;
}

.tepmlatePageEditor .objTool.save {
	background-position: 0px 0px;
}

.tepmlatePageEditor .objTool.settings {
	background-position: 0px -16px;
}

.tepmlatePageEditor .objTool.delete {
	background-position: 0px -32px;
}