<div class="projectSettings">
	<div class="settings settingsContainer">
		<div class="header" data-literal='{"name":"lbl_header_settings"}' />
		<div class="formContainer">
		</div>
	</div>
	
	<div class="backup settingsContainer">
		<div class="header" data-literal='{"name":"lbl_header_backup"}' />
		<div class="formContainer">
		</div>
	</div>
	
	<div class="delete settingsContainer">
		<div class="header" data-literal='{"name":"lbl_header_delete"}' />
		<div class="formContainer">
		</div>
	</div>
</div>