.scopeExplorerContainer {
	height: 100%;
}
.scopeExplorerContainer ul.scopes {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: auto;
}
.scopeExplorerContainer ul.scopes .sc {
	padding: 5px 8px;
	line-height: 14px;
	cursor: pointer;
	border-right: 3px solid transparent;
}
.scopeExplorerContainer ul.scopes .sc:hover {
	border-right: 3px solid #CCC;
}
.scopeExplorerContainer ul.scopes .sc.selected {
	border-right: 3px solid #C00403;
}

.scopeExplorerContainer .scTool {
	display: inline-block;
	width: 16px;
	height: 16px;
	opacity: 0.7;
	cursor: pointer;
	background-image: url('%resources%/global/devIcons.svg');
	background-repeat: no-repeat;
	background-size: cover;
}
.scopeExplorerContainer .scTool:hover {
	opacity: 1.0;
}
.scopeExplorerContainer .scTool.refresh {
	background-position: 0px -48px;
}
.scopeExplorerContainer .scTool.create_new {
	background-image: url('/Library/Media/c/global/toolbarIcons.svg');
	background-position: 0px -22px;
}