<div class="personalSettings">
	<h2 class="header" data-literal='{"name":"hd_personalSettings"}' />
	<div class="settings">
		<div class="srow avatar">
			<div class="shd">
				<div class="title" data-literal='{"name":"hd_profileImage"}' />
				<div class="edit" data-literal='{"name":"lbl_edit"}' />
			</div>
			<div class="sbody" />
		</div>
		<div class="srow info">
			<div class="shd">
				<div class="title" data-literal='{"name":"hd_personalInformation"}' />
				<div class="edit" data-literal='{"name":"lbl_edit"}' />
			</div>
			<div class="sbody" />
		</div>
		<div class="srow email">
			<div class="shd">
				<div class="title" data-literal='{"name":"hd_email"}' />
				<div class="edit" data-literal='{"name":"lbl_edit"}' />
			</div>
			<div class="sbody" />
		</div>
		<div class="srow geoloc">
			<div class="shd">
				<div class="title" data-literal='{"name":"hd_geoloc"}' />
				<div class="edit" data-literal='{"name":"lbl_edit"}' />
			</div>
			<div class="sbody" />
		</div>
	</div>
</div>