.landingPage {
	background: #2C4762;
	overflow: auto;
	position: relative;
}

.landingPage .middleContainer {
	max-width: 1200px;
	margin: 0 auto;
}

.landingPage .section {
	padding: 60px 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.landingPage a {
	color: #ff5252;
}
.landingPage .section-home {
	background: #2C4762;
	background-size: cover;
	overflow: auto;
	position: relative;
	height: 100vh;
	min-height: 650px;
}

.landingPage .section-home .text-center {
	text-align: center;
	margin: 50px auto;
	margin-top: 150px;
	color: #f2f2f2;
	line-height: 1.1;
}

.landingPage .section-home .text-center .banner__h1 {
	font-size: 3em;
	font-weight: 300;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	margin-bottom: 9px;
}

.landingPage .section-home .text-center .banner__h2 {
	font-size: 1.8em;
	line-height: 1.5em;
	font-weight: 300;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	margin-top: 18px;
	margin-bottom: 9px;
}

.landingPage .section-home .text-center .banner__intro {
	margin: 24px 0 48px;
	font-size: 1.2em;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.landingPage .section-home .text-center .banner__icons {
	overflow: auto;
	margin-bottom: 10px;
	position: absolute;
	bottom: 0px;
	width: 1200px;
}
.landingPage .section-home .text-center .banner__icons .bi {
	float: left;
	width: 33.33%;
	overflow: hidden;
	margin-bottom: 10px;
}

.landingPage .section-home .text-center .banner__icons .bi .ico {
	width: 75px;
	height: 75px;
	margin: 0 auto;
	margin-bottom: 40px;
	background: url('%{media}/frontend/bicons.svg') no-repeat center;
	background-size: cover;
}

.landingPage .section-home .text-center .banner__icons .bi.sdk .ico {
	background-position: 0px 0px;
}

.landingPage .section-home .text-center .banner__icons .bi.flow .ico {
	background-position: 0px -75px;
}

.landingPage .section-home .text-center .banner__icons .bi.api .ico {
	background-position: 0px -150px;
}

.landingPage .section-home .text-center .banner__icons .bi .btitle {
	text-align: center;
	color: #f2f2f2;
	font-size: 1.2em;
}

.landingPage .section-home .text-center .banner__icons .barrow {
	display: block;
	cursor: pointer;
	width: 80px;
	height: 80px;
	margin: 30px auto 0px;
	clear: both;
	background: url('%{media}/frontend/marrow.gif') no-repeat center;
	background-size: cover;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}
.landingPage .section .section__title {
	font-size: 36px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: 300;
	color: #f2f2f2;
}

.landingPage .section .section__intro {
	color: #f2f2f2;
	font-size: 16px;
	margin-bottom: 30px;
	text-align: center;
}

.landingPage .section .section__hr {
	border-top: 2px solid #ff5252;
	width: 100px;
	margin: 0 auto;
	margin-bottom: 60px;
	clear: both;
}
.landingPage .section-loginbox {
	background: #f2f2f2;
	overflow: auto;
	color: #2C4762;
}

.landingPage .section-loginbox .features {
	width: 50%;
	min-height: 150px;
	float: left;
	overflow: auto;
	margin-bottom: 50px;
}

.landingPage .section-loginbox .ft__logo {
	width: 350px;
	height: 523px;
	background: url('%{media}/frontend/products/loginbox.png') no-repeat center;
	background-size: contain;
	border: 1px solid #2C4762;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 0px auto;
}
.landingPage .section-loginbox .ft__item {
	padding: 10px 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 10px 0px;
	color: #2C4762;
}

.landingPage .section-loginbox .ft__item .ft__icon {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 30px;
	overflow: hidden;
	background: url('%{media}/frontend/features_sprite.svg') no-repeat;
	background-size: cover;
}

.landingPage .section-loginbox .ft__item .ft__content {
	overflow: hidden;
}

.landingPage .section-loginbox .ft__item .ft__title {
	font-size: 22px;
	margin-bottom: 5px;
	font-weight: 300;
	color: #2C4762;
}

.landingPage .section-loginbox .ft__item .ft__intro {
	color: #2C4762;
	font-size: 14px;
	line-height: 24px;
	margin: 0 0 5px;
}

.landingPage .section-loginbox .ft__item .ft__icon.auth {
	background-position: 0px 0px;
}

.landingPage .section-loginbox .ft__item .ft__icon.sessions {
	background-position: 0px -50px;
}

.landingPage .section-loginbox .ft__item .ft__icon.social {
	background-position: 0px -100px;
}

.landingPage .section-loginbox .ft__item .ft__icon.integration {
	background-position: 0px -150px;
}

.landingPage .section-loginbox .ft__link {
	width: 150px;
	text-align: center;
	display: block;
	margin: 20px auto 0px;
	padding: 8px 15px;
	color: #2C4762;
	border: 1px solid #2C4762;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.landingPage .section-loginbox .ft__link:hover {
	background: #2C4762;
	color: #f2f2f2;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.landingPage .section-loginbox .section__title, .landingPage .section-loginbox .section__intro {
	color: #2C4762;
}
.landingPage .section-pricing {
	background: #2C4762;
	overflow: auto;
	border-top: 1px solid #41576E;
}

.landingPage .section-pricing .prices {
	overflow: auto;
}

.landingPage .section-pricing .col__item {
	width: 25%;
	float: left;
	padding: 0px 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.landingPage .section-pricing .pricing__item {
	margin-bottom: 20px;
	background: white;
	text-align: center;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.landingPage .section-pricing .pricing__title {
	color: #333333;
	font-size: 13px;
	padding: 18px 12px;
	border-bottom: 1px solid #eeeeee;
	font-weight: 700;
	background-image: -webkit-linear-gradient(top, white 0%, #f5f5f5 100%);
	background-image: -o-linear-gradient(top, white 0%, #f5f5f5 100%);
	background-image: linear-gradient(to bottom, white 0%, #f5f5f5 100%);
	background-repeat: repeat-x;
}

.landingPage .section-pricing .pricing__price {
	padding: 10px 12px;
	border-bottom: 1px solid #eeeeee;
}

.landingPage .section-pricing .pricing-price__digit {
	font-size: 48px;
}

.landingPage .section-pricing .pricing__list {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
	color: #777777;
}

.landingPage .section-pricing .pricing__list li {
	padding: 10px 12px;
	border-bottom: 1px solid #eeeeee;
	font-size: 13px;
}

.landingPage .section-pricing .pricing__list li.more {
	display: none;
}

.landingPage .section-pricing .pricing__btn {
	padding: 18px 12px;
}

.landingPage .section-pricing .btn-price {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: default;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 13px;
	line-height: 1.42857143;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-color: rgba(0, 0, 0, 0.1);
	background: #ff5252;
	background-image: -webkit-linear-gradient(top, #ff6161 0%, #ff4343 100%);
	background-image: -o-linear-gradient(top, #ff6161 0%, #ff4343 100%);
	background-image: linear-gradient(to bottom, #ff6161 0%, #ff4343 100%);
	background-repeat: repeat-x;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.landingPage .section-pricing .btn-price:hover {
	 border-color: rgba(0, 0, 0, 0.1);
	background: #ff4343;
	background-image: -webkit-linear-gradient(top, #ff5252 0%, #ff2e2e 100%);
	background-image: -o-linear-gradient(top, #ff5252 0%, #ff2e2e 100%);
	background-image: linear-gradient(to bottom, #ff5252 0%, #ff2e2e 100%);
	background-repeat: repeat-x;
	color: white;
	outline: none;
}

.landingPage .section-pricing .pricing__body li.more, .landingPage .section-pricing .pricing__body li.less {
	display: none;
}

.landingPage .section-pricing .plan_half {
	float: left;
	width: 50%;
	padding: 50px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-bottom: 20px;
}

.landingPage .section-pricing .pl_icon {
	width: 40px;
	height: 40px;
	margin: 10px auto;
	background: url('%{media}/frontend/pricing_plans.svg') no-repeat;
	background-size: cover;
}

.landingPage .section-pricing .pl_icon.uni {
	background-position: 0px 0px;
}

.landingPage .section-pricing .pl_icon.partner {
	background-position: 0px -40px;
}

.landingPage .section-pricing .pl_icon.dev {
	background-position: 0px -80px;
}
.landingPage .section-partners {
	background: #FFF;
	overflow: auto;
	border-top: 1px solid #CCC;
}
.landingPage .section-partners .ptn-item {
	width: 33.333%;
	display: block;
	margin: 10px auto;
	overflow: auto;
	text-align: center;
}

.landingPage .section-partners .ptn-item .ptn-icon {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 15px;
	background: #051932 url('%{media}/frontend/contributors/ef_logo.png') no-repeat center;
	background-size: cover;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.landingPage .section-partners .ptn-item .ptn-title {
	font-size: 1.7em;
	margin-bottom: 10px;
	font-weight: 300;
	color: #051932;
}

.landingPage .section-partners .ptn-item .ptn-desc {
	font-size: 1.2em;
	color: #777777;
}

.landingPage footer .footer__dark {
	background-color: #2C4762;
}

.landingPage footer .footer__dark .footer__info {
	border-top: 1px solid #41576E;
}
body.hasToolbar .landingPage .section {
	padding: 110px 0px 60px;
}
body.hasToolbar .landingPage .section-home {
	padding: 110px 0px 60px;
}

body.hasToolbar .landingPage .section-home .drov-navbarContainer {
	top: 50px;
}

@media screen and (max-width: 700px) {
.landingPage .section-home .form_sub {
		margin: 1.3em 0px;
	}

.landingPage .section-features .features {
		float: none;
		width: 100%;
	}

.landingPage .section-features .ft__item {
		width: 100%;
	}

.landingPage .section-apps .apps__item {
		width: 50%;
	}

.landingPage .section-pricing .col__item {
		width: 50%;
	}

.landingPage .section-partners .ptn-item {
		width: 100%;
	}

.landingPage .section-pricing .plan_half {
		float: none;
		width: 100%;
		padding: 10px 5px;
	}
}

@media screen and (max-width: 500px) {
.landingPage .section {
		padding: 60px 5px;
	}
.landingPage .section-home .text-center {
		margin: 100px auto;
	}

.landingPage .section-home .text-center .banner__h1 {
		font-size: 2.5em;
		font-weight: 300;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
		margin-bottom: 9px;
	}

.landingPage .section-home .text-center .banner__h2 {
		font-size: 1.6em;
		line-height: 1.3em;
		font-weight: 300;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
		margin-top: 18px;
		margin-bottom: 9px;
	}

.landingPage .section-home .text-center .banner__intro {
		margin: 24px 0 48px;
		font-size: 1.2em;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	}
.landingPage .section-features .ft-banner {
		display: none;
	}

.landingPage .section-features .features {
		float: none;
		width: 100%;
	}

.landingPage .section-features .ft__item {
		width: 100%;
	}

.landingPage .section-apps .apps__item {
		width: 100%;
	}

.landingPage .section-pricing .col__item {
		width: 100%;
	}

.landingPage .section-pricing .pricing__body li {
		display: none;
	}

.landingPage .section-pricing .pricing__body.more li {
		display: block;
	}

.landingPage .section-pricing .pricing__body li:first-child {
		display: block;
	}

.landingPage .section-pricing .pricing__body li.more {
		display: block;
		cursor: pointer;
	}

.landingPage .section-pricing .pricing__body.more li.more {
		display: none;
	}

.landingPage .section-pricing .pricing__body.more li.less {
		display: block;
	}
}