<div class="applicationInfo">
	<section class="pheader">
		<div class="middleContainer">
			<div class="logoBox">
				<div class="logo" />
				<a target="_blank" class="rbutton play" data-literal='{"name":"lbl_play"}' />
			</div>
			<h1 class="projectTitle" />
			<h2 class="projectDescription" />
			<ul class="pnavigation">
				<li class="navitem about selected" data-literal='{"name":"lbl_nav_about"}' />
				<li class="navitem reviews" data-literal='{"name":"lbl_nav_reviews"}' />
			</ul>
		</div>
		<div class="navBar" />
	</section>
	<section class="pbody">
		<div id="sectionContainer" class="middleContainer panels">
			<div id="about" class="container" />
			<div id="reviews" class="container" />
		</div>
	</section>
</div>