<div class="startScreen">
	<h1 class="header" data-literal='{"name":"hd_redbackSDK"}' />
	<div class="searchContainer">
		<div class="explorerIcoContainer">
			<div class="explorerIco" />
		</div>
		<input type="text" class="searchInput" autofocus />
	</div>
	<div class="objectIco" />
	<div class="objectExplorerContainer">
		<div class="searchResults">
			<div class="results sdk">
				<h3 class="results_title" data-literal='{"name":"lbl_results_title_sdk"}' />
				<div class="rlist" />
			</div>
			<div class="results wsdk">
				<h3 class="results_title" data-literal='{"name":"lbl_results_title_wsdk"}' />
				<div class="rlist" />
			</div>
		</div>
		<ul class="topNav">
			<li class="hdNav selected" data-literal='{"name":"lbl_coreSDK"}' />
			<li class="hdNav" data-literal='{"name":"lbl_webSDK"}' />
		</ul>
		<div id="objectExplorer" class="objectExplorer">
			<div id="coreSDK" />
			<div id="webSDK" />
		</div>
	</div>
</div>