<div id="relationsContainer" class="myRelations middleContainer">
	<ul class="navigation">
		<li class="navItem teams" data-ref="teams" data-literal='{"name":"lbl_nav_teams"}' />
		<li class="navItem rel" data-ref="rel" data-literal='{"name":"lbl_nav_relations"}' />
		<li class="navItem collab" data-ref="collab" data-literal='{"name":"lbl_nav_collaborations"}' />
		<li class="navItem invitations" data-ref="invitations" />
	</ul>
	<div class="relationSections">
		<div id="teams" />
		<div id="rel">
			<h2 class="hd" data-literal='{"name":"hd_relations_disabled"}' />
		</div>
		<div id="collab">
			<h2 class="hd" data-literal='{"name":"hd_no_collaborations"}' />
		</div>
		<div id="invitations" />
	</div>
</div>