<div class="accountProfile">
	<section class="pheader">
		<div class="middleContainer">
			<div class="accTitle" />
		</div>
	</section>
	<section class="pbody">
		<div class="middleContainer navigation">
			<div class="sidebar">
				<div class="photoContainer">
				<div class="profileImage" />
			</div>
			</div>
			<div class="mainbody">
				<ul class="pnavigation">
					<li class="navitem about selected" data-literal='{"name":"lbl_nav_about"}' />
					<li class="navitem invitations" data-literal='{"name":"lbl_nav_invitations"}' />
				</ul>
			</div>
		</div>
		<div class="panels">
			<div class="middleContainer">
				<div class="sidebar">
					<div class="rbutton pr_image_editor" data-literal='{"name":"lbl_editProfileImage"}'>
						<div class="ico" />
					</div>
					<a data-href='{"domain":"www", "page":"/profile/settings/"}' target="_self" class="rbutton stbutton" data-literal='{"name":"lbl_accountSettings"}'>
						<div class="ico" />
					</a>
				</div>
				<div id="sectionContainer" class="mainbody">
					<div id="about" class="container" />
					<div id="invitations" class="container" />
				</div>
			</div>
		</div>
	</section>
</div>