.themeCssEditor {
	height: 100%;
}

.themeCssEditor .objTool {
	display: inline-block;
	width: 16px;
	height: 16px;
	opacity: 0.7;
	cursor: pointer;
	background-image:url('%resources%/global/devIcons.svg');
	background-repeat:no-repeat;
	background-size: cover;
}

.themeCssEditor .objTool:hover {
	opacity: 1.0;
}

.themeCssEditor button.objTool {
	border : none;
	background-color: transparent;
}

.themeCssEditor .objTool.save {
	background-position: 0px 0px;
}

.themeCssEditor .objTool.delete {
	background-position: 0px -32px;
}

.themeCssEditor .objTool.test {
	background-position: 0px -48px;
}