.loginPopup {
	position: relative;
	background: rgba(255, 255, 255, 0.9);
	padding: 15px;
	text-align: center;
	width: 800px;
	margin: 0 auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.loginPopup .header .lside {
	width: 50%;
	float: left;
}
.loginPopup .logo {
	width: 75px;
	height: 75px;
	margin: 10px;
	float: left;
	background: url('%resources%/logos/logo_100.png') no-repeat center;
	background-size: cover;
}
.loginPopup .header .text {
	font-size: 20px;
	margin: 10px 0px;
	line-height: 75px;
	text-align: left;
}
.loginPopup .header .small {
	line-height: 75px;
	font-weight: normal;
	font-size: 24px;
	float: left;
	color: #C00403;
	margin: 10px 0px;
	padding: 0px 10px;
}
.loginPopup .header .close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 24px;
	height: 24px;
	background: url('%{media}/global/closeX.svg') no-repeat center;
	background-position: 0px -24px;
	background-size: cover;
	cursor: pointer;
}
.loginPopup .main {
	clear: both;
	overflow: auto;
}
.loginPopup .main .side {
	width: 50%;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 10px;
}
.loginPopup .side.leftSide {
	border-right: 1px solid #CCC;
	text-align: center;
}
.loginPopup .side.leftSide .title {
	font-size: 18px;
	color: #777;
	font-weight: normal;
	margin: 8px 0px;
}
.loginPopup .side.leftSide .sub {
	font-size: 13px;
	color: #777;
	font-weight: normal;
	margin: 5px 0px;
}
.loginPopup .lpinp {
	width: 100%;
	padding: 5px 8px;
	margin: 5px 0px;
	font-size: 14px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-color: #777;
	color: #777;
	outline: none;
}
.loginPopup button[type='submit'] {
	padding: 8px 10px;
	width: 150px;
	margin: 10px auto;
	font-size: 16px;
}
.loginPopup .rcont {
	margin-top: 10px;
}
.loginPopup .rocnt {
	width: 50%;
	float: left;
	padding: 5px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.loginPopup .rocnt .ricnt {
	background: linear-gradient(#FEFEFE, #f0f0f0);
	border: 1px solid #CCC;
	border-color: #cdced0 #c5c6c8 #b6b7b9;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.loginPopup .rocnt .ricnt label {
	display: block;
	padding: 10px 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.loginPopup .rocnt.selected .ricnt {
	background: linear-gradient(rgb(45, 171, 220), rgb(14, 149, 211));
	border: 1px solid rgb(10, 104, 146);
	color: #FFF;
}
.loginPopup .rocnt .ricnt input[type='radio'] {
	display: none;
}
.loginPopup .rnotes {
	color: rgb(10, 104, 146);
	font-size: 10px;
	text-align: center;
	padding-top: 5px;
	clear: both;
}
.loginPopup .rnotes .nt {
	display: none;
}
.loginPopup .rnotes .nt.selected {
	display: inline-block;
}
.loginPopup .footer {
	border-top: 1px solid #CCC;
	margin-top: 10px;
	color: #777;
	font-weight: normal;
}
.loginPopup .footer h4 {
	text-align: left;
	display: inline-block;
	padding: 0px 5px;
	margin: 5px 0px;
}
.loginPopup .footer .register a {
	color: #C00403;
}
.loginPopup .footer .register:hover a {
	text-decoration: underline;
}
.loginPopup .footer .forgot a {
	color: #777;
}
.loginPopup .footer .forgot:hover a {
	text-decoration: underline;
}