<div class="websiteOverview with_tasks">
	<div class="middleContainer">
		<div class="wbutton qAction publish" data-literal='{"name":"lbl_publish"}' />
		<div class="header" data-literal='{"name":"hd_websiteOvierview"}' />
		<div class="whiteBox complete_tasks">
			<div class="close_ico" />
			<div class="header" data-literal='{"name":"hd_complete_header"}' />
			<div class="rtask server">
				<div class="status" />
				<div class="title" data-literal='{"name":"lbl_task_server_title"}' />
			</div>
			<div class="rtask url">
				<div class="status" />
				<div class="title" data-literal='{"name":"lbl_task_url_title"}' />
			</div>
			<div class="rtask meta">
				<div class="status" />
				<div class="title" data-literal='{"name":"lbl_task_meta_title"}' />
			</div>
			<div class="progress_bar" />
		</div>
		<div class="whiteBox main">
			<div class="box projectStatus">
				<div class="ico" />
				<div class="sub">
					<div class="title" />
				</div>
			</div>
			<div class="box projectHealth">
				<div class="ico" />
				<div class="sub">
					<div class="title" />
				</div>
			</div>
		</div>
	</div>
</div>