<div class="navbar__hr" />
<div class="navbar" role="navigation">
	<div class="middleContainer">
		<div class="navbar-logo">
			<a class="navbar-brand" data-href='{"page":"/"}' target="_self">Drovio</a>
		</div>
		<div class="navbar-menu">
			<ul class="nav navbar-nav navbar-right">
				<li><a data-href='{"domain":"www","page":"/appstore/"}' target="_self">App Store</a></li>
				<li><a data-href='{"domain":"developers","page":"/"}' target="_self">Developers</a></li>
			</ul>
		</div> 
	</div> 
</div>