<div class="webDesigner sidebarContainer openSidebar">
	<div class="website-navbar">
		<div class="bar">
			<div class="sideNav">
				<div class="icon" />
			</div>
			<div class="webInfoContainer">
				<div class="projectImage" />
				<h1 class="projectTitle" />
			</div>
		</div>
	</div>
	<div class="website-sidebar">
		<ul class="webMenu">
			<li class="menuItem overview">
				<a target="_self" >
					<span class="ico" />
					<span class="reload" />
					<h3 class="title" data-literal='{"name":"lbl_websiteOverviewTitle"}' />
				</a>
			</li>
			<li class="divider" />
			<li class="menuItem pages">
				<a target="_blank" >
					<span class="ico" />
					<span class="reload" />
					<h3 class="title" data-literal='{"name":"lbl_websitePagesTitle"}' />
				</a>
			</li>
			<li class="menuItem templates">
				<a target="_self" >
					<span class="ico" />
					<span class="reload" />
					<h3 class="title" data-literal='{"name":"lbl_websiteTemplatesTitle"}' />
				</a>
			</li>
			<li class="menuItem source">
				<a target="_self" >
					<span class="ico" />
					<span class="reload" />
					<h3 class="title" data-literal='{"name":"lbl_websiteSourceTitle"}' />
				</a>
			</li>
			<li class="divider" />
			<li class="menuItem preview">
				<a target="_self" >
					<span class="ico" />
					<span class="reload" />
					<h3 class="title" data-literal='{"name":"lbl_websitePreviewTitle"}' />
				</a>
			</li>
			<li class="divider" />
			<li class="menuItem resources">
				<a target="_self" >
					<span class="ico" />
					<span class="reload" />
					<h3 class="title" data-literal='{"name":"lbl_websiteResourcesTitle"}' />
				</a>
			</li>
			<li class="menuItem settings">
				<a target="_self" >
					<span class="ico" />
					<span class="reload" />
					<h3 class="title" data-literal='{"name":"lbl_websiteSettingsTitle"}' />
				</a>
			</li>
		</ul>
	</div>
	<div id="webContainer" class="webContent website-content" />
</div>