<div class="teamInfo">
	<div class="infoViewer">
		<div class="editor" data-literal="{&quot;name&quot;:&quot;lbl_editInfo&quot;}">
			<div class="ico"></div>
		</div>
		<ul class="informationList">
			<li class="infoItem uname">
				<div class="infoName" data-literal="{&quot;name&quot;:&quot;lbl_info_uname&quot;}"></div>
				<div class="infoValue"></div>
			</li>
			<li class="infoItem name">
				<div class="infoName" data-literal="{&quot;name&quot;:&quot;lbl_info_name&quot;}"></div>
				<div class="infoValue"></div>
			</li>
			<li class="infoItem description">
				<div class="infoName" data-literal="{&quot;name&quot;:&quot;lbl_info_description&quot;}"></div>
				<div class="infoValue"></div>
			</li>
			<li class="infoItem website_url">
				<div class="infoName" data-literal="{&quot;name&quot;:&quot;lbl_info_website_url&quot;}"></div>
				<div class="infoValue"></div>
			</li>
			<li class="infoItem public_profile">
				<div class="infoName" data-literal="{&quot;name&quot;:&quot;lbl_info_public_profile&quot;}"></div>
				<div class="infoValue"></div>
			</li>
			<li class="infoItem teamid">
				<div class="infoName" data-literal="{&quot;name&quot;:&quot;lbl_info_teamid&quot;}"></div>
				<div class="infoValue"></div>
			</li>
		</ul>
	</div>
	<div class="infoEditor noDisplay"></div>
</div>