.vcsReleasesContainer,
.vcsReleasesContainer .vcsReleases {
	height: 100%;
	overflow: auto;
}
.vcsReleases .panel {
	height: 100%;
	width: 50%;
	float: left;
	overflow: auto;
}
.vcsReleases .releasePackagesContainer {
	border-right: 1px solid #CCC;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.vcsReleases .releasePackagesContainer .newRelease {
	border-bottom: 1px solid #CCC;
	line-height: 50px;
	overflow: auto;
	padding: 10px;
	font-size: 12px;
}
.vcsReleases .releasePackagesContainer .directions {
	float: left;
	padding: 10px;
}
.vcsReleases .releasePackagesContainer .releaseBtn {
	padding: 10px;
	float: left;
	margin-left: 10px;
	margin-right: 15px;
	border: 1px solid #555;
	color: #555;
	cursor: pointer;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	text-align: center;
	background: #FFF;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.vcsReleases .releaseBtn:hover {
	background: #555;
	color: #FFF;
}
.vcsReleases .packageRow {
	line-height: 18px;
	padding: 5px;
	border-bottom: 1px solid #CCC;
	color: #555;
}
.vcsReleases .packageRow .releaseTitle {
	margin: 0px;
	color: #656565;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
	font-size: 12px;
}
.vcsReleases .packageRow .releaseVersion {
	font-size: 11px;
	color: #777;
}
.vcsReleases .packageRow .releaseDate {
	color: #999;
}
.vcsReleases .packageRow .showHistory {
	float: right;
	cursor: pointer;
	padding: 3px 5px;
	color: #555;
	border: 1px solid #555;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 4px 0px;
}
.vcsReleases .packageRow .showHistory:hover,
.vcsReleases .packageRow .showHistory.selected {
	background: #555;
	color: #FFF;
}