<div class="audienceSettings">
	<div class="audience">
		<h2 class="header" data-literal='{"name":"lbl_audienceSettings"}' />
		<div class="switches">
			<div class="srow apc">
				<div class="ico"></div>
				<div class="switchContainer" />
				<h3 class="stitle" data-literal='{"name":"hd_switch_apc_title"}' />
				<p class="sdesc" data-literal='{"name":"hd_switch_apc_desc"}' />
			</div>
			<div class="srow enp">
				<div class="ico"></div>
				<div class="switchContainer" />
				<h3 class="stitle" data-literal='{"name":"hd_switch_enp_title"}' />
				<p class="sdesc" data-literal='{"name":"hd_switch_enp_desc"}' />
			</div>
		</div>
	</div>
	<div class="privateSettings">
		<h2 class="header" data-literal='{"name":"hd_enp_private"}' />
		<p class="desc" data-literal='{"name":"lbl_private_teams_desc"}' />
		<div class="teamList" />
		<div class="searchContainer">
			<p class="desc" data-literal='{"name":"lbl_boss_privateSettings_search"}' />
			<div class="searchForm" />
			<div class="searchResultsContainer" />
		</div>
	</div>
</div>