.startScreen .header {
	color: #555;
	text-align: center;
	font-weight: normal;
	margin-top: 50px;
	margin-bottom: 30px;
}
.startScreen .objectIco {
	width: 100px;
	height: 100px;
	padding: 25px;
	margin: 0 auto;
	margin-top: 100px;
	border: 1px solid #CCC;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: url('%{media}/developer/docs/sdkObject.svg') no-repeat center;
	background-size: 100px;
}
.startScreen.open .bigTiles {
	display: none;
}
.startScreen .bigTiles {
	width: 600px;
	margin: 30px auto;
	overflow: auto;
}
.startScreen .bigTiles .bigTile {
	display: table-cell;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
	overflow: auto;
	width: 150px;
}
.startScreen .bigTiles .bigTile a {
	display: block;
	color: #666;
	overflow: auto;
}
.startScreen .bigTiles .bigTile a:hover {
	color: #333;
}
.startScreen .bigTiles .bigTile .ico {
	width: 120px;
	height: 120px;
	padding: 20px;
	margin: 20px auto;
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: url('%{media}/developer/docCategories.svg') no-repeat center;
	background-size: cover;
	border: 1px solid #999;
	border-radius: 50%;
}
.startScreen .bigTiles .bigTile a:hover .ico {
	box-shadow: 0px 0px 8px #777;
	-webkit-box-shadow: 0px 0px 8px #777;
	-moz-box-shadow: 0px 0px 8px #777;
}
.startScreen .bigTiles .bigTile .title {
	text-align: center;
	margin: 10px 0px;
	font-weight: normal;
}
.startScreen .bigTiles .bigTile.basics .ico {
	background-position: 0px 0px;
}
.startScreen .bigTiles .bigTile.projects .ico {
	background-position: 0px -120px;
}
.startScreen .bigTiles .bigTile.apps .ico {
	background-position: 0px -240px;
}
.startScreen .bigTiles .bigTile.web .ico {
	background-position: 0px -360px;
}
.startScreen .bigTiles .bigTile.tutorials .ico {
	background-position: 0px -480px;
}
.startScreen .bigTiles .bigTile.sdk .ico {
	background-position: 0px -600px;
}
.startScreen .searchContainer {
	overflow: auto;
	border: 1px solid #CCC;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: #FFF;
	padding: 8px;
}
.startScreen .searchContainer .explorerIcoContainer {
	float: right;
	width: 20px;
	height: 20px;
	padding: 6px;
	cursor: pointer;
	opacity: 0.6;
}
.startScreen .searchContainer .explorerIcoContainer:hover,
.startScreen.open .searchContainer .explorerIcoContainer {
	opacity: 1;
}
.startScreen .searchContainer .explorerIco {
	width: 20px;
	height: 20px;
	background: url('%{media}/developer/docs/searchMenuIco.svg') no-repeat center;
	background-size: cover;
	background-position: 0px 0px;
	overflow: hidden;
}
.startScreen.searching .searchContainer .explorerIco {
	background-position: 0px -20px;
}
.startScreen .searchContainer .searchInput {
	float: left;
	line-height: 20px;
	font-size: 14px;
	color: #555;
	padding: 6px;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width: 90%;
	outline: none;
}


.startScreen .objectExplorerContainer {
	display: none;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-top: 10px;
}
.startScreen.open .objectExplorerContainer {
	display: block;
}
.startScreen .objectExplorerContainer .searchResults {
	display: none;
}
.startScreen .objectExplorerContainer .searchResults .results {
	margin-bottom: 20px;
}
.startScreen .objectExplorerContainer .searchResults .results:last-child {
	margin-bottom: none;
}
.startScreen .objectExplorerContainer .searchResults .results_title {
	color: #555;
	font-size: 16px;
	border-bottom: 1px solid #999;
	font-weight: normal;
	padding: 5px;
}
.startScreen .objectExplorerContainer .searchResults .sr {
	display: block;
	padding: 4px 2px;
}
.startScreen .objectExplorerContainer .searchResults .sr:hover {
	background: #EEE;
}
.startScreen.searching .objectExplorerContainer .searchResults {
	display: block;
}
.startScreen.searching .objectExplorerContainer .topNav {
	display: none;
}
.startScreen.searching .objectExplorerContainer .objectExplorer {
	display: none;
}
.startScreen .objectExplorerContainer .topNav {
	margin: 0px;
	list-style-type: none;
	padding: 0px;
	overflow: auto;
	margin-bottom: 20px;
}
.startScreen .objectExplorerContainer .topNav .hdNav {
	float: left;
	width: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 3px 5px;
	border-bottom: 3px solid transparent;
	color: #777;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
.startScreen .objectExplorerContainer .topNav .hdNav:hover {
	border-bottom: 3px solid #CCC;
	color: #555;
}
.startScreen .objectExplorerContainer .topNav .hdNav.selected {
	border-bottom: 3px solid #C00403;
	color: #555;
}
.startScreen .objectExplorerContainer .objectExplorer {
	overflow: auto;
}
.startScreen .objectExplorerContainer .contentIcon {
	width:16px;
	height:16px;
	background-size: 16px;
	background-repeat: no-repeat;
	display:inline-block;
	margin-right:3px;
	vertical-align:-4px;
	background-image: url('%resources%/developer/icons/fileThumbs.svg');
	background-size: cover;
}
.startScreen .objectExplorerContainer .contentIcon.libIco {
	background-position:0px 0px;
}
.startScreen .objectExplorerContainer .contentIcon.pkgIco {
	background-position:0px -32px;
}
.startScreen .objectExplorerContainer .open > :not(ul):not(.subTreeView) .contentIcon.pkgIco {
	background-position:0px -16px;
}
.startScreen .objectExplorerContainer .contentIcon.fldIco {
	background-position:0px -48px;
}
.startScreen .objectExplorerContainer .contentIcon.flIco {
	background-position:0px -64px;
}