<div class="bar">
	<div class="middleContainer">
		<a data-href='{"domain":"web","page":"/"}' target="_self">
			<div class="imgLogo" />
			<h1 class="title">Web Engine</h1>
		</a>
		<div class="navigation">
			<ul class="navMenu">
				<li>
					<a data-href='{"domain":"web","page":"/pricing.php"}' data-literal='{"name":"lbl_menu_pricing"}' target="_self"/>
				</li>
				<li>
					<a data-href='{"domain":"web","page":"/market/"}' data-literal='{"name":"lbl_menu_market"}' target="_self"/>
				</li>
				<li class="login" data-literal='{"name":"lbl_menu_login"}' />
			</ul>
		</div>
	</div>
</div>