<div class="prjHmHeader"> 
	<div class="projectStatusContainer" />
	<div class="projectImage" />
	<div class="projectInfo">
		<h1 class="projectTitle" />
		<span class="projectName" />
	</div>
</div>
<div class="prjHmBody">
	<div class="sidebar">
		<ul class="prjMenu">
			<li class="menuItem overview">
				<a target="_self" >
					<span class="ico" />
					<h3 class="title" data-literal='{"name":"lbl_websiteOverviewTitle"}' />
				</a>
			</li>
			<li class="menuItem pages">
				<a target="_blank" >
					<span class="ico" />
					<h3 class="title" data-literal='{"name":"lbl_websitePagesEditorTitle"}' />
				</a>
			</li>
			<li class="menuItem source">
				<a target="_self" >
					<span class="ico" />
					<h3 class="title" data-literal='{"name":"lbl_websiteSourceEditorTitle"}' />
				</a>
			</li>
			<li class="menuItem templates">
				<a target="_self" >
					<span class="ico" />
					<h3 class="title" data-literal='{"name":"lbl_templatesEditorTitle"}' />
				</a>
			</li>
			<li class="menuItem themes">
				<a target="_self" >
					<span class="ico" />
					<h3 class="title" data-literal='{"name":"lbl_websiteThemesEditorTitle"}' />
				</a>
			</li>
			<li class="menuItem settings">
				<a target="_self" >
					<span class="ico" />
					<h3 class="title" data-literal='{"name":"lbl_websiteSettingsTitle"}' />
				</a>
			</li>			
		</ul>
	</div>
	<div class="prjContent" />
</div>