<div class="bar">
	<div class="middleContainer">
		<a data-href='{"domain":"open","page":"/"}' target="_self">
			<div class="imgLogo" />
			<h1 class="title">Open Redback</h1>
		</a>
		<div class="navigation">
			<ul class="navMenu">
				<li>
					<a data-href='{"domain":"open","page":"/data/"}' data-literal='{"name":"lbl_menu_opendata"}' target="target="_self"/>
				</li>
				<li>
					<a data-href='{"domain":"open","page":"/developers.php"}' data-literal='{"name":"lbl_menu_developers"}' target="_self"/>
				</li>
				<li>
					<a data-href='{"domain":"open","page":"/projects/"}' data-literal='{"name":"lbl_menu_projects"}' target="target="_self"/>
				</li>
				<li class="login" data-literal='{"name":"lbl_menu_login"}' />
			</ul>
		</div>
	</div>
</div>