<div class="frontendPage">
	<div class="navBar">
		<div class="bar">
			<div class="middleContainer">
				<div class="navigation">
					<ul class="navMenu">
						<li>
							<a data-href='{"domain":"developers","page":"/"}' data-literal='{"name":"lbl_menu_developers"}' target="_self"/>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<section class="fsection main">
		<div class="middleContainer">
			<div class="logo" />
			<h1 class="ptitle" data-literal='{"name":"lbl_main_title"}' />
			<h3 class="psub" data-literal='{"name":"lbl_main_sub"}' />
			<div class="connect">
				<div class="wbutton team">SIGN UP</div>
				<a data-href='{"domain":"developers","page":"/"}' target="_self" class="wbutton developers">CREATE AN APP</a>
			</div>
		</div>
	</section>
	<section class="fsection apps">
		<div class="middleContainer">
			<h1 class="ptitle" data-literal='{"name":"lbl_apps_title"}' />
			<h3 class="psub" data-literal='{"name":"lbl_apps_sub"}' />
			<div class="app_tiles">
				<div class="at relations" />
				<div class="at messages" />
				<div class="at calendar" />
				<div class="at store" />
				<div class="at settings" />
			</div>
		</div>
	</section>
</div>