<div id="OneColumnCentered_mainContent" class="uiMainContent">
	<section class="header">
		<div class="projectImage" />
		<div class="projectActions">
			<div class="editInfoBtn action" />
			<div class="projectPublisher action" />
		</div>
		<div class="projectInfo">
			<h1 class="projectTitle" />
			<span class="projectName" />
			<h4 class="projectDescription" />
		</div>
	</section>
	<section class="nav">
		<div class="designer navBox">
			<h3 class="title" />
			<div class="img" />
		</div>
		<div class="resources navBox">
			<h3 class="title" />
			<div class="img" />
		</div>
		<div class="repository navBox">
			<h3 class="title" />
			<div class="img" />
		</div>
		<div class="analysis navBox">
			<h3 class="title" />
			<div class="img" />
		</div>
		<div class="security navBox">
			<h3 class="title" />
			<div class="img" />
		</div>
		<div class="tester navBox">
			<h3 class="title" />
			<div class="img" />
		</div>
	</section>
	<section class="issuesMembers">
		<div class="projectIssues infoBox">
			<h3 class="title" />
			<div class="issuesList infoList" />
		</div>
		<div class="projectMembers infoBox">
			<span class="manage" />
			<h3 class="title" />
			<div class="memberList infoList" />
		</div>
	</section>
	<section class="projectReports infoBox">
		<h3 class="title" />
		<div class="reportsList infoList" />
	</section>
</div>