.projectRepositoryPage .releaseRow {
	padding: 5px;
	border-bottom: 1px solid rgba(166, 166, 166, 1);
}
.projectRepositoryPage .releaseRow:last-child {
	border:none;
}
.projectRepositoryPage .releaseRow .releaseDate {
	float: right;
	color: #999;
}
.projectRepositoryPage .releaseRow .releaseTitle {
	margin: 0px;
	font-weight: normal;
	color: #656565;
}
.projectRepositoryPage .releaseRow.packageRow .releaseTitle {
	font-weight: bold;
	font-size: 12px;
	color: #000;
}