<div class="openProject">
	<div class="info">
		<div class="middleContainer">
			<div class="logoBox">
				<div class="logo" />
				<div class="authors" />
				<div class="request" data-literal='{"name":"lbl_request_invite"}' />
			</div>
			<div class="projectTitle" />
			<div class="projectDescription" />
			<ul class="navigation">
				<li class="navitem repository selected" data-literal='{"name":"lbl_nav_repository"}' />
				<li class="navitem issues" data-literal='{"name":"lbl_nav_issues"}' />
			</ul>
		</div>
	</div>
	<div class="body">
		<div id="sectionContainer" class="middleContainer panels">
			<div id="repository" class="container" />
			<div id="issues" class="container" />
		</div>
	</div>
</div>