<div class="developerNavContent">
	<ul class="navMenu">
		<li class="navMenuItem prjHome">
			<a target="_self" data-literal='{"name":"tlb_projectHome"}' />
		</li>
		<li class="navMenuItem prjRepository">
			<a target="_self" data-literal='{"name":"tlb_projectRepository"}' />
		</li>
		<li class="navMenuItem prjResources">
			<a target="_self" data-literal='{"name":"tlb_projectResources"}' />
		</li>
		<li class="navMenuItem prjPreview">
			<a target="_self" data-literal='{"name":"tlb_projectPreview"}' />
		</li>
	</ul>
</div>