.devAPIPage .head .title {
	font-size: 26px;
	color: #C00403;
}
.devAPIPage h3.sub {
	line-height: 18px;
	font-weight: normal;
}
.devAPIPage .reference {
	margin-top: 50px;
}
.devAPIPage .box {
	padding: 5px;
	border-bottom: 1px solid #CCC;
}
.devAPIPage .box:last-child {
	border: none;
}