<div class="applicationInfo">
	<div class="middleContainer">
		<div class="sidebar">
			<div class="appIcon" />
			<a target="_self" class="navitem play active" data-literal='{"name":"lbl_play"}'>
				<div class="ico" />
			</a>
			<ul class="pnavigation">
				<li class="navitem about selected" data-literal='{"name":"lbl_nav_about"}'>
					<div class="ico" />
				</li>
				<li class="navitem reviews" data-literal='{"name":"lbl_nav_reviews"}'>
					<div class="ico" />
				</li>
				<li class="navitem changelog" data-literal='{"name":"lbl_nav_changelog"}'>
					<div class="ico" />
				</li>
				<li class="navitem details" data-literal='{"name":"lbl_nav_details"}'>
					<div class="ico" />
				</li>
			</ul>
		</div>
		<div class="mainbody">
			<div class="appTitle" />
			<div id="sectionContainer" class="sectionbody" />
		</div>
	</div>
</div>